page-bill-full-amount {
    >.content {
        >.scroll-content {
            padding-bottom: 76px;
        }
    }
    .slider-subtitle {
        background: #FFF;
        border-bottom: 1px solid #CCC;
        height: 30px;
        padding: 6px 20px 10px 20px;
        font-size: 12px;
        color: #666;
        letter-spacing: 0;
        line-height: 12px;
    }
    .subtitle {
        height: 50px;
        padding: 20px 17px 10px;
        font-size: 18px;
        color: #000;
    }
    .disabled {
        pointer-events: none;
    }
    .payment-container {
        border-top: 1px solid #CCC;
    }
    .internet-card-container-payment-visa {
        padding-bottom: 24px;
        background: #fff;
    }
    .payment-slider-visa {
        background: #FFF;
        height: 36px;
        font-size: 12px;
        color: #666;
        letter-spacing: 0;
        line-height: 12px;
        margin-bottom: 4px;
        position: relative;
        ion-icon {
            position: absolute;
            top: 23px;
            left: 20px;
        }
        span {
            /* Single-line item: */
            font-size: 14px;
            color: #333333;
            line-height: 14px;
            position: absolute;
            left: 55px;
            top: 25px;
        }
        button {
            position: absolute;
            top: 22px;
            right: 19px;
            background-color: transparent;
            color: $primary-Color;
            font-family: $font-familyBold;
            font-size: 14px;
            line-height: 14px;
        }
    }
    .reload-container {
        background: #FFFFFF;
        height: 140px;
        width: 100%;
        padding-bottom: 100px;
        .phoneNumber {
            padding-left: 17px;
            padding-top: 20px;
            span {
                font-size: 20px;
                color: #333333;
                line-height: 20px;
            }
        }
        .inputItem {
            padding-top: 15px;
            padding-left: 17px;
            padding-right: 17px;
            .item-inner {
                border-bottom: 0.55px solid #999;
                
                  .input-wrapper{
                        input{
                            margin:11px 8px 0px 0px;
                        }
                }

            }
        }
    }
    .button-container {
        z-index: 100;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.15);
        .default-button {
            width: calc(100% - 20px);
            margin: 16px 10px;
        }
    }
}

.XPAX {
    page-bill-full-amount {
        .internet-card {
            .internet-card-subtitle {
                color: $XPAX-primary-Color !important;
            }
            .internet-card-title {
                ion-icon {
                    background-color: $XPAX-primary-Color;
                }
            }
        }
        .payment-slider-visa {
            button {
                color: $XPAX-primary-Color;
            }
        }
    }
}