<!--
  Generated template for the BillFullAmountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!-- (dueAmountEmitter)="paybillAmount= $event" [dueBillAmount]="paybillAmount" -->
<ion-content>
        <div class="reload-container">
            <div class="phoneNumber">
                <span>Total Due</span>
            </div>
           
			<ion-item class="inputItem" [ngClass]="{'disabled': fullAmountDisable==true}">
                <ion-input maxlength="20" type="tel" placeholder="RM0.00" [ngModel]="amountShow | RMprice" autofocus readonly (keyup.enter)="handlePin($event)"></ion-input>
            </ion-item>
    </div>
       <!-- <div class="slider-subtitle">
        please choose a reload amount to move forward
    </div> -->
    <div class="subtitle">
        Payment Method
    </div>
	<div class="internet-card-container-payment-visa">
    <ion-scroll [ngClass]="{'disabled': disable==true}" class="internet-card-container payment-container" scrollX="true">
        <div  *ngFor="let item of paymentMethod;let i = index" (click)="addCss(i)" [ngClass]="{'selected': i==indexValue}" class="internet-card payment selected float-left">
            <span class="internet-card-title">
                <ion-icon name="{{item.icon}}"></ion-icon>
            </span>
            <span class="internet-card-subtitle">
                <span>{{item.type}}</span>
            </span>
        </div>
      
    </ion-scroll>
    <div *ngIf="Cardflag" class="payment-slider-visa">
        <div>
            <ion-icon name="custom-reload-credit-card"></ion-icon>
            <span>{{selectedCard}}</span>
            <button (click)="presentingChangeCreditModal()">
                Edit
              </button>
        </div>
    </div>
	</div>
    <div class="button-container" ion-fixed>
        <button ion-button class="default-button" (click)="goToPay()" [disabled]="nextDisable">
        Next
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>