<!--
  Generated template for the PageSettingsMyAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border no-lines>
    <ion-title>My Account</ion-title>
    <ion-buttons end>
      <button ion-button>Edit</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- user profile -->
  <ion-list>

    <div ion-item (click)="editProfileClick()">
      <ion-avatar>
        <div class="profile-img-holder">
          <img src="./assets/img/avatar.png">
          <ion-icon name="create"></ion-icon>
        </div>
      </ion-avatar>
    </div>


    <div ion-item>
      <ion-label floating>Fist Name</ion-label>
      <ion-input type="text" value="Michelle" (keyup.enter)="handleKeyDone($event)"></ion-input>
    </div>

    <div ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" value="Chan" (keyup.enter)="handleKeyDone($event)"></ion-input>
    </div>


    <div ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input type="phone" value="+601112345678" (keyup.enter)="handleKeyDone($event)"></ion-input>
    </div>

    <button ion-item (click)="navToResetPassword()">
      <ion-label floating>Password</ion-label>
      <ion-input contenteditable="false" type="password" value="password" (keyup.enter)="handleKeyDone($event)"></ion-input>
    </button>


    <div ion-item>
      <ion-label floating>Email ID</ion-label>
      <ion-input type="email" value="Michellechan@celcom.my.com" (keyup.enter)="handleKeyDone($event)"></ion-input>
    </div>
  </ion-list>


</ion-content>
