<!--
  Generated template for the PayBillPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>Pay Bill</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="reload-content">
    <div ion-fixed>
        <ion-grid class="grid-background">
            <ion-row>
                <ion-col col-4>
                    <span class="left-col-title"> Mobile Number</span>
                    <div class="dropdown-numbers" (click)="presentPopover($event)">
                        <span class="dropdown-number-title"> {{selected}}</span>
                        <i class="arrow-down-icon"></i>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="vadility-container">
                        <div class="vadility-title">
                            <span>Bill Due Date</span>
                        </div>
                        <div class="vadility-date">
                            <span>{{billingDate}}</span>
                        </div>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="balance-container">
                        <div class="vadility-title">
                            <span>Amount Due</span>
                        </div>
                        <div class="vadility-date">
                            <span>{{totalAmount | RMprice}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>

        <div class="subtitle">
            <div>Choose Bill method</div>
        </div>
    </div>
    <super-tabs id="billTab">
        <super-tab [root]="tab1Page" title="Full Amount" icon="custom-reload-bill-fullamount"></super-tab>
        <super-tab [root]="tab2Page" title="Other Amount" icon="custom-reload-bill-otheramount"></super-tab>
        <super-tab [root]="tab3Page" title="Reload PIN" icon="custom-reload-group"></super-tab>
    </super-tabs>
</ion-content>