page-on-boarding-guide {
    .content {
        background: url("../assets/img/onboarding/calcom/background.png");
        background-size: 100% auto;
    }
    .onboarding-celcom {
        height: 100%;
        display: block;
    }
    .onboarding-xpax {
        height: 100%;
        display: none;
    }
    .content {
        padding: 0 !important;
        .scroll-content {
            padding: 0 !important
        }
    }
    .swiper-slide {
        .OnBoarding-div {
            height: 100%;
            .title-container {
                padding-top: 30px;
                .title {
                    /* Experience: */
                    font-family: $font-familyBold;
                    font-size: 32px;
                    color: #ffffff;
                    line-height: 32px;
                    width: 100%;
                }
                .sub-title {
                    font-family: $font-family;
                    font-size: 14px;
                    color: #ffffff;
                    letter-spacing: 0.4px;
                    line-height: 20px;
                    padding: 10px 20px 0;
                    width: 100%;
                    height: 50px;
                    &.small {
                        font-size: 14px !important;
                    }
                }
            }
            .phone-container {
                height: calc(100% - 152px);
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .swiper-pagination-bullet-active {
        background: #ffffff;
    }
    .slide-zoom {
        height: 100% !important;
    }
    .swiper-slide img {
        // width: 100%;
        // height: 100%
    }
    .swiper-pagination {
        bottom: 25px !important;
    }
    .skipActionBtn {
        position: absolute;
        right: 5px;
        bottom: 24px;
        font-size: 14px;
        button {
            background-color: transparent !important;
        }
        span {
            color: #fff;
            font-size: 14px;
            font-family: $font-familyBold;
            line-height: 14px;
            letter-spacing: 0.6px;
            color: #ffffff;
        }
        .arrow-forward-icon {
            background-color: #ffffff;
            display: inline-block;
            width: 8px !important;
            height: 10px !important;
        }
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
        .skipActionBtn {
            position: absolute;
            right: 5px;
            bottom: 24px;
            font-size: 14px;
            button {
                background-color: transparent !important;
            }
            span {
                font-size: 14px;
                font-family: $font-familyBold;
                line-height: 14px;
                letter-spacing: 0.6px;
            }
            .arrow-forward-icon {
                background-color: #ffffff;
                display: inline-block;
                width: 8px !important;
                height: 10px !important;
            }
        }
    }
}

.XPAX {
    page-on-boarding-guide {
        .content {
            background: url("../assets/img/onboarding/xpax/background.png") #fff;
            background-size: 100% auto;
        }
        .swiper-slide {
            .OnBoarding-div {
                .title-container {
                    .title {
                        color: #FFFFFF;
                    }
                    .sub-title {
                        color: #FFFFFF;
                    }
                }
            }
        }
        .swiper-pagination-bullet {
            background: rgba(255, 255, 255, 0.30);
        }
        .swiper-pagination-bullet-active {
            background: #ffffff;
        }
        .onboarding-celcom {
            height: 100%;
            display: none !important;
        }
        .onboarding-xpax {
            height: 100%;
            display: block !important;
        }
        .skipActionBtn {
            span {
                color: #fff;
                font-size: 14px;
                font-family: $font-family;
                line-height: 14px;
                letter-spacing: 0.6px;
            }
        }
    }
}
