<!--
  Generated template for the CreditManagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Credit Management</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="reload-content">
    <div ion-fixed>
        <ion-grid class="grid-background">
            <ion-row>
                <ion-col col-4>
                    <span class="left-col-title">Mobile number</span>
                    <div class="dropdown-numbers">
                        <span class="dropdown-number-title"> {{phoneNumber}}</span>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="vadility-container">
                        <div class="vadility-title">
                            <span>Valid till</span>
                        </div>
                        <div class="vadility-date">
                            <span>{{lineValidity}}</span>
                        </div>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="balance-container">
                        <div class="vadility-title">
                            <span>Credit Balance</span>
                        </div>
                        <div class="vadility-date">
                            <span>{{creditBlance | RMprice:"doubledash"}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>

        <div class="subtitle">
            <br>
            <span>Credit Management Options</span>
        </div>
    </div>

    <super-tabs id="creditManage" [selectedTabIndex]="selectedTab" *ngIf="isCreditBalanceLoaded" (tabSelect)="onTabSelect($event)">
        <super-tab [root]="tab1Page" [rootParams]="tab1Params" title="Credit Transfer" icon="custom-credit-transfer"></super-tab>
        <super-tab [root]="tab2Page" [rootParams]="tab2Params" title="Validity Extension" icon="custom-validity-extension"></super-tab>
        <super-tab [root]="tab3Page" [rootParams]="tab3Params" title="Credit Advance" icon="custom-credit-advance"></super-tab>
    </super-tabs>


</ion-content>