<!--
  Generated template for the AddNumberModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->




<ion-content>
    <form [formGroup]="addNewNumberForm">
        <div>
            <button type="button" ion-button clear (click)="cancel()">
      <i class="close-icon"></i>
    </button>
        </div>
        <div class="add-number-container">
            <div class="add-number-title">
                <span>Add New Number</span>
            </div>
            <ion-item class="inputItem">
                <ion-input maxlength="11" formControlName="userSelectedMobileNumber" [(ngModel)]="userSelectedMobileNumber" [class.invalid]="!addNewNumberForm.controls.userSelectedMobileNumber.valid && (addNewNumberForm.controls.userSelectedMobileNumber.dirty || submitAttempt)"
                    type="tel" placeholder="E.g. 019 199 1919" (keyup)="handleKeyDone($event)"></ion-input>
            </ion-item>
            <i (click)="openTheContactConform()" class="add-number-icon"></i>
        </div>

        <div class="button-container">
            <button type="button" ion-button class="default-button" [disabled]="(!addNewNumberForm.controls.userSelectedMobileNumber.valid)"
                (click)="dismiss()">
        Done
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
        </div>
    </form>
</ion-content>