<!--
  Generated template for the ConnectTacPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header class="otpHeader">
      <span class="arrow-backward-icon" (click)="goBack()" ></span>

</ion-header>

<ion-content padding class="page-connectTac">

  <h3 class="headerDiv">Enter OTP</h3>
  <ion-label class="msgLbl">Your OTP will be sent to you via SMS.</ion-label>

  <div class="dashedInput">
    <div class="dashedInputCont">
    <!-- <ion-input [(ngModel)]="otpInputt1" maxlength="1" type="tel" class="inputDigit"
               (ionChange)="enableHome1($event)" #focus1></ion-input>
      <ion-input [(ngModel)]="otpInputt2" maxlength="1" type="tel" class="inputDigit"
               (ionChange)="enableHome2($event,focus1)" #focus2></ion-input>
      <ion-input [(ngModel)]="otpInputt3" maxlength="1" type="tel" class="inputDigit"
               (ionChange)="enableHome3($event,focus2)"></ion-input>
      <ion-input [(ngModel)]="otpInputt4" maxlength="1" type="tel" class="inputDigit"
               (ionChange)="enableHome4($event)"></ion-input> -->
               <ion-input [(ngModel)]="otpInputt1" maxlength="1" type="tel" class="inputDigit"
               #focus1  (keyup)="handlePin($event,1,focus2,noele)"></ion-input>
     <ion-input [(ngModel)]="otpInputt2" maxlength="1" type="tel" class="inputDigit"
               #focus2  (keyup)="handlePin($event,2,focus3,focus1)"></ion-input>
     <ion-input [(ngModel)]="otpInputt3" maxlength="1" type="tel"  class="inputDigit"
               #focus3  (keyup)="handlePin($event,3,focus4,focus2)"></ion-input>
     <ion-input [(ngModel)]="otpInputt4" maxlength="1" type="tel" class="inputDigit"
               #focus4 (keyup)="handlePin($event,4,noele,focus3)"></ion-input>
			    <div class="resendTacDiv">Your OTP will expire in 2 mins</div>
<!--
    <div class="borderInputCont">
      <div class="borderInput"></div>
      <div class="borderInput"></div>
      <div class="borderInput"></div>
      <div class="borderInput"></div>
    </div>
-->
</div>
  </div>

 


  <div class="tcDivContainer">
      <ion-buttons  >

            <!-- <span>Resend OTP</span>
            <div class="arrow-forward-icon"></div> -->
            <span><a href="#" tabIndex="-1" (click)="resendOTP()">Resend OTP</a></span>
            <div class="arrow-forward-icon"></div>
      </ion-buttons>

      <div class="otpResent">Limited to 5 resend attempts, after which please wait 10 mins before trying again</div>

  </div>


  <div class="loginBtnContainer">
    <button class="default-button before-login" ion-button (click)="transferCredit()" [disabled]="!isenabled">Send</button>
  </div>
</ion-content>

