page-connect-tac-transfer {


  .content {
    background: #ffffff;
  }

  .headerDiv {
    font-size: 32px;
    color: #333333;
    line-height: 36px;
    padding-left: 9px;
    padding-top: 23px;
    font-weight: bold;

  }

  .msgLbl {
    font-family: Helvetica;
    font-size: 18px;
    color: #666666;
    line-height: 22px;
    padding-left: 9px;
     white-space: normal;

  }

  .loginBtnContainer {
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%;
    button {
      width: 90%;
      margin: 0 auto;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 18px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
      border-radius: 100px;
      outline: none !important;
        
       
    }
      
      button:focus{
          outline: none !important;
      }

//    [disabled] {
//      background-color: #CFCFCF;
//      opacity: 1;
//
//      }
    }

    .arrow-backward-icon{
         margin-top: 39px;
        padding-left: 58px;
    }






    .resendTacDiv {
      padding:11px 8% 0 8%;
      font-size: 14px;
      color: #EC186A;
      line-height: 14px;
      text-align: left;
  }

  .backTac {
    padding-top: 37px;
    padding-left: 25px;
    font-size: 24px;
    color: #666666;
  }

  .tcDivContainer {
      position: absolute;
      bottom: 80px;
      text-align: center;
      left: 0px;
      width: 100%;
      padding: 0 24px 0 25px;
      background-color: #fff;
      .bar-buttons {
          height: 20px;
          margin-bottom: 4px;
      }
      span{
          color: #199BDB;
      }

      .arrow-forward-icon {
      background-color:#199BDB;
      display: inline-block;
      width: 11px !important;
      height: 12px !important;

    }

      .otpResent{
        font-size: 14px;
        color: #999999;
        line-height: 14px;
          text-align: center;
      }
  }
  .dashedInputCont{
    height: 87px;
  }
  .dashedInput {
    //        background:url(../assets/img/borderDashInput.png) repeat-x bottom left;
    width: 100%;
    min-height:87px;
    height:calc( 100% - 270px );
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    position: relative;
    text-align: center;

    .borderInputCont {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      .borderInput {
          height: 1px;
          width: 20%;
          // display: inline-block;
          border: 1px solid #999999;
          float: left;
          margin-right: 5%;
      }
  }



  //iphone5
  @media screen and (max-width: 360px) {

    .dashedInput {
      // background:url(../assets/img/borderDashInput.png) repeat-x bottom left;
      width: 98%;
      padding-top: 88px;
      // background-size: 48px;

    }

    .inputDigit {

      input {
        //letter-spacing: 52px !important;
        //padding-left: 20px;
      }

    }
  }

  //iPhone 6 plus

  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {

    .dashedInput {
      //  background:url(../assets/img/borderDashInput.png) repeat-x bottom left;
      width: 98%;
      padding-top: 88px;
      // background-size: 65px;

    }

    .inputDigit {

      input {
        //letter-spacing: 78px !important;
        //padding-left: 20px;
      }

    }

  }

  .tcLabel {
    margin-bottom: 0px;
  }

  .inputDigit {

       width: 20%;
            display: inline-block !important;
            border-bottom: 1px solid #999999;

            text-align: center;
            padding-left: 20px;



    input {
      //letter-spacing: 68px;
      //padding-left: 20px;

    }

  }

}
}
