<!--
  Generated template for the SubscriptionSelectCountryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="dismiss-btn">
    <button (click)="dismiss()">
      <i class="close-icon"></i>
    </button>
  </div>
  <div class="content-title">Plan Type:
    <!-- old code 07-Mar-2018 -->
    <!-- {{this.plan_type.PLAN_DESCRIPTION != undefined ? this.plan_type.PLAN_DESCRIPTION : this.plan_type.PASS_NAME}} -->

    <!-- new code 07-Mar-2018 -->
    {{plan_type?.PLAN_DESCRIPTION != undefined ? plan_type?.PLAN_DESCRIPTION : (plan_type?.PASS_PRICE_DISPLAY == 'RM4.99' ? (plan_type?.PASS_NAME+'
    RM 4.99') : plan_type?.PASS_NAME)}}
  </div>
  <!-- <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
  <!-- <ion-title>Subscriptions</ion-title> -->
  <!-- </ion-navbar> -->
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>


<ion-content>




  <div class="content-title">Countries Name</div>


  <ion-list no-lines>
    <ion-item *ngFor="let countriesName of countries" (click)="goToDetailsPage(countriesName);">
      {{ countriesName.name }}
    </ion-item>
  </ion-list>

</ion-content>