<!--
  Generated template for the SplashScreen2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

    <h1>Uh Oh.</h1>

    <div class="subtitle">
        <span>That's Not a Celcom SIM. Time to switch to Celcom?</span>
    </div>

    <div class="button-container">
        <button class="default-button explore-btn" (click)="startApp()">Switch</button>
    </div>

</ion-content>