<!--
  Generated template for the ReloadBonusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Promotional Campaign</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card  *ngIf="kawkaw"  (click)="goToProductDetails()">
        
                <div class="card-container">
                    <img class="img-abs" src="./assets/img/{{imageName}}">
                    <div class="card-content">
                        <ion-card-content>
                            <span>{{title}}</span>
                        </ion-card-content>
                    </div>
                </div>
                    <button clear ion-button icon-end>
                      <span>Learn more</span>
                      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                    </button>
        
    </ion-card>

     
        <div  *ngIf="EmptyStatus">
                <span>Wait a minute, what you're looking for isn't available.</span>
        </div>
</ion-content>



