<!--
  Generated template for the ContactUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Connect With Us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <super-tabs>
    <super-tab title="Call Us" [root]="hotlineTab"></super-tab>
    <super-tab title="Follow Us" [root]="socialTab"></super-tab>
  </super-tabs>
</ion-content>
