my-account {
  ion-label {
    color: darkgrey;
  }

  .profile-img-holder {
    position: relative;
  }
  .profile-img-holder ion-icon {
    position: absolute;
    bottom: 0%; /*your button position*/
    left: 12%; /*your button position*/
    color: darkslategray;
  }

  .profile-img-holder img {
    width: 50px;
    height: 50px;
  }

  input:focus {
    color: #29d7e6;;
  }

}
