<!--
  Generated template for the OfferingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <div class="offering-header">
        <span>Find a wide range of deals every month, brought to you by our exclusive partnering merchants. </span>
    </div>

    <div>
        <ion-grid>
            <ion-row>
                    
                    <ion-col col-6 *ngFor="let offer of available_offers;let i = index1">
                            <ion-card (click)="openDetails(offer.OfferId)">
                                <img src="./assets/img/lifestyle/{{images[offer.MerchantID]}}" [ngClass]="{'image_bg': (offer.MerchantID=='222' || offer.MerchantID=='223' || offer.MerchantID=='198')}" />
                                <!-- <img src="./assets/img/Redeem/redeem1.png" /> -->
                                <div class="offering-content">
                                    <span class="offering-card-title">
                                        {{offer.OfferSDesc}}
                                    </span>
                                    <p>
                                            {{offer.OfferLDesc}}
        
                                    </p>
                                </div>
                            </ion-card>
                        </ion-col>
            </ion-row>
            
        </ion-grid>
    </div>
</ion-content>