page-priv-offering {
    .image_bg{background-color: #221767}
    .offering-header {
        background-color: #FFF;
        padding: 10px;
        span {
            /* Find a wide range of: */
            font-size: 14px;
            color: #000;
            letter-spacing: 0;
            line-height: 18px;
        }
    }
    .grid {
        .row {
            margin-bottom: 5px;
        }
        .col {
            padding: 6px 6px 0px 6px;
        }
    }
    .card {
        height: 177px;
        width: 100%;
        margin: 0px 0px 0px;
        position: relative;
        img {
            position: absolute;
            z-index: 0;
            // max-height: 177px;
        }
        .offering-content {
            font-size: 1.4rem;
            line-height: 1.4;
            margin-top: -5px;
            padding: 9px;
            z-index: 10;
            position: absolute;
            bottom: 0px;
            background-color: #FFF;
            width: 100%;
            height: 60px;
            span {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                width: 100%;
            }
            .offering-card-title {
                font-family: $font-familyBold;
                font-size: 14px;
                color: $primary-Color;
                letter-spacing: 0;
                line-height: 18px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                width: 100%;
            }
            p {
                padding-top: 2px;
                font-size: 12px;
                color: #333333;
                letter-spacing: 0;
                line-height: 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.XPAX page-priv-offering {
    .card {
        .offering-content {
            .offering-card-title {
                color: $XPAX-primary-Color;
            }
        }
    }
    .image_bg{background-color: #333333}
}




@media (min-width: 700px) {
    page-priv-offering {
        .card {
            height: 314px;
        }
    }
}