<!-- Generated template for the ReloadPopoverComponent component -->
<ion-list radio-group [(ngModel)]="selected">
<!--    <ion-list-header>Phone Numbers</ion-list-header>-->
    <ion-item  *ngFor = "let mobileNumber of mobileList" >
        <ion-label>{{mobileNumber}}</ion-label>
        <ion-radio  [value]="mobileNumber" (click)="dismiss()"></ion-radio>
    </ion-item>
</ion-list>
<div class="add-new-button" (click)="presenAddNumberModal()">Add New Number</div>