<!--
  Generated template for the ViewCardDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <!-- <div class="button-collection float-right">
            <button class="edit-button">Edit</button>
        </div> -->
        <ion-title>View Card Details</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <!-- <div class="add-number-container">
        <div class="add-number-title">
            <span>Cardholder Name</span>
        </div>
        <ion-item class="inputItem">
            <ion-input maxlength="12" type="text" placeholder="John Doe" value="{{name}}"></ion-input>
        </ion-item>

    </div> -->
    <div class="add-number-container">
        <div class="add-number-title">
            <span>Card Number</span>
        </div>
        <ion-item class="inputItem">
            <ion-input type="text" placeholder="•••• 1234 (Malaysia)" value="{{cardNumber}}" (keyup.enter)="handleKeyDone($event)" disabled></ion-input>
        </ion-item>
        <img class="add-img" *ngIf="cardType=='Visa'" src="./assets/img/icon-visa.png">
        <img class="add-img" *ngIf="cardType=='Mastercard'" src="./assets/img/icon-master.png">
    </div>

    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <div class="add-number-container">
                    <div class="card-grid-title">
                        <span>Exp.Date</span>
                    </div>
                    <ion-item class="card-inputItem">
                        <ion-input type="text" placeholder="06/2021" value="{{expiryDate}}" (keyup.enter)="handleKeyDone($event)" disabled></ion-input>
                    </ion-item>

                </div>
            </ion-col>
            <ion-col col-6>
                <!--<div class="add-number-container">
                    <div class="card-grid-title">
                        <span>CVV</span>
                    </div>
                    <ion-item class="card-inputItem">
                        <ion-input maxlength="3" type="password" placeholder=""></ion-input>
                    </ion-item>

                </div>-->
            </ion-col>
        </ion-row>
    </ion-grid>
     <!-- <ion-item class="terms_cond">
        <ion-label>set this card as default </ion-label>
        <ion-checkbox [(ngModel)]="checkboxFlag" type="checkbox"></ion-checkbox>
    </ion-item>  -->

    <!-- <div class="button-container">
        <button ion-button class="default-button">
        Save Changes
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button> 
    </div>  -->
</ion-content>