<!--
  Generated template for the RoamingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header *ngIf="!isOleole">
    <!-- <ion-navbar>       
        <ion-title>Product Details</ion-title>
    </ion-navbar> -->
    <ion-searchbar  (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content>

    <div *ngIf="isOleole">
        <ion-card-content>
        <span>
        Wait a minute, what you're looking for isn't available.
        </span>
        </ion-card-content>
      
    </div>
   
    <ion-list no-lines *ngIf="!isOleole">
        <ion-item *ngFor="let countriesName of countries" (click)="goToCountryDetailsPage(countriesName);">
          {{ countriesName?.name }}
        </ion-item>
    </ion-list>

    <!-- <div *ngFor="let roamingPlan of roamingCategoryPlan;" [class.hide-search-data]="checkStatus">

        <div class="subtitle">
           <h3> {{selectedCountryName.name}} </h3>
        </div>

        <div class="subtitle">
            {{roamingPlan.HEADER_TITLE}}
        </div>

        <ion-scroll class="internet-card-container" scrollX="true">
                

            <div  *ngFor="let roamingPlanList of roamingPlan.PASS;" [class.most-popular]="roamingPlanList.PASS_ISPROMOAVAILABLE == 'True'" class="internet-card float-left" (click)="goToDetailsPage(roamingPlanList)">     
                
                <div class="most-popular-badge" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE == 'True'">
                    <i class="most-popular-icon"></i>
                    <span>
                        MOST POPULAR 
                    </span> 
                </div>                     
                <span class="internet-card-title">
                  {{roamingPlanList.PASS_NAME}}
                </span>
                <span class="internet-card-subtitle">
                   {{roamingPlanList.PASS_PRICE_DISPLAY}}
                </span>
                <span class="internet-card-title">
                 {{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                </span>
            </div>        
        </ion-scroll>
    </div> -->
</ion-content>


<!--  [class.more-data]="roamingPlanList.PASS_ISPROMOAVAILABLE == 'False'" -->