<ion-header>
    <ion-navbar>
        <ion-title>Device Self Help</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding *ngIf="type=='Prepaid'">
    <iframe src="http://13.54.99.117/SelfHelpPre_New" height="100%" width="100%">
       
        <p>Your browser does not support iframes.</p>
    </iframe>
</ion-content>
<ion-content padding *ngIf="type=='Postpaid'">
    <iframe src="http://13.54.99.117/selfhelppost_new" height="100%" width="100%">
        <p>Your browser does not support iframes.</p>
    </iframe>
</ion-content>