<!--
  Generated template for the MobileConnectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
<ion-header class="otpHeader">
      <span class="arrow-backward-icon" (click)="goBack()" ></span>

</ion-header>
-->
<ion-content  padding class="page-mobileConnect">
    <form [formGroup]="SendTacForm">
        <h3 class="headerDiv">Enter your <br> mobile number</h3>
      <ion-label class="phoneNumberLbl">Mobile number</ion-label>
      <ion-item class="inputItem">
        <ion-input type="tel" onpaste="return false;" (keyup)="keyUpChecker($event,'mobileNumber')" (blur)="blurChecker($event)" (focus)="blurChecker($event)" formControlName="mobileNumber"  [(ngModel)]="mobileNumber" [class.invalid]="!SendTacForm.controls.mobileNumber.valid && (SendTacForm.controls.mobileNumber.dirty || submitAttempt)" placeholder="E.g. 019 199 1919" maxlength="11"></ion-input>   
     </ion-item> 
      
      <div class="btnDivContainer">
        <button type="submit" class="default-button before-login" ion-button [disabled]="(!SendTacForm.controls.mobileNumber.valid)" (click)="navigatetoTAC()">Send One Time PIN (OTP)</button>
      </div>
    </form>
    </ion-content>
  