page-redeemed {
    .content {
        background: url(../assets/img/normal_page_bg.jpg) no-repeat !important;
        background-size: 100% auto !important;
    }
    .card-container {
        color: #FFF;
        position: relative;
        max-height: 200px;
        overflow: hidden;
        &.black-alternate {
            span {
                color: #333;
            }
            ion-card-content {
                span {
                    color: #333;
                }
                .expiry {
                    color: #333;
                }
            }
        }
        ion-card-content {
            padding: 50px 11px 20px!important;
            span {
                /* Lorem ipsum dolor si: */
                font-size: 20px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 24px;
                padding-left: 9px;
            }
            .expiry {
                /* Expiry dd/mm/yy hh:m: */
                font-size: 12px !important;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 12px;
                padding-top: 45px;
            }
        }
    }
    .card-content {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 75%;
        div {
            padding-top: 14px;
            padding-left: 20px;
            span {
                /* Lorem ipsum dolor si: */
                /* Promo Title: */
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 14px;
            }
        }
    }
    .img-abs {
        position: relative;
        z-index: 0;
    }
    ion-card {
        margin: 20px 16px !important;
        width: calc(100% - 32px) !important;
        background: #FFFFFC !important;
        box-shadow: 0 -6px 16px 0 rgba(0, 0, 0, 0.02), 0 6px 16px 0 rgba(0, 0, 0, 0.15) !important;
        border-radius: 12px !important;
        ion-card-header {
            padding: 6px 11px!important;
            span {
                font-size: 24px;
            }
        }
        .time-stamp {
            text-align: right;
            font-size: 12px;
            color: #999999 !important;
            letter-spacing: 0;
            line-height: 12px;
        }
        ion-card-content {
            padding: 7px 11px 20px!important;
            span {
                font-size: 14px;
                line-height: 18px;
                display: inline-block;
            }
        }
        .button {
            height: 20px;
            margin: auto;
            padding: 0px;
            text-transform: none;
            font-size: 14px;
            margin-bottom: 12px;
            margin-top: 12px !important;
            // margin-left: 11px;
            width: 48%;
            ion-icon {
                width: 8px;
                height: 13px;
                margin-left: 10px;
                margin-top: 2px;
                padding: 0;
                background-color: $primary-Color;
            }
        }
    }
}

@media (max-width: 360px) {
    page-notification-tab2 {
        .card-container {
            ion-card-content {
                .expiry {
                    padding-top: 25px !important;
                }
            }
        }
    }
}

.XPAX page-redeemed {
    .content {
        background: url(../assets/img/detailed_usage_card_bg_xpax.png) no-repeat !important;
        background-size: 100% auto !important;
    }
}