//  page-reload-bonus {
//      .content {
//          background: url(../assets/img/dashboard-bg.png) no-repeat center top;
//          background-size: auto;
//      }
//      .card {
//          margin-top: 15px !important;
//      }
//      .card-container {
//          color: #FFF;
//          position: relative;
//          max-height: 220px;
//          overflow: hidden;
//          ion-card-content {
//              padding: 50px 11px 20px!important;
//              span {
//                  font-size: 20px;
//                  color: #FFFFFF;
//                  letter-spacing: 0;
//                  line-height: 24px;
//                  padding-left: 9px;
//              }
//          }
//          .card-ios+ion-card {
//              margin-top: 10px !important;
//          }
//          .card-content {
//              position: absolute;
//              z-index: 1;
//              top: 0;
//              width: 80%;
//              div {
//                  padding-top: 14px;
//                  padding-left: 20px;
//                  span {
//                      /* Lorem ipsum dolor si: */
//                      /* Promo Title: */
//                      font-size: 14px;
//                      color: #FFFFFF;
//                      letter-spacing: 0;
//                      line-height: 14px;
//                  }
//              }
//          }
//          .img-abs {
//              position: relative;
//              z-index: 0;
//          }
//          ion-card {
//              .button {
//                  margin-top: 12px !important;
//              }
//          }
//      }
//      .button {
//          text-transform: none;
//          font-size: 14px;
//          ion-icon {
//              width: 8px;
//              height: 13px;
//              margin-left: 10px;
//              margin-top: 2px;
//              padding: 0;
//              background-color: $primary-Color;
//          }
//      }
//  }
 
//  @media (max-width: 360px) {
//      page-reload-bonus {
//          .card-container {
//              ion-card-content {
//                  .expiry {
//                      padding-top: 25px !important;
//                  }
//              }
//          }
//      }
//  }


 page-reload-bonus  {
    .card-container {
        color: #FFF;
        position: relative;
        max-height: 200px;
        overflow: hidden;
        ion-card-content {
            padding: 50px 11px 20px!important;
            span {
                /* Lorem ipsum dolor si: */
                font-size: 20px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 24px;
                padding-left: 9px;
            }
            .expiry {
                /* Expiry dd/mm/yy hh:m: */
                font-size: 12px !important;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 12px;
                padding-top: 45px;
            }
        }
    }
    .card-content {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 80%;
        div {
            padding-top: 14px;
            padding-left: 20px;
            span {
                /* Lorem ipsum dolor si: */
                /* Promo Title: */
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 14px;
            }
        }
    }
    .img-abs {
        position: relative;
        z-index: 0;
    }
    ion-card {
        .button {
            margin-top: 12px !important;
        }
        .button {
            height: 20px;
            margin: auto;
            padding: 0px;
            text-transform: none;
            font-size: 14px;
            margin-bottom: 12px;
            width: 48%;
            ion-icon {
                width: 8px;
                height: 13px;
                margin-left: 10px;
                margin-top: 2px;
                padding: 0;
                background-color: $primary-Color;
            }
        }
    }
}

@media (max-width: 360px) {
    page-reload-bonus {
        .card-container {
            ion-card-content {
                .expiry {
                    padding-top: 25px !important;
                }
            }
        }
    }
}