<!--
  Generated template for the ReloadBonusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Reload Bonus</ion-title>
    </ion-navbar>
</ion-header>
<ion-content >
    <ion-card   *ngFor="let item of numberofCards;let i = index">
        <div  *ngIf="EcemCard" class="card-container">
            <img class="img-abs" src="./assets/img/mydeals.png">
            <div class="card-content">
                <div>
                    <span>{{PromoTitle}}</span>
                </div>
                <ion-card-content>
                    <span>{{dec}}</span>
                     <span class="expiry">{{expiry}}  {{expiryDate}} {{onlyTime}}</span> 
                </ion-card-content>
            </div>
        </div>
        <button *ngIf="EcemCard"  class="right-button" clear ion-button icon-end (click)="goToProductDetailsPage()">
          <span>Learn more</span>
          <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
     
    </ion-card>

      
        <div *ngIf="EmptyStatus" class="content-banner">
                <span>Wait a minute, what you're looking for isn't available.</span>
        </div>
       
  
</ion-content>
