<!--
  Generated template for the IddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>IDD</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <div *ngFor="let iddPlanName of iddCategoryPlan;">
    <div class="subtitle">
        <!-- Late Night Internet --> {{iddPlanName?.HEADER_TITLE}}
    </div>

    <ion-scroll class="internet-card-container" scrollX="true">
      <div *ngFor="let iddPlanList of iddPlanName?.PLAN; let iddPlanList = index" [ngClass]="{'selected': iddPlanList==indexValue}" class="internet-card selected float-left" (click)="goToDetailsPage(iddPlanList,iddPlanName?.HEADER_TITLE)">
        <span class="internet-card-title">
            <!-- Monthly 500 MB --> 
            <!-- {{iddPlanList?.PLAN_DESCRIPTION}} -->
            {{iddPlanList?.VALIDITY_DATE == undefined ? '' : iddPlanList?.PLAN_NAME_DISPLAY}} &nbsp;&nbsp;            

            {{
              iddPlanList?.VALIDITY_DATE != undefined ? '' : (iddPlanList?.PRODUCT_QUOTA != undefined ? iddPlanList?.PRODUCT_QUOTA : iddPlanList?.PRODUCT_VOLUME)
            }} 

            {{iddPlanList?.VALIDITY_DATE == undefined ? ' for ' : ''}}
        </span>
        <span class="internet-card-subtitle">
            <!-- RM 30 --> 
            {{iddPlanList?.PRODUCT_PRICE_DISPLAY}}
            
        </span>
        <span class="internet-card-title">
            <!-- Valid for 28 Days -->
            <!-- Valid for {{iddPlanList.VALIDITY_DATE == 'Per day' ? '1 Day' : iddPlanList.VALIDITY_DATE}} -->

            <!-- changed on 14-Jan-2018 -->            
           {{ (iddPlanList.IDD_CALLS_TEXT).split(' ')[(iddPlanList.IDD_CALLS_TEXT).split(' ').length - 1] }}                    

            <!-- removed on 14-Jan-2018 -->
            <!-- {{iddPlanList?.VALIDITY_DATE == undefined ? '': 'Valid for' }}
              {{iddPlanList?.VALIDITY_DATE == 'Per day' ? '1 Day' : iddPlanList?.VALIDITY_DATE}} -->
        </span>
      </div>
     
    </ion-scroll>
   
  </div>
  <div *ngIf=" iddCategoryPlan=='undefined' || iddCategoryPlan==''">
      <ion-card-content>
      <span>
      Wait a minute, what you're looking for isn't available.
    </span>
    </ion-card-content>
  </div>
</ion-content>
