page-country-subscriptions {
    .internet-card-container {
        height: 175px;
    }
    .button-container {
        background: #fff;
        padding: 20px 0;
        margin-top: 0;
        .custom-button {
            margin: 0 16px;
            width: calc(100% - 32px);
            background-color: transparent;
            border: 1px solid $primary-Color;
            color: $primary-Color;
            border-radius: 100px;
        }
    }
    .info {
        font-size: 12px;
        color: #666;
        padding: 5px 16px 5px;
        z-index: 1;
        position: relative;
    }
}

.XPAX {
    page-country-subscriptions {
        .button-container {
            .custom-button {
                border: 1px solid $XPAX-primary-Color;
                color: $XPAX-primary-Color;
            }
        }
    }
}