<!--
  Generated template for the GiftsRecievedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content >


    <ion-card>

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals.png">
            <div class="card-content">


                <ion-card-content>
                    <span>OleOle</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end (click)="openGiftsRecievedListPage()" >
              <span>Primary CTA</span>
              <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
            </button>

    </ion-card>

    <ion-card>

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals2.png">
            <div class="card-content">


                <ion-card-content>
                    <span>GIFT_NAME_TITLE</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end (click)="openGiftsRecievedListPage()">
          <span>Primary CTA</span>
          <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>



</ion-content>
