<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content class="content">
  
      <ion-card class="card-style head-card">
  
          <button ion-button menuToggle color="dark" clear>
           <ion-icon ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
            </button>
          <ion-card-header>
              <span class="white-font"> Messages </span>
          </ion-card-header>
  
      </ion-card>
      <ion-card class="card-style red-card">
          <div>
              <ion-card-header>
                  <ion-icon name="warning"></ion-icon>
                  <span class="white-font"> THRESHOLD ALERT</span>
              </ion-card-header>
              <ion-card-content>
                  <span class="white-font">Uh oh! Your balance is running out. 2 days before plan expires.</span>
                  <br>
                  <p class="white-font"> 1 hour ago</p>
                  <br>
                  <button ion-button class="flat-button" color="light">Reload Now</button>
              </ion-card-content>
          </div>
      </ion-card>
      <ion-card class="card-style green-card">
          <div>
              <ion-card-header>
                  <span>WIN FREE DATA!</span>
              </ion-card-header>
              <ion-card-content>
                  <span>Join the thrill and unlock free data by playing our newest game. </span>
                  <br><br>
                  <button ion-button class="gray-button">PLAY NOW</button>
              </ion-card-content>
          </div>
      </ion-card>
      <ion-card class="card-style gray-card">
          <div>
              <ion-card-header>
                  <span>MyDeals MUSIC</span>
              </ion-card-header>
              <ion-card-content>
                  <span>Want to enjoy unlimited music streaming on your favourite  applications like Joox, KKBOX, Raku and other exciting streaming services?</span>
                  <br>
                  <span>to music walla now from RM1/week!</span>
                  <br>
                  <span> Expiry 31/12/17 </span>
                  <br><br>
                  <button ion-button class="gray-button">Get it now</button>
              </ion-card-content>
          </div>
      </ion-card>
      <ion-card class="card-style gray-card">
          <div>
              <ion-card-header>
                  <span>KAW-KAW SQUAD PROMOTION</span>
              </ion-card-header>
              <ion-card-content>
                  <span>50% more monthly internet<br></span>
                  <br>
                  <span>This Promotion is applicable for those aged 12–25  who subscribe to RM30 or RM50 monthly internet plan. Click proceed to enjoy more internet.</span>
                  <br>
                  <br>
                  <button class="gray-button" ion-button>Opt In</button>
              </ion-card-content>
          </div>
      </ion-card>
      <ion-card class="card-style gray-card">
          <div>
              <ion-card-header>
  
                  <span>DOWNLOAD DRIVE</span>
              </ion-card-header>
              <ion-card-content>
                  <span>Tap to redeem your free 1GB daily.</span>
  
                  <br><br>
                  <button class="gray-button" ion-button>Redeem 1GB daily</button>
              </ion-card-content>
          </div>
      </ion-card>
      <ion-card class="card-style gray-card">
          <div>
              <ion-card-header>
                  <span>UPGRADE TO LATEST PLAN</span>
              </ion-card-header>
              <ion-card-content>
                  <span>You are currently on XPAX24.</span>
                  <br>
                  <span>Upgrade to XPAX</span>
  
                  <br><br>
                  <button class="gray-button" ion-button>Change Plan</button>
              </ion-card-content>
          </div>
      </ion-card>
  </ion-content>