<!--
  Generated template for the BillOtherAmountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <form [formGroup]="otherAmountForm">
  <div class="reload-container">
      <div class="phoneNumber">
          <span>Total Due</span>
      </div>
      <!-- <ion-input  type="tel" [(ngModel)]="amountEntered"  formControlName="amountEntered" [class.invalid]="!otherAmountForm.controls.amountEntered.valid && (otherAmountForm.controls.amountEntered.dirty || submitAttempt)" min="1" placeholder="RM 3000.0"  required></ion-input> -->
      <ion-item class="inputItem">
            <!-- value="{{ amountEntered | number : '1.2-2' }}" -->
          <!-- <ion-input  type="tel" [(ngModel)]="amountEntered"  min="1" placeholder="RM 3000.0"  required></ion-input> -->
         <ion-input  type="number" [(ngModel)]="amountEntered"  formControlName="amountEntered" [class.invalid]="!otherAmountForm.controls.amountEntered.valid && (otherAmountForm.controls.amountEntered.dirty || submitAttempt)" min="1" placeholder="RM0.00"  required (keyup.enter)="handlePin($event)"></ion-input> 
      </ion-item>
    <ion-item class="error" *ngIf="(!otherAmountForm.controls.amountEntered.valid  && (otherAmountForm.controls.amountEntered.dirty || submitAttempt))">
  <p>Please enter a valid amount</p>
</ion-item>    
  </div>
  <!-- <div class="slider-subtitle">
            </div> -->

  <div class="subtitle">
    Payment Method
  </div>
   <div class="internet-card-container-payment-visa">
  <ion-scroll [ngClass]="{'disabled': disable==true}" class="internet-card-container payment-container" scrollX="true">
    <div  *ngFor="let item of paymentMethod;let i = index" (click)="addCss(i)" [ngClass]="{'selected': i==indexValue}" class="internet-card  payment selected float-left">
        <span class="internet-card-title">
            <ion-icon name="{{item.icon}}"></ion-icon>
        </span>
        <span class="internet-card-subtitle">
            <span>{{item.type}}</span>
        </span>
    </div>
    </ion-scroll>

<!-- <div class="subtitle">
  Choose Payment method
</div>
<ion-scroll class="internet-card-container payment" scrollX="true">
<div  *ngFor="let item of paymentMethod;let i = index" (click)="addCss(i)" [ngClass]="{'selected': i==indexValue}" class="internet-card selected float-left">
    <span class="internet-card-title">
        <ion-icon name="{{item.icon}}"></ion-icon>
    </span>
    <span class="internet-card-subtitle">
        <span>{{item.type}}</span>
    </span>
</div>
</ion-scroll> -->
<!-- </ion-scroll> -->
<div  *ngIf="Cardflag" class="payment-slider-visa">
<hr>
<div>
  <ion-icon name="custom-reload-credit-card"></ion-icon>
  <span>{{selectedCard}}</span>
  <button type="button" (click)="presentingChangeCreditModal()">
      Edit
    </button>
</div>
</div>
</div>
<!-- </div> -->
</form>
<div class="button-container" ion-fixed>
<button ion-button (click)="goToPay()" class="default-button" [disabled]="(!otherAmountForm.controls.amountEntered.valid) || nextDisable">
<!-- <button ion-button (click)="goToPay()" class="default-button" [disabled]="nextDisable"> -->
Next
<i class="XPAX-Right-Bubble"></i>
<i class="XPAX-Left-Bubble"></i>
</button>
</div>

</ion-content>