<ion-header (swipe)="clearCounter()">
    <div #itemId class="notification-button-cont" (click)="clearCounter()">
        <button class="notification-button">
            <ion-badge class="float-left">{{notificationCount}}</ion-badge>
            <span class="float-left">My Notifications</span>
            <i #arrowIcon class="up-icon" (click)="clearCounter()"></i>
        </button>
    </div>
</ion-header>
<ion-content>
    <super-tabs id="NotificationsTabs">
        <!-- <super-tab [root]="tab1Page" icon="custom-notification-sms-icon"></super-tab>
        <super-tab [root]="tab2Page" icon="custom-notification-price-tag-icon"></super-tab>
        <super-tab [root]="tab3Page" icon="custom-notification-center-direction-icon"></super-tab>
        <super-tab [root]="tab4Page" icon="custom-notification-contoller-icon"></super-tab> -->

        <super-tab [root]="tab1Page" title="Notifications"></super-tab>
        <!-- <super-tab [root]="tab3Page" title="Others"></super-tab> -->
        <!-- <super-tab [root]="tab4Page" [title]="custom-notification-contoller-icon"></super-tab> -->
    </super-tabs>
    <ng-content>
    </ng-content>
</ion-content>