
<ion-header>

  <ion-navbar>
    <ion-title>Delivery Options</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div class="reasonsTitle">Select your delivery method Reason:</div>
    
    <div class="deliveryContainer">
        <div class="internet-card-container payment" scrollX="true">
            <div class="internet-card selected" [ngClass]="{'selected': deliveryOption == 'delivery'}" (click)="selectDeliveryOption('delivery')">
                <span class="internet-card-title">
                    <i class="delivery-icon"></i>
                </span>
                <span class="internet-card-subtitle">
                    <span>Delivery</span>
                </span>
            </div>
            <div class="internet-card" [ngClass]="{'selected': deliveryOption == 'selfcollect'}" (click)="selectDeliveryOption('selfcollect')">
                <span class="internet-card-title">
                    <i class="self-icon"></i>
                </span>
                <span class="internet-card-subtitle">
                   Self Collect
                </span>
            </div>
        </div>
    
    <div class="tipContent">Tip: Back up your SIM card every now and then for a smoother process when transitioning to a new SIM!</div>


        <div class="confirmBtn">


            <button ion-button class="default-button" (click)="goToDeliveryInformation()"  [disabled]="!deliveryOption">
          Confirm
          <i class="XPAX-Right-Bubble"></i>
          <i class="XPAX-Left-Bubble"></i>
        </button>

        </div>
    </div>
</ion-content>
