<!--
  Generated template for the PrivilegesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Privileges</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
       <!--<button (click)="goToRewards()" ion-item>
      Manage / Redeem Rewards
      <div class="arrow-forward-icon"></div>
    </button>-->
        <button *ngIf="isPrePaid" (click)="goToRelaodBonusPage()" ion-item>
      Redeem Reload Bonus
      <div class="arrow-forward-icon"></div>
    </button>
        <button (click)="goToPromotinalCampaign()" ion-item>
      Promotional Campaign
      <div class="arrow-forward-icon"></div>
    </button>
        <button *ngIf="!isPrePaid && isNotCMPUser" ion-item (click)="goToFirstStylePage()">
      FIRST Lifestyle
      <div class="arrow-forward-icon"></div>
    </button>
        <!--<button ion-item>
      Celcom Rewards
      <div class="arrow-forward-icon"></div>
    </button>-->
    </ion-list>
</ion-content>
