<!--
  Generated template for the DetailedUsageRoamingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

</ion-header> -->


<!-- <ion-content> -->
  <!-- Roaming Slide -->


  <!--Roaming-->
  <!-- <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <i class="roaming-icon icon"></i>
        </div>
        <div class="card-title single-title">
          <div class="main">Roaming</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="tabular-list">
        <div class="tabular-row">
          <span class="float-left">Visiting Country</span>
          <span class="float-right">Cyprus</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">Preferred Operator</span>
          <span class="float-right">Areeba/MTN</span>
        </div>
      </div>
    </div>

    <div class="card-footer">
    </div>

  </div> -->

  <!-- 1 Day Internet -->
  <!-- <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <i class="wifi-icon icon"></i>
        </div>
        <div class="card-title single-title">
          <div class="main">1 Day Internet Pass</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
        </div>
      </div>
      <div class="divider">
        <hr/>
      </div>

    </div>

    <div class="card-footer">
      <div class="content-block-actions">
        <div class="title">
          <div class="title-main float-left">Auto Renew</div>
          <div class="title-sub float-left ">Turn off auto renewal for your subscription</div>
        </div>
        <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
      </div>
    </div>

  </div> -->

  <!-- Total Calls-->

  <!-- <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <i class="phone-icon icon"></i>
        </div>
        <div class="card-title single-title">
          <div class="main">Talk</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="tabular-list with-total">
        <div class="tabular-row">
          <span class="float-left">Total Calls</span>
          <span class="float-right">30 Min</span>
        </div>

        <div class="tabular-list-footer">
          <hr/>
          <span class="float-left">Total Chanrge</span>
          <span class="float-right">RM0.00</span>
        </div>


      </div>
    </div>

    <div class="card-footer">
    </div>

  </div> -->


  <!-- Total SMS-->

  <!-- <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <i class="sms-icon icon"></i>
        </div>
        <div class="card-title single-title">
          <div class="main">SMS</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="tabular-list with-total">
        <div class="tabular-row">
          <span class="float-left">Total SMS</span>
          <span class="float-right">0</span>
        </div>
        <div class="tabular-list-footer">
          <hr/>
          <span class="float-left">Total Charge</span>
          <span class="float-right">RM0.00</span>
        </div>


      </div>
    </div>

    <div class="card-footer">
    </div>

  </div>

  

</ion-content> -->

<!--
  Generated template for the DetailedUsageInternetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  </ion-header>
  
  
  <ion-content>
  
    <!-- Internet Slide -->
    <div *ngFor="let cards of cardArray">
    <!-- Card CTA -->
  
    <div class="card" *ngIf="cards.cardType=='Card CTA #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub">{{cards.subtitle}}</div>
          </div>
        </div>
      </div>
  
      <div class="card-content">
        <div class="divider"><hr/></div>
        <div class="content-block-actions" (click)="goToSubscriptions(3)">
          <div class="title without-toggle">
            <a class="action-call-more float-left">{{cards.action}}<span class="arrow-forward-icon" ></span></a>
          </div>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
    
  <!-- Card Toggle/CTA -->
  <div class="card" *ngIf="cards.cardType=='Card Toggle/CTA #1'">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <i [class]="cards.class"></i>
        </div>
        <div class="card-title">
          <div class="main">{{cardTitleChange(cards.title)}}</div>
          <div class="sub">{{cards.subtitle}}</div>
        </div>
      </div>
    </div>
  
    <div class="card-content">
      <page-usage-indicator [value]="cards.dataBalance" [minValue]="0" [maxValue]="cards.dataTotal" [expiryDate]="cards.date"
      [hideProgressBar]="false" [unit]="cards.unit"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">{{cards.dataBalance}}<span> Unit Available</span></span>
        </div>
  
        <div class="unit-used">
          <div>{{cards.dataUsed}} GB Used</div>
        </div>
      </div>
      <div class="divider"><hr/></div>
  
    </div>
  
    <div class="card-footer">
      <div class="content-block-actions">
        <div class="title">
          <div class="title-main float-left">Unsubscribe</div>
          <div class="title-sub float-left ">Turn off to cancel auto-renewal and unsubscribe from plan</div>
        </div>
        <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
      </div>
    </div>
  
  </div>
  
  <!-- Card Usage with Limit -->
  <div class="card" *ngIf="cards.cardType=='Card Usage with Limit #1'">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <i [class]="cards.class"></i>
        </div>
        <div class="card-title">
          <div class="main">{{cardTitleChange(cards.title)}}</div>
          <div class="sub">{{cards.subtitle}}</div>
        </div>
      </div>
    </div>
  
    <div class="card-content">
      <page-usage-indicator [value]="cards.dataBalance" [minValue]="0" [maxValue]="cards.dataTotal" [expiryDate]="cards.date"
                            [hideProgressBar]="false" [unit]="cards.unit" [unit]="cards.unit"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">{{cards.dataBalance}}<span> {{cards.unit}} Available</span></span>
        </div>
  
        <div class="unit-used">
          <div>{{cards.dataUsed}} {{cards.unit}} Used</div>
        </div>
      </div>
  
    </div>
  
    <div class="card-footer"></div>
  
  </div>
  
  <!-- Card PPU -->
  
  <div class="card" *ngIf="cards.cardType=='Card PPU #1'">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <i [class]="cards.class"></i>
        </div>
        <div class="card-title single-title">
          <div class="main">{{cardTitleChange(cards.title)}}</div>
        </div>
      </div>
    </div>
    
    <div class="card-content">
      <div class="tabular-list with-total">
        <div *ngFor="let dt of cards.data">
        <div class="tabular-row">
          <span class="float-left">{{dt.key}}</span>
          <span class="float-right">{{dt.value}}</span>
        </div>
      </div>
        <!-- <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div> -->
    
        <div class="tabular-list-footer">
          <hr/>
          <span class="float-left">Total Charges</span>
          <span class="float-right">RM{{cards.TotalDataUsage}}</span>
        </div>
    
    
      </div>
    </div>
    
    <div class="card-footer">
    </div>
    
    </div>
    
    <!-- Card Description+ Toggle -->
    <div class="card" *ngIf="cards.cardType=='Card Description+ Toggle #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub">68 GB Quota</div>
          </div>
        </div>
      </div>  
    
      <div class="card-footer">
        <div class="content-block-actions">
          <div class="title">
            <div class="title-main float-left">Unsubscribe</div>
            <div class="title-sub float-left ">Turn off to cancel auto-renewal and unsubscribe from plan</div>
          </div>
          <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
        </div>
      </div>
    
    </div>
    
    <!-- Card Description -->
    
    <div class="card" *ngIf="cards.cardType=='Card Description #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub">{{cards.quota}} Quota</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="cards.cardType=='Call Card Description #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub">{{cards.subtitle}} Quota</div>
            <div class="sub">Expiry date {{cards.date}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="cards.cardType=='SMS Card Description #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub">{{cards.subtitle}} Quota</div>
            <div class="sub">Expiry date {{cards.date}}</div>
          </div>
        </div>
      </div>
    </div>


    <div class="card" *ngIf="cards.cardType=='Card Bundle (with Toggle/CTA) call & SMS Internet #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i  [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub"></div>
          </div>
        </div>
       
    
      </div>
    
      <div class="card-content">
          
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i class="call-icon icon"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.data[0].title)}}</div>
              <div class="sub">{{cards.data[0].subtitle}}</div>
              <div *ngIf="cards.data[0].date" class="sub">{{cards.data[0].date}}</div>
            </div>
          </div>
        </div>
        <div class="divider"><hr/></div>
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i class="sms-icon icon"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.data[1].title)}}</div>
              <div class="sub">{{cards.data[1].subtitle}}</div>
              <div *ngIf="cards.data[1].date" class="sub">{{cards.data[1].date}}</div>
            </div>
          </div>
        </div>
    </div>
      <div class="card-footer">
        
      </div>
    
    </div>
    
    <!-- Card Usage with Limit (Kad Ceria) -->
    <div class="card" *ngIf="cards.cardType=='Card Usage with Limit (Kad Ceria) #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub">Enjoy 10% off every reload for network to network calls and messages.</div>
          </div>
        </div>
      </div>
    
      <div class="card-content"></div>
    
      <div class="card-footer"></div>
    
    </div>
    
    <!-- Card Bundle (with Toggle/CTA) -->
    <div class="card" *ngIf="cards.cardType=='Card Bundle (with Toggle/CTA) #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub"></div>
          </div>
        </div>
       
    
      </div>
    
      <div class="card-content">
        <div *ngFor="let dt of cards.data">
         <div class="secondary-text">
          <span>{{cardTitleChange(dt.title)}}</span>
        </div>
        <page-usage-indicator [value]="dt.dataBalance" [minValue]="0" [maxValue]="dt.dataTotal" [expiryDate]="dt.date"
                              [hideProgressBar]="false" [unit]="dt.unit"></page-usage-indicator>
        <div class="availability-and-usage">
          <div class="usage-card-data float-left">
            <span class="usage">{{dt.dataBalance}}<span> {{dt.unit}} Available</span></span>
          </div>
    
          <div class="unit-used">
            <div>{{dt.dataUsed}} {{dt.unit}} Used</div>
          </div>
        </div>
        <div class="divider"><hr/></div>
      </div>
    </div>
      <div class="card-footer">
        
      </div>
    
    </div>



    <div class="card" *ngIf="cards.cardType=='Card Bundle (with Toggle/CTA) 7 Day Internet #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub"></div>
          </div>
        </div>
       
    
      </div>
    
      <div class="card-content">
        
         <div class="secondary-text">
          <span>{{cardTitleChange(cards.data[0].title)}}</span>
        </div>
        <page-usage-indicator [value]="cards.data[0].dataBalance" [minValue]="0" [maxValue]="cards.data[0].dataTotal" [expiryDate]="cards.data[0].date"
                              [hideProgressBar]="false" [unit]="cards.data[0].unit"></page-usage-indicator>
        <div class="availability-and-usage">
          <div class="usage-card-data float-left">
            <span class="usage">{{cards.data[0].dataBalance}}<span> {{cards.data[0].unit}} Available</span></span>
          </div>
    
          <div class="unit-used">
            <div>{{cards.data[0].dataUsed}} {{cards.data[0].unit}} Used</div>
          </div>
        </div>
        <div class="divider"><hr/></div>
  
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i class="call-icon icon"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.data[1].title)}}</div>
              <div class="sub">{{cards.data[1].subtitle}}</div>
              <div *ngIf="cards.data[1].date" class="sub">{{cards.data[1].date}}</div>
            </div>
          </div>
        </div>
        <div class="divider"><hr/></div>
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i class="sms-icon icon"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.data[2].title)}}</div>
              <div class="sub">{{cards.data[2].subtitle}}</div>
              <div *ngIf="cards.data[2].date" class="sub">{{cards.data[2].date}}</div>
            </div>
          </div>
        </div>
    </div>
      <div class="card-footer">
        
      </div>
    
    </div>
    
    <!-- Card Info (Roaming) -->
    <div class="card" *ngIf="cards.cardType=='Card Info (Roaming) #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title single-title">
            <div class="main">{{cards.title}}</div>
          </div>
        </div>
      </div>
    
      <div class="card-content">
        <div class="tabular-list">
          <div class="tabular-row">
            <span class="float-left">Visiting Country</span>
            <span class="float-right">{{cards.country}}</span>
          </div>
          <div class="tabular-row">
            <span class="float-left">Preferred Operator</span>
            <span class="float-right">{{cards.operator}}</span>
          </div>
        </div>
      </div>
    
      <div class="card-footer">
      </div>
    
    </div>
    
    <!-- Card Info (Plan Activation) -->
    <div class="card" *ngIf="cards.cardType=='Card Info (Plan Activation) #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title single-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
          </div>
        </div>
      </div>
    
      <div class="card-content">
        <div class="tabular-list">
          <div class="tabular-row">
            <span class="float-left">Visiting Country</span>
            <span class="float-right">Cyprus</span>
          </div>
          <div class="tabular-row">
            <span class="float-left">Preferred Operator</span>
            <span class="float-right">Areeba/MTN</span>
          </div>
        </div>
      </div>
    
      <div class="card-footer">
      </div>
    
    </div>
    
    
      <!--Group Sharing Data-->
      <div class="card" *ngIf="cards.cardType=='Group Sharing Data #1'">
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i [class]="cards.class"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.title)}}</div>
              <div class="sub">{{cards.subtitle}}</div>
            </div>
          </div>
        </div>
    
        <div class="card-content">
          <page-usage-indicator [value]="cards.dataBalance" [minValue]="0" [maxValue]="cards.dataTotal" [expiryDate]="cards.date"
          [hideProgressBar]="false" [unit]="cards.unit"></page-usage-indicator>
          <div class="availability-and-usage">
            <div class="usage-card-data float-left">
              <span class="usage">{{cards.dataBalance}}<span> Unit Available</span></span>
            </div>
      
            <div class="unit-used">
              <div>{{cards.dataUsed}} unit Used</div>
            </div>
          </div>
          <div class="divider"><hr/></div>  
        </div>
    
        <div class="card-footer">
          <div class="content-block-actions">
            <div class="title">
              <div class="title-main float-left">Unsubscribe</div>
              <div class="title-sub float-left ">Turn off to cancel auto-renewal and unsubscribe from plan</div>
            </div>
            <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
          </div>
        </div>  
      </div>
  </div>
  <button ion-button class="default-button" (click)="goToSubscriptions(3)">
    Buy More
    <i class="XPAX-Right-Bubble"></i>
    <i class="XPAX-Left-Bubble"></i>
  </button>
  </ion-content>
  
