<!--
  Generated template for the ConfirmationScreensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Confirmation</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <h3 *ngIf="!isCreditTransfer" class="">Confirm your Purchase</h3>
    <h3 *ngIf="isCreditTransfer" class="">Deduct with credit</h3>


    <div *ngIf="!isCreditTransfer && !isCreditAdv" class="text-container1">
        <div class="row">
            <span class="float-left">{{ ( isNumberAvaliableToGift && (gift_request != 'buy_gift_for' && gift_request != 'buy_for_self' && gift_request
                != undefined)) ? 'Requestor ' : 'Buyer '}}</span>
            <span class="float-right">{{mobileNo}}</span>
        </div>

        <div class="row" *ngIf="isNumberAvaliableToGift">
            <span class="float-left">
                    {{ ( isNumberAvaliableToGift && (gift_request == 'request_gift_from') && gift_request
                    != undefined) ? 'Buyer ' : 'Send To '}}
                    <!-- old one Receiver -->                    
            </span>
            <span class="float-right">
                <!-- 018-888-8888 -->
                {{numberToSendAndGet}}
            </span>
        </div>

    </div>
    <div *ngIf="isCreditTransfer" class="text-container1">
        <div class="row">
            <span class="float-left">Transfer from </span>
            <span class="float-right">{{debitedFrom}}</span>
        </div>
        <div class="row">
            <span class="float-left">Transfer to </span>
            <span class="float-right">{{creditedTo}}</span>
        </div>

    </div>
    <div *ngIf="isCreditAdv" class="text-container1">
        <div class="row">
            <span class="float-left">Buy with </span>
            <span class="float-right">{{mobileNo}}</span>
        </div>

    </div>
    <div class="text-container2" *ngIf="isCreditTransfer">Recipient will be getting {{amountTransfer}} credits.
        <!-- Requesting: RM79 for 15GB Monthly.  -->
        <!-- Your message: “Thank you very much please send the gift ASAP.” -->
    </div>
    <div class="text-container2" *ngIf="isCreditAdv">You will be getting {{cardDenom}} credits.</div>
    <div class="text-container2" *ngIf="isCreditAdv"> {{finalDenom}} will be deducted in future.</div>
    <!-- oleole mcp & xpax send gift -->
    <div class="text-container2" *ngIf="isNumberAvaliableToGift && (gift_request == 'buy_gift_for' || gift_request == 'buy_for_self' && gift_request != undefined)">Gift:&nbsp;&nbsp;{{partOfTitle}}
        <!-- &nbsp;&nbsp;{{confirmDetails?.PLAN_DESCRIPTION != undefined ? confirmDetails?.PLAN_DESCRIPTION : confirmDetails?.PASS_NAME}} -->
        <!-- {{numberToSendAndGet}} -->
        <!-- Requesting: RM79 for 15GB Monthly.  -->
        <div  *ngIf="personalizedMessage !=''">Your message: “{{personalizedMessage}}”</div>
    </div>

    <!-- oleole mcp & xpax request gift -->
    <div class="text-container2" *ngIf="isNumberAvaliableToGift && (gift_request != 'buy_gift_for' && gift_request != 'buy_for_self' && gift_request != undefined)">Gift:&nbsp;&nbsp;{{partOfTitle}}
        <!-- &nbsp;&nbsp;{{confirmDetails?.PLAN_DESCRIPTION != undefined ? confirmDetails?.PLAN_DESCRIPTION : confirmDetails?.PASS_NAME}} -->
        <div  *ngIf="personalizedMessage !=''">Your message: “{{personalizedMessage}}”</div>
        <!-- Requesting: RM79 for 15GB Monthly.  -->
        <!-- Your message: “Thank you very much please send the gift ASAP.” -->
    </div>

    <div class="text-container2" *ngIf="!isNumberAvaliableToGift && !isValidityExt && !isCreditTransfer && !isCreditAdv">Requesting:
        <!-- &nbsp;&nbsp;{{partOfTitle == confirmDetails?.PASS_NAME ? '' : partOfTitle}}&nbsp;&nbsp; -->
        <!-- Change by Kush -->
        <!-- {{confirmDetails?.PLAN_DESCRIPTION != undefined ? confirmDetails?.PLAN_DESCRIPTION : confirmDetails?.PASS_NAME}} -->
        {{title}}
        <!-- Requesting: RM79 for 15GB Monthly.  -->
        <!-- Your message: “Thank you very much please send the gift ASAP.” -->
    </div>
    <div class="text-container2" *ngIf="isValidityExt">Validity extended to {{newValidityDate}}
        <!-- Requesting: RM79 for 15GB Monthly.  -->
        <!-- Your message: “Thank you very much please send the gift ASAP.” -->
    </div>


    <div class="rectCollapseCont" [hidden]="myVar" (click)="toggleList()">
        <div *ngIf="!isValidityExt && !isCreditTransfer && !isCreditAdv" class="rectTitle">
            <!-- Deduction Next Month :  -->
            Cost:

            {{valueForTotal ? valueForTotal :(confirmDetails?.PLAN_AMOUNT != undefined ? confirmDetails?.PLAN_AMOUNT :(confirmDetails?.PRODUCT_PRICE != undefined ?  ( (confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM') : ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM") != -1 ? '' : 'RM') ) ) +" "+(confirmDetails?.PRODUCT_PRICE != undefined ? confirmDetails?.PRODUCT_PRICE : confirmDetails?.PASS_PRICE_DISPLAY) }}

            <!-- {{ confirmDetails?.PLAN_AMOUNT != undefined ? confirmDetails?.PLAN_AMOUNT : (confirmDetails?.PRODUCT_PRICE != undefined
            ? ( (confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ) : ( (confirmDetails?.PASS_PRICE_DISPLAY).search("RM")
            != -1 ? '' : 'RM') ) }} {{confirmDetails?.PRODUCT_PRICE != undefined ? confirmDetails?.PRODUCT_PRICE : confirmDetails?.PASS_PRICE_DISPLAY}} -->

        </div>
        <div *ngIf="isValidityExt && !isCreditTransfer" class="rectTitle">
            <!-- for validity extension -->
            Cost:RM{{AmountDeducted}}
        </div>
        <div *ngIf="isCreditTransfer" class="rectTitle">
            <!-- for validity extension -->
            Cost: {{totalChrge}}
        </div>
        <div *ngIf="isCreditAdv" class="rectTitle">
            <!-- for validity extension -->
            Next Reload Deduction:{{finalDenom}}
        </div>
        <img class="float-right imgShape" src="./assets/img/Shape-down.png" />
    </div>

    <div class="rectCollapseCont" [hidden]="!myVar" (click)="toggleList()">
        <div *ngIf="!isValidityExt && !isCreditTransfer && !isCreditAdv"  class="rectTitle">
            <!-- Deduction Next Month :  -->
            Cost:
            <!-- RM   -->
            <!-- 20-feb -->
            <!-- {{ confirmDetails?.PLAN_AMOUNT != undefined ? confirmDetails?.PLAN_AMOUNT : (confirmDetails?.PRODUCT_PRICE != undefined ?
            ( (confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ) : ( (confirmDetails?.PASS_PRICE_DISPLAY).search("RM")
            != -1 ? '' : 'RM') ) }} -->

            <!-- oleole gift -->
            <!-- {{confirmDetails?.PLAN_AMOUNT}} -->

            <!-- 20-feb -->
            <!-- {{confirmDetails?.PRODUCT_PRICE != undefined ? confirmDetails?.PRODUCT_PRICE : confirmDetails?.PASS_PRICE_DISPLAY}} -->
            <!-- {{valueForTotal}} -->
            {{valueForTotal ? valueForTotal :(confirmDetails?.PLAN_AMOUNT != undefined ? confirmDetails?.PLAN_AMOUNT :(confirmDetails?.PRODUCT_PRICE != undefined ?  ( (confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM') : ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM") != -1 ? '' : 'RM') ) ) +" "+(confirmDetails?.PRODUCT_PRICE != undefined ? confirmDetails?.PRODUCT_PRICE : confirmDetails?.PASS_PRICE_DISPLAY) }}

        </div>

        <div *ngIf="isValidityExt && !isCreditTransfer" class="rectTitle">
            <!-- for validity extension -->
            Cost: RM{{AmountDeducted}}
        </div>

        <div *ngIf="isCreditTransfer" class="rectTitle">
            <!-- for validity extension -->
            Cost: {{totalChrge}}
        </div>

        <img class="float-right imgShape" src="./assets/img/Shape-up.png">

        <div class="text-container1">
            <div class="row row1">
                <span class="float-left">Items</span>
                <span *ngIf="!isValidityExt && !isCreditTransfer" class="float-right">Credit</span>
                <span *ngIf="isValidityExt || isCreditTransfer" class="float-right">Cost</span>
            </div>
            <div *ngIf="isCreditTransfer || isCreditAdv" class="row">
                <span *ngIf="isCreditTransfer" class="float-left">Amount Transferred</span>
                <span *ngIf="isCreditAdv" class="float-left">Credit Advance</span>
                <span *ngIf="isCreditTransfer " class="float-right"> {{amountTransfer}}</span>
                <span *ngIf="isCreditAdv " class="float-right">{{cardDenom}}</span>
            </div>

            <div *ngIf="!isCreditTransfer && !isCreditAdv && gift_request == undefined" class="row row2">
                <span *ngIf="!isValidityExt && !isCreditTransfer && !isNumberAvaliableToGift" class="float-left">
                    <!-- Transaction fee  -->
                    {{confirmDetails?.PLAN_DESCRIPTION != undefined ? confirmDetails?.PLAN_DESCRIPTION : confirmDetails?.PASS_NAME}}
                </span>

                <span *ngIf="isValidityExt && !isCreditTransfer" class="float-left">{{AmountDeducted}} Days Validity</span>

                <span *ngIf="!isValidityExt && !isCreditTransfer && !isNumberAvaliableToGift" class="float-right">

                    {{ confirmDetails?.PLAN_AMOUNT != undefined ? confirmDetails?.PLAN_AMOUNT : (confirmDetails?.PRODUCT_PRICE != undefined ?
                    ((confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ): ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM")
                    != -1 ? '' : 'RM')) }} {{confirmDetails?.PRODUCT_PRICE != undefined ? confirmDetails?.PRODUCT_PRICE :
                    confirmDetails?.PASS_PRICE_DISPLAY}}

                </span>
                <span *ngIf="isValidityExt && !isCreditTransfer" class="float-right">

                    RM{{AmountDeducted}}
                </span>


            </div>

            <!-- gift_request == buy_gift_for  i.e. buy gift for -->
            <div class="row" *ngIf="gift_request == 'buy_gift_for'">
                <span class="float-left">{{partOfTitle == confirmDetails?.PASS_NAME ? '' : partOfTitle}}&nbsp;&nbsp;{{confirmDetails?.PLAN_DESCRIPTION != undefined ? confirmDetails?.PLAN_DESCRIPTION : confirmDetails?.PASS_NAME}}
                    </span>
                <span class="float-right">
                    <!-- RM 10000.00 -->
                    <!-- RM -->
                    <!-- {{confirmDetails?.PRODUCT_PRICE != undefined ?

                        ((confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ):
                        ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM")!= -1 ? '' : 'RM')
                    }} -->
                    <!-- {{ (isNumberAvaliableToGift && (gift_request != 'buy_gift_for' && gift_request != 'undefined')) ? 'RM 0.20': 'RM 0.50'}} -->


                    {{ confirmDetails?.PLAN_AMOUNT != undefined ? confirmDetails?.PLAN_AMOUNT : (confirmDetails?.PRODUCT_PRICE != undefined ?
                    ((confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ): ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM")
                    != -1 ? '' : 'RM')) }} {{confirmDetails?.PRODUCT_PRICE != undefined ? confirmDetails?.PRODUCT_PRICE :
                    confirmDetails?.PASS_PRICE_DISPLAY}}

                </span>
            </div>

            <!-- buy_for_self -->
            <div class="row row2" *ngIf="gift_request == 'buy_for_self'">
                    <span class="float-left">{{partOfTitle == confirmDetails?.PASS_NAME ? '' : partOfTitle}}&nbsp;&nbsp;{{confirmDetails?.PLAN_DESCRIPTION != undefined ? confirmDetails?.PLAN_DESCRIPTION : confirmDetails?.PASS_NAME}}
                        </span>
                    <span class="float-right">
                        <!-- RM 10000.00 -->
                        <!-- RM -->
                        <!-- {{confirmDetails?.PRODUCT_PRICE != undefined ?

                            ((confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ):
                            ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM")!= -1 ? '' : 'RM')
                        }} -->
                        <!-- {{ (isNumberAvaliableToGift && (gift_request != 'buy_gift_for' && gift_request != 'undefined')) ? 'RM 0.20': 'RM 0.50'}} -->


                        {{ confirmDetails?.PLAN_AMOUNT != undefined ? confirmDetails?.PLAN_AMOUNT : (confirmDetails?.PRODUCT_PRICE != undefined ?
                        ((confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ): ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM")
                        != -1 ? '' : 'RM')) }} {{confirmDetails?.PRODUCT_PRICE != undefined ? confirmDetails?.PRODUCT_PRICE :
                        confirmDetails?.PASS_PRICE_DISPLAY}}

                    </span>
                </div>


            <div class="row row2" *ngIf="gift_request == 'buy_gift_for'">
                <span class="float-left ">Transaction fee </span>
                <span class="float-right ">
                    <!-- RM 10000.00 -->
                    <!-- RM -->
                    <!-- {{confirmDetails?.PRODUCT_PRICE != undefined ?

                        ((confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ):
                        ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM")!= -1 ? '' : 'RM')
                    }} -->
                    <!-- {{ (isNumberAvaliableToGift && (gift_request != 'buy_gift_for' && gift_request != 'undefined')) ? 'RM 0.20': 'RM 0.50'}} -->



                    {{ (isNumberAvaliableToGift && (gift_request != 'buy_gift_for' && gift_request != undefined)) ? 'RM 0.20': 'RM 0.50'}}
                    {{theTotal(0.50,gift_request,confirmDetails?.PRODUCT_PRICE,confirmDetails?.PLAN_AMOUNT)}}
                </span>
            </div>

            <!-- gift_request == request_gift_from  i.e. buy gift for -->
            <div class="row row2" *ngIf="gift_request == 'request_gift_from'">
                <span class="float-left">Transaction fee</span>
                <span class="float-right">
                    <!-- RM 10000.00 -->
                    <!-- RM -->
                    <!-- {{confirmDetails?.PRODUCT_PRICE != undefined ?

                        ((confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ):
                        ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM")!= -1 ? '' : 'RM')
                    }} -->
                    <!-- {{ (isNumberAvaliableToGift && (gift_request != 'buy_gift_for' && gift_request != 'undefined')) ? 'RM 0.20': 'RM 0.50'}} -->

                    {{ (isNumberAvaliableToGift && (gift_request != 'buy_gift_for' && gift_request != undefined)) ? 'RM 0.20': 'RM 0.50'}} {{theTotal(0.20,'request_gift_from','NA','NA')}}
                </span>
            </div>

            <!-- voucher charges -->
            <!-- <div class="row" *ngIf="isVoucher">
                <span class="float-left">{{confirmDetails?.PLAN_DESCRIPTION != undefined ? confirmDetails?.PLAN_DESCRIPTION : confirmDetails?.PASS_NAME}}  003</span>
                <span class="float-right">

                    {{ (isNumberAvaliableToGift && (gift_request != 'buy_gift_for' && gift_request != 'undefined')) ? 'RM 0.20': 'RM 0.50'}}

                </span>
            </div> -->

            <div class="row row2" *ngIf="isCreditTransfer">
                <span class="float-left">Transaction Fee Charge</span>
                <span class="float-right">RM 0.50</span>
            </div>
            <div class="row row2" *ngIf="isCreditAdv">
                <span class="float-left">Service Fee Charge</span>
                <span class="float-right">RM 0.50</span>
            </div>

            <div class="row row3">
                <span class="float-left">Total</span>
                <span *ngIf="!isValidityExt && !isCreditTransfer && (gift_request == 'buy_for_self' || gift_request == undefined)" class="float-right">
                    <!-- RM 10000.00 -->
                    <!-- RM -->
                    <!-- {{confirmDetails?.PRODUCT_PRICE != undefined ?

                        ((confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ):
                        ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM")!= -1 ? '' : 'RM')
                    }} -->


                    {{ confirmDetails?.PLAN_AMOUNT != undefined ? confirmDetails?.PLAN_AMOUNT : (confirmDetails?.PRODUCT_PRICE != undefined ?
                    ((confirmDetails?.PRODUCT_PRICE).search("RM") != -1 ? '' : 'RM' ): ((confirmDetails?.PASS_PRICE_DISPLAY).search("RM")
                    != -1 ? '' : 'RM')) }} {{confirmDetails?.PRODUCT_PRICE != undefined ? confirmDetails?.PRODUCT_PRICE :
                    confirmDetails?.PASS_PRICE_DISPLAY}}



                </span>
                <!-- for oleolegift and subscription -->
                <span *ngIf="!isValidityExt && !isCreditTransfer && (gift_request == 'request_gift_from' || gift_request == 'buy_gift_for')"
                    class="float-right">
                    {{valueForTotal}}
                </span>

                <span *ngIf="isValidityExt" class="float-right">
                    RM{{AmountDeducted}}
                </span>
                <span *ngIf="isCreditAdv" class="float-right">
                        {{finalDenom}}
                    </span>

                <span *ngIf="isCreditTransfer" class="float-right">

                    {{totalChrge}}
                </span>
            </div>
        </div>

    </div>

    <div *ngIf="!isCreditAdv " class="text-container1">{{ (userInfo.ListOfServices.Services.ServiceType == "Postpaid" || userInfo.ListOfServices.Services.Pre_Pos_Indicator == "Postpaid") ? "Add to my bill" : "Deduct from credit balance"}}
    </div>

    <div *ngIf="!isCreditAdv && !isValidityExt && !isCreditTransfer" class="text-container1">
        <b>{{ (userInfo.ListOfServices.Services.ServiceType == "Postpaid" || userInfo.ListOfServices.Services.Pre_Pos_Indicator == "Postpaid") ? "" : "New Credit Balance: "+(prebillAmount | RMprice:"nodash")}}</b>
    </div>

    <div *ngIf="isValidityExt " class="text-container1">{{ (userInfo.ListOfServices.Services.ServiceType == "Postpaid" || userInfo.ListOfServices.Services.Pre_Pos_Indicator
        == "Postpaid") ? "Add to my bill" : "New Credit Balance: " }}{{newCreditBalance | RMprice}}</div>
    <div *ngIf="isCreditTransfer " class="text-container1">{{ (userInfo.ListOfServices.Services.ServiceType == "Postpaid" || userInfo.ListOfServices.Services.Pre_Pos_Indicator
        == "Postpaid") ? "Add to my bill" : "New Credit Balance: " }}{{newCreditBal | RMprice}}</div>
    <div *ngIf="isCreditAdv " class="text-container1">Deduct with Credit at next reload</div>
    <div *ngIf="isCreditAdv " class="text-container1">{{ (userInfo.ListOfServices.Services.ServiceType == "Postpaid" || userInfo.ListOfServices.Services.Pre_Pos_Indicator
        == "Postpaid") ? "Add to my bill" : "New Credit Balance: " }}{{remainingBal | RMprice}}</div>
    <div class="row">

        <!-- <span class="float-right spanTextB">
            {{confirmDetails.PRODUCT_PRICE != undefined ? confirmDetails.PRODUCT_PRICE : confirmDetails.PASS_PRICE_DISPLAY}}
        </span> -->
    </div>
    <div  class="confirmBtn">
      <div  class="terms-container" *ngIf="isNumberAvaliableToGift">
        <div class="text text-center">By clicking on Confirm, you have read and agreed to our <a class="accept-terms" (click)="openGiftingTnC()">Terms & Conditions</a>
        </div>
      </div>

    <div  *ngIf="!isNumberAvaliableToGift && !isCreditTransfer && !isValidityExt && !isCreditAdv">
        <button ion-button class="default-button" (click)="presentsucess(confirmDetails,true,false)">
            Confirm
            <i class="XPAX-Right-Bubble"></i>
            <i class="XPAX-Left-Bubble"></i>
        </button>
    </div>

    <div  *ngIf="isNumberAvaliableToGift">
        <button ion-button class="default-button" (click)="presentSucessForGift(confirmDetails)" [disabled]="isEnabledOleoleGift">
            Confirm
            <i class="XPAX-Right-Bubble"></i>
            <i class="XPAX-Left-Bubble"></i>
        </button>
    </div>
    <div  *ngIf="isValidityExt">
        <button ion-button class="default-button" (click)="goToValidity()">
            Confirm
            <i class="XPAX-Right-Bubble"></i>
            <i class="XPAX-Left-Bubble"></i>
        </button>
    </div>
    <div  *ngIf="isCreditTransfer">
        <button ion-button class="default-button" (click)="goToCreditTransfer()">
            Confirm
            <i class="XPAX-Right-Bubble"></i>
            <i class="XPAX-Left-Bubble"></i>
        </button>
    </div>
    <div  *ngIf="isCreditAdv">
        <button ion-button class="default-button" (click)="goToCreditAdvance()">
                Confirm
                <i class="XPAX-Right-Bubble"></i>
                <i class="XPAX-Left-Bubble"></i>
            </button>
    </div>
    </div>

</ion-content>
