page-oleole-terms-conditions {

 .content {
    background: #fff;
  }
  
 ion-header {
    .toolbar-background{
      background-image: linear-gradient(39deg, #1DBED6 0%, #199BDB 100%);
    }
    .page-title-container {
      width: 100%;
      float: left;
      margin-bottom: 17px;
      text-align: center;
      span {
        color: #ffffff;
        font-size: 24px;
        line-height: 20px;
        margin-left: 18px;
        letter-spacing: 0.6px;
      }
    }
  }
  super-tabs {
    super-tab-button.title-only.selected {
      span {
        color: $primary-Color;
      }
    }

  }

  ion-content{
    p , ol li{
      font-size: 16px;
      color: #333333;
      line-height: 20px;
    }
   span {
      color: #999999;
    }
    ol{
      padding-left: 30px;
    }
}  

}
