<!--
  Generated template for the InternetPlansPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <ion-scroll   class="internet-card-container" scrollX="true">
        <div  *ngFor="let item of subTitle;let i = index" (click)="addCssSub(i)" [ngClass]="{'selected': i==subIndexValue ,'hiddenKawKaw': (kawkawCheck &&(i>=3 && i<=5)) ||  (!kawkawCheck &&(i<=2))}" class="internet-card float-left">
            <span class="internet-card-title"> 
                    {{item.name }}
            </span>
            <span class="internet-card-subtitle" >
                {{RM}}  {{item.amount}}
            </span>
            <span class="internet-card-des">{{validity}} {{item.validity}}</span>
        </div>
    </ion-scroll>
    <!-- <ion-scroll  *ngIf="flag"  class="internet-card-container" scrollX="true">
        <div *ngFor="let item of subTitle;let i = index" (click)="addCssSub(i)" [ngClass]="{'selected': item.amount=='30.00' ,'hiddenKawKaw': (!kawkawCheck &&(i<=2))}" class="internet-card float-left">
            <span class="internet-card-title">
                    {{item.name}}
            </span>
            <span class="internet-card-subtitle">
                    {{item.amount}}
            </span>
        </div>
        
    </ion-scroll> -->
    <!-- <div class="slider-subtitle">
        Please choose a reload amount to move forward
    </div> -->
    <div class="subtitle">
        Payment Method
    </div>
 <div class="internet-card-container-payment-visa">
    <ion-scroll   class="internet-card-container payment-container" scrollX="true">
        <div  *ngFor="let item of paymentMethod;let i = index" (click)="addCss(i)" [ngClass]="{'selected': i==indexValue}" class="internet-card payment float-left">
            <span class="internet-card-title">
                <ion-icon name="{{item.icon}}"></ion-icon>
            </span>
            <span class="internet-card-subtitle">
                <span>{{item.type}}</span>
            </span>
        </div>
    </ion-scroll>
    <!-- <ion-scroll   *ngIf="flag2" class="internet-card-container payment" scrollX="true">
        <div  *ngFor="let item of paymentMethod;let i = index" (click)="addCss(i)" [ngClass]="{'selected': item.type=='Credit Card'}" class="internet-card selected float-left">
            <span class="internet-card-title">
                <ion-icon name="{{item.icon}}"></ion-icon>
            </span>
            <span class="internet-card-subtitle">
                <span>{{item.type}}</span>
            </span>
        </div>
    </ion-scroll> -->

 <div *ngIf="Cardflag"  class="payment-slider-visa">
        <hr>
        <div>
            <ion-icon name="custom-reload-credit-card"></ion-icon>
            <span>{{selectedCard}}</span>
            <button (click)="presenChangeCreditModal()">
                Edit
              </button>
        </div>
    </div>
    </div>

    <div class="button-container" ion-fixed>
        <button  (click)="goToPay()"  ion-button class="default-button">
        Next
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>
