<!--
  Generated template for the FaqCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>FAQ</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding content content-ios>
      
      
  <!-- Component with question and body copy-->
      
    <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePrepaid'">What is Celcom Life, and how beneficial is it to me as an XPAX customer?</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePrepaid'">
      The Celcom Life app by Celcom is created exclusively to help you check and manage your XPAX account. </div>
    
      <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePrepaid'">What are the features of Celcom Life?</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePrepaid'">
      Celcom Life lets check on account details such as Internet, calls, SMS/MMS balance, roaming balance, reload, get your PUK code and purchase add-ons. </div>

      <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePrepaid'">Where do I download Celcom Life app from?</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePrepaid'">
      Depending on your device’s operating system, you can download the app from Google Play Store (Android) or Apple App Store (iOS) </div>

      <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePrepaid'">Will I be charged for using Celcom Life?</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePrepaid'">
      Celcom Life is FREE to download and FREE to use without incurring any Internet charges if you are a Celcom customer. </div>


      <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePrepaid'">Can all Celcom customers use Celcom Life?</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePrepaid'">
      Celcom Life is available to all Celcom customers. </div>
      

       <div class="faqQuestion" *ngIf="category=='usagePrepaid'">How do I view my usage?</div>
      
    <div class="faqAnswer" *ngIf="category=='usagePrepaid'">
      On the dashboard, your usage information is shown on screen. To view usage categories, swipe the dial. You may also tap on ‘View Details’ for in-depth information on all your usage categories.
 </div>


 <div class="faqQuestion" *ngIf="category=='purchaseInternetPlanPreapid'">How do I purchase additional Internet?</div>
      
    <div class="faqAnswer" *ngIf="category=='purchaseInternetPlanPreapid'">
      You may purchase additional Internet from either of these 3 options:
      <ol type="a">    
          <li> From the dashboard, tap on ‘Buy More’ and follow the instructions</li>
          <li>From the dashboard, tap on ‘View Details’ and click on ‘Buy More’</li>
          <li>From Menu, tap on ‘Subscriptions’ and follow the instructionst</li>
        </ol>
    </div>
      
  <!--  Component with question and bullet points-->
      
    <div class="faqQuestion" *ngIf="category=='manageccPrepaid'">How do I delete a saved Credit/Debit Card?</div>
      
    <div class="faqAnswer" *ngIf="category=='manageccPrepaid'">
        <ol type="a">
            
          <li> On the dashboard, select ‘Settings’</li>
          <li>Select ‘Manage Payment Method’</li>
          <li>Select the credit card you want to remove from the registered credit card list</li>
          <li>Click on ‘Edit’</li>
          <li>Click on ‘Delete’</li>
          <li>Confirm your intention to delete the card</li>
        
        </ol>
      </div>
       <div class="faqQuestion" *ngIf="category=='manageccPrepaid'">How do I save a credit card for future transactions?</div>
      
    <div class="faqAnswer" *ngIf="category=='manageccPrepaid'">
        <ol type="a">
          <li> After making a payment with a credit card, you will be given the option to save the card for future transactions.</li>
        
        </ol>
      </div>
      
  <!--   Component with question, bullet point and body copy-->
      
    <div class="faqQuestion" *ngIf="category=='servicePrepaid'">What features are available in Services?</div>
      
    <div class="faqAnswer" *ngIf="category=='servicePrepaid'">
        <ol type="a">
            
          <li> OleOle
            <div>OleOle is the all-new e-gifting service that lets you buy and send a gift, or request a gift from family and friends. Celcom will deliver the purchased gifts for all Celcom customers.</div>
             </li>
            
          <li>Request SIM Replacement
            <div>You can easily request a new SIM card should your current one become damaged or faulty, if your SIM is permanently blocked or, you have changed to a new phone</div>
            </li>
          <li>Manage Validity Extension
            <div>When you still have credit balance but is no longer valid due to expiry date, you may extend the validity by extending the expiry at RM1 per day. However, to enjoy this feature, you must have a minimum of RM1 in credit balance. Terms and conditions apply.</div>
            </li>
            
          <li>Manage Credit Transfer
              <div>As a Celcom prepaid user, you may transfer credit to any other Celcom prepaid number to share your credit. To enjoy this feature, you must have a minimum of RM2 in credit balance. If you are a new Celcom customer, you must utilise a minimum RM10 credit before you can transfer any credit. Terms and conditions apply.</div>
            </li>
            
          <li>Manage Credit Advance
              <div>To ensure service continuity when your credit balance has reached the minimum amount of RM.050, instead of reloading, you may ask for an advance of credit from Celcom. Terms and conditions apply.</div>
            </li>
            
          <li>Upgrade to Latest Plan (where applicable)
            <div>Legacy plan customers currently do not enjoy the latest plan offers and benefits. If you are still a legacy plan customer, you are eligible to upgrade to the latest plan.</div>
            </li>
        
        </ol>
      </div>
      
   
       <div class="faqQuestion" *ngIf="category=='accountPrepaid'">How can I manage my prepaid accounts?</div>
      
    <div class="faqAnswer" *ngIf="category=='accountPrepaid'">
    If you have more than one mobile number registered with your identification number (IC),  click on the dropdown arrow next to your mobile number on the title bar at the top of the menu and all your accounts will be displayed. 
    </div>
  
  <div class="faqQuestion" *ngIf="category=='accountPrepaid'">How do I check my PUK code?</div>
      
    <div class="faqAnswer" *ngIf="category=='accountPrepaid'">
   1. To check your PUK code, go to Menu, tap on ‘Support’ and tap on ‘PUK Code’. 
    </div>

    <div class="faqQuestion" *ngIf="category=='accountPrepaid'">How do I check my prepaid plan details?</div>
      
    <div class="faqAnswer" *ngIf="category=='accountPrepaid'">
   To check your plan details, go to dashboard and tap on your displayed mobile number 
    </div>

<div class="faqQuestion" *ngIf="category=='reloadPrepaid'">How do I reload?</div>
      
    <div class="faqAnswer" *ngIf="category=='reloadPrepaid'">
   To reload, tap on ‘Reload’ or ‘Buy More’ in the dashboard or, tap on ‘Reload’ in the Menu, and follow the instructions. 
    </div>


<!--Postpaid Page
  -->
    
<div class="faqQuestion" *ngIf="category=='aboutCelcomLifePostpaid'">What is Celcom Life, and how beneficial is it to me as a FIRST™ customer?
</div>
<div class="faqAnswer" *ngIf="category=='aboutCelcomLifePostpaid'">
      The Celcom Life app by Celcom is created exclusively to help you check and manage your FIRST™ account.  </div>
    
      <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePostpaid'">What are the features of Celcom Life?</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePostpaid'">
    Celcom Life lets check on account details such as Internet, calls, SMS balance, roaming balance, as well as pay bills, get your PUK code and purchase add-ons.
 </div>

      <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePostpaid'">How do I sign up for Celcom Life?</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePostpaid'">
     You will be able to access the app automatically if you are on Celcom mobile network. If you are on other Internet connections, you can request for a One Time PIN (OTP) from your mobile.
 </div>

      <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePostpaid'">Where do I download Celcom Life app from?</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePostpaid'">
     Depending on your device’s operating system, you can download the app from Google Play Store (Android) or Apple App Store (iOS)
 </div>


      <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePostpaid'">Will I be charged for using Celcom Life?
</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePostpaid'">
     Celcom Life is FREE to download and FREE to use without incurring any Internet charges if you are a Celcom customer.
 </div>
      <div class="faqQuestion" *ngIf="category=='aboutCelcomLifePostpaid'">Can all Celcom customers use Celcom Life?
</div>
      
    <div class="faqAnswer" *ngIf="category=='aboutCelcomLifePostpaid'">
     Celcom Life is available to all Celcom customers.
 </div>

  <div class="faqQuestion" *ngIf="category=='usagePostpaid'">How do I view my usage?</div>
      
    <div class="faqAnswer" *ngIf="category=='usagePostpaid'">
    On the dashboard, your usage information is shown on screen. To view usage categories, swipe the dial. You may also tap on ‘View Details’ for in-depth information on all your usage categories. 
    </div>

    <div class="faqQuestion" *ngIf="category=='accountPostpaid'">How do I check my postpaid plan details?</div>
      
    <div class="faqAnswer" *ngIf="category=='accountPostpaid'">
      To check your plan details, go to dashboard and tap on your displayed mobile number
    </div>
  
  <div class="faqQuestion" *ngIf="category=='accountPostpaid'">How do I manage multiple accounts?</div>
      
    <div class="faqAnswer" *ngIf="category=='accountPostpaid'">
    If you have more than one mobile number registered with your identification number (IC),  click on the dropdown arrow next to your mobile number on the title bar at the top of the menu and all your accounts will be displayed.
    </div>
  
<div class="faqQuestion" *ngIf="category=='manageccPostpaid'">How do I delete a saved Credit/Debit Card?</div>
      
    <div class="faqAnswer" *ngIf="category=='manageccPostpaid'">
        <ol type="a">
            
          <li> On the dashboard, select ‘Settings’</li>
          <li>Select ‘Manage Payment Method’</li>
          <li>Select the credit card you want to remove from the registered credit card list</li>
          <li>Click on ‘Edit’</li>
          <li>Click on ‘Delete’</li>
          <li>Confirm your intention to delete the card</li>
          
        </ol>
      </div>

      <div class="faqQuestion" *ngIf="category=='manageccPostpaid'">How do I save a credit card for future transactions?</div>
        <div class="faqAnswer" *ngIf="category=='manageccPostpaid'">
 <ol type="a">
          <li> After making a payment with a credit card, you will be given the option to save the card for future transactions.</li>
        
        </ol>
        </div>
        <div class="faqQuestion" *ngIf="category=='servicePostpaid'">What features are available in Services?
</div>  
<div class="faqAnswer" *ngIf="category=='servicePostpaid'">
  <ol type="a">
            
          <li> OleOle <br>
          OleOle is the all-new e-gifting service that lets you buy and send a gift, or request a gift from family and friends. Celcom will deliver the purchased gifts for all Celcom customers.</li>
          <li>Auto Billing <br>
          Auto Billing ensures that you never miss another bill payment again with saved a credit card. In addition, you will also enjoy a 5% rebate on all your bills.
        </li>
          <li>Request SIM Replacement <br>
          You can easily request a new SIM card should your current one become damaged or faulty, if your SIM is permanently blocked or, you have changed to a new phone
        </li>
        
        </ol>      
 </div>
    
      <div class="faqQuestion" *ngIf="category=='servicePostpaid'">How do I purchase additional Internet?</div>
      
    <div class="faqAnswer" *ngIf="category=='servicePostpaid'">
    You may purchase additional Internet from either of these 3 options:
    <ol type="a">
            
          <li> From the dashboard, tap on ‘Buy More’ and follow the instructions</li>
        <li>From the dashboard, tap on ‘View Details’ and click on ‘Buy More’</li>
          <li>From Menu, tap on ‘Subscriptions’ and follow the instructions</li>
        
        </ol> 
    </div>
      <div class="faqQuestion" *ngIf="category=='servicePostpaid'">How do I pay my bills?</div>
      <div class="faqAnswer" *ngIf="category=='servicePostpaid'">
      To pay bills, tap on ‘Pay Bill’ in either the dashboard or the Menu and follow the instruction</div>

      <div class="faqQuestion" *ngIf="category=='servicePostpaid'">How do I check my PUK code?</div>
      <div class="faqAnswer" *ngIf="category=='servicePostpaid'">
     To check your PUK code, go to Menu, tap on ‘Support’ and tap on ‘PUK Code’.
</div>

<div class="faqQuestion" *ngIf="category=='servicePostpaid'">How do I check my billing history?
</div>
      <div class="faqAnswer" *ngIf="category=='servicePostpaid'">
     On the dashboard, tap on Menu then ‘Transactions’. You will be able to view your statements for the last 3 months. You may also download PDF version for your own reference.
</div>


  </ion-content>
  