<!--
  Generated template for the ConfirmationScreensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <!-- <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button> -->
        
        <ion-title>Confirmation</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

  <h3 class="">Confirm your Purchase</h3>

  <div class="text-container1">
    <div class="row">
      <span class="float-left">Buyer</span>
      <span class="float-right">{{mobileNumber}}</span>
    </div>

    <!-- <div class="row">
        <span class="float-left">Gift to</span>
        <span class="float-right">018-888-8888</span>
    </div> -->

  </div>

  <!-- <div class="text-container2">Requesting: RM79 for 15GB Monthly. Your message: “Thank you very much please send the gift ASAP.”</div> -->

  <div class="rectCollapseCont" [hidden]="myVar" (click)="toggleList()">
    <div class="rectTitle">Cost : RM{{cost}}</div>
    <img class="float-right imgShape" src="./assets/img/Shape-down.png">
  </div>

  <div class="rectCollapseCont" [hidden]="!myVar" (click)="toggleList()">
    <div class="rectTitle">Cost : RM{{cost}}</div>
    <!-- <div class="rectTitle">Deduction Next Month : RM 100.00</div> -->
    <img class="float-right imgShape" src="./assets/img/Shape-up.png">
      
    <div class="text-container1">
      <div class="row">
        <span class="float-left">Items</span>
        <span class="float-right">Credit</span>
      </div>

      <div class="row">
        <span class="float-left">{{this.mydealPlanInfo?.planDescription1}}</span>
        <span class="float-right">RM{{cost}}</span>
      </div>

      <div class="row">
        <span class="float-left">Total</span>
        <span class="float-right">RM{{cost}}</span>
      </div>
    </div>

  </div>

  <div class="text-container1" *ngIf="this.userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Prepaid'">Deduct from credit balance</div>
  <div class="row"  *ngIf="this.userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Prepaid'">
    <span class="float-left spanTextB">New credit balance:&nbsp;</span>
    <span class="float-right spanTextB">{{prebillAmountForMydeals}}</span>
  </div>

  <div class="confirmBtn">



    <!-- <div hidden class="terms-container">
        <a>Additional Link, depends on flow <i class="arrow-forward-icon"></i> </a>
    </div> -->

    <!-- <div  class="terms-container">
      <div class="text text-center">I agree to the <a class="accept-terms">Terms & Conditions</a> if I click confirm
      </div>
    </div> -->

    <!-- <div hidden class="terms-container">
      <div class="terms_cond">
        <ion-checkbox type="checkbox"></ion-checkbox>
        <ion-label><a>Terms and Conditions <i class="arrow-forward-icon"></i> </a></ion-label>
      </div>
    </div> -->


    <button ion-button class="default-button" (click)="presentsucess()">
      Confirm
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>



  </div>

</ion-content>
