page-view-card-details {
    .button-collection {
        padding-right: 5px;
        button {
            font-family: $font-familyBold;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 14px;
            background-color: transparent;
        }
    }
    .add-number-container {
        position: relative;
        padding-top: 25px;
        .add-number-title {
            padding-left: 23px;
            span {
                font-size: 20px;
                color: #333333;
                line-height: 20px;
            }
        }
        .card-grid-title {
            padding-left: 15px;
            span {
                font-size: 20px;
                color: #333333;
                line-height: 20px;
            }
        }
        .inputItem {
            padding-left: 23px;
            padding-right: 23px;
          border:none !important;
            .item-inner {
                border-bottom: 0.55px solid #999 ;
            }
        }
        .card-inputItem {
            padding-left: 15px;
            padding-right: 15px;
          border:none !important;

          .item-inner {
                border-bottom: 0.55px solid #999 ;
            }
        }
        .add-img {
            display: inline-block;
            position: absolute;
            right: 35px;
            top: 60px;
        }
    }
    .terms_cond {
        /* Set this card as def: */
        font-size: 16px;
        letter-spacing: 0;
        line-height: 16px;
        padding: 0 22px;
        color: #333;
        .checkbox {
            margin: 8px 10px 8px 2px !important;
            border-color: $primary-Color;
            .checkbox-icon {
                border-radius: 3%;
                border-color: rgba(1, 1, 1, 0.54);
                width: 17px;
                height: 17px;
            }
        }
        .item-cover {
            width: 12%;
        }
        .item-inner {
            border-bottom: none !important;
            a {
                color: $primary-Color;
            }
        }
    }
    .button-container {
        padding: 0 16px 10px;
        margin-top: 30px;
        width: 100%;
        button {
            width: 100%;
            margin: auto;
        }
    }
}

.XPAX page-view-card-details {
    .terms_cond {
        .checkbox {
            border-color: $XPAX-primary-Color;
            .checkbox-checked {
                background-color: $XPAX-primary-Color;
            }
        }
        .item-inner {
            a {
                color: $XPAX-primary-Color;
            }
        }
    }
}