page-services {
  .content {
    background: url("../assets/img/normal_page_bg.jpg");
    background-size: 100% auto;
  }
  .arrow-forward-icon {
    background-color: #999 !important;
  }
  .item-inner {
    border-bottom: 1px solid #c8c7cc!important;
    background-image: none !important;
    padding: 0px !important;
  }
  .item-block:first-child {
    border-top: 0px !important;
  }
  .item-block:last-child {
    border-bottom: 0px !important;
    .item-inner {
      border-bottom: 1px solid #c8c7cc !important;
    }
  }
  .optionsTitle {
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    padding: 26px 15px 15px;
  }
  .arrow-forward-icon {
    background-color: #009ADE;
    width: 14px !important;
    height: 14px !important;
    float: right;
  }
  .list {
    margin-bottom: 15px;
  }
}

.XPAX {
  .arrow-forward-icon {
    background-color: #D1209B;
  }
}
