<!--
  Generated template for the IconDesignGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle class="menu-toggle-btn">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Icon Design Guide</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-grid>

    <ion-row><ion-col><strong>Class Name</strong></ion-col><ion-col class="text-center"><strong>Icon</strong></ion-col></ion-row>


    <ion-row><ion-col><span>no-card-icon</span></ion-col><ion-col class="text-center"><i class="no-card-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>arrow-forward-icon</span></ion-col><ion-col class="text-center"><i class="arrow-forward-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>home-icon</span></ion-col><ion-col class="text-center"><i class="home-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>arrow-backward-icon</span></ion-col><ion-col class="text-center"><i class="arrow-backward-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>arrow-down-icon</span></ion-col><ion-col class="text-center"><i class="arrow-down-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>arrow-up-icon</span></ion-col><ion-col class="text-center"><i class="arrow-up-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>credit-card-icon</span></ion-col><ion-col class="text-center"><i class="credit-card-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>close-icon</span></ion-col><ion-col class="text-center"><i class="close-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>share-icon</span></ion-col><ion-col class="text-center"><i class="share-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>wifi-icon</span></ion-col><ion-col class="text-center"><i class="wifi-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>phone-icon</span></ion-col><ion-col class="text-center"><i class="phone-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>mms-icon</span></ion-col><ion-col class="text-center"><i class="mms-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>plan-details-icon</span></ion-col><ion-col class="text-center"><i class="plan-details-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>paybill-plan-icon</span></ion-col><ion-col class="text-center"><i class="paybill-plan-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>paybill-icon</span></ion-col><ion-col class="text-center"><i class="paybill-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>addOn-plan-Icon</span></ion-col><ion-col class="text-center"><i class="addOn-plan-Icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>privileges-plan-icon</span></ion-col><ion-col class="text-center"><i class="privileges-plan-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>kad-icon</span></ion-col><ion-col class="text-center"><i class="kad-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>services-icon</span></ion-col><ion-col class="text-center"><i class="services-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>reload-icon</span></ion-col><ion-col class="text-center"><i class="reload-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>gbShare-icon</span></ion-col><ion-col class="text-center"><i class="gbShare-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>logout-icon</span></ion-col><ion-col class="text-center"><i class="logout-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>privileges-icon</span></ion-col><ion-col class="text-center"><i class="privileges-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>settings-icon</span></ion-col><ion-col class="text-center"><i class="settings-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>subscription-icon</span></ion-col><ion-col class="text-center"><i class="subscription-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>support-icon</span></ion-col><ion-col class="text-center"><i class="support-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>transactionHistory-icon</span></ion-col><ion-col class="text-center"><i class="transactionHistory-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>sms-icon</span></ion-col><ion-col class="text-center"><i class="sms-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>roaming-icon</span></ion-col><ion-col class="text-center"><i class="roaming-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>facebook-icon</span></ion-col><ion-col class="text-center"><i class="facebook-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>youtube-icon</span></ion-col><ion-col class="text-center"><i class="youtube-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>add-number-icon</span></ion-col><ion-col class="text-center"><i class="add-number-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>contact-folder-icon</span></ion-col><ion-col class="text-center"><i class="contact-folder-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>gp-share-icon</span></ion-col><ion-col class="text-center"><i class="gp-share-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>gp-share-allocate-icon</span></ion-col><ion-col class="text-center"><i class="gp-share-allocate-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>combined-share-icon</span></ion-col><ion-col class="text-center"><i class="combined-share-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>xpax-icon</span></ion-col><ion-col class="text-center"><i class="xpax-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>store-phone-icon</span></ion-col><ion-col class="text-center"><i class="store-phone-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>call-icon</span></ion-col><ion-col class="text-center"><i class="call-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>bounce-plan-icon</span></ion-col><ion-col class="text-center"><i class="bounce-plan-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>most-popular-icon</span></ion-col><ion-col class="text-center"><i class="most-popular-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>more-data-icon</span></ion-col><ion-col class="text-center"><i class="more-data-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>cap-zone-icon</span></ion-col><ion-col class="text-center"><i class="cap-zone-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>call-barred-icon</span></ion-col><ion-col class="text-center"><i class="call-barred-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>sms-icon</span></ion-col><ion-col class="text-center"><i class="sms-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>mms-icon</span></ion-col><ion-col class="text-center"><i class="mms-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>damage-icon</span></ion-col><ion-col class="text-center"><i class="damage-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>change-icon</span></ion-col><ion-col class="text-center"><i class="change-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>delivery-icon</span></ion-col><ion-col class="text-center"><i class="delivery-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>self-icon</span></ion-col><ion-col class="text-center"><i class="self-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>calendar-icon</span></ion-col><ion-col class="text-center"><i class="calendar-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>present-icon</span></ion-col><ion-col class="text-center"><i class="present-icon"></i></ion-col></ion-row>
    <br/>

    <ion-row><ion-col><strong>New Icons</strong></ion-col><ion-col class="text-center"><strong>New Icons</strong></ion-col></ion-row>
    <br/>
    <ion-row><ion-col><span>icon_</span></ion-col><ion-col class="text-center"><i class="icon_"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_16-digit-pin</span></ion-col><ion-col class="text-center"><i class="icon_16-digit-pin"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_add-ons</span></ion-col><ion-col class="text-center"><i class="icon_add-ons"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_allocate-more</span></ion-col><ion-col class="text-center"><i class="icon_allocate-more"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_allocated-sharing</span></ion-col><ion-col class="text-center"><i class="icon_allocated-sharing"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_anyday-gb</span></ion-col><ion-col class="text-center"><i class="icon_anyday-gb"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_arrow-backward</span></ion-col><ion-col class="text-center"><i class="icon_arrow-backward"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_arrow-down</span></ion-col><ion-col class="text-center"><i class="icon_arrow-down"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_arrow-forward-button</span></ion-col><ion-col class="text-center"><i class="icon_arrow-forward-button"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_arrow-forward</span></ion-col><ion-col class="text-center"><i class="icon_arrow-forward"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_arrow-up</span></ion-col><ion-col class="text-center"><i class="icon_arrow-up"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_auto-billing</span></ion-col><ion-col class="text-center"><i class="icon_auto-billing"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_auto-reload</span></ion-col><ion-col class="text-center"><i class="icon_auto-reload"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_auto-renew</span></ion-col><ion-col class="text-center"><i class="icon_auto-renew"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_Button-Hamburger</span></ion-col><ion-col class="text-center"><i class="icon_Button-Hamburger"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_call-barred</span></ion-col><ion-col class="text-center"><i class="icon_call-barred"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_call</span></ion-col><ion-col class="text-center"><i class="icon_call"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_capzone-1</span></ion-col><ion-col class="text-center"><i class="icon_capzone-1"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_capzone-2</span></ion-col><ion-col class="text-center"><i class="icon_capzone-2"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_change-phone-or-upgrade</span></ion-col><ion-col class="text-center"><i class="icon_change-phone-or-upgrade"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_chevron-icon</span></ion-col><ion-col class="text-center"><i class="icon_chevron-icon"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_close-button</span></ion-col><ion-col class="text-center"><i class="icon_close-button"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_contact</span></ion-col><ion-col class="text-center"><i class="icon_contact"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_credit-card</span></ion-col><ion-col class="text-center"><i class="icon_credit-card"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_credit-expiry-notification </span></ion-col><ion-col class="text-center"><i class="icon_credit-expiry-notification "></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_credit-transfer</span></ion-col><ion-col class="text-center"><i class="icon_credit-transfer"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_damaged-sim</span></ion-col><ion-col class="text-center"><i class="icon_damaged-sim"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_delivery</span></ion-col><ion-col class="text-center"><i class="icon_delivery"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_device-setting</span></ion-col><ion-col class="text-center"><i class="icon_device-setting"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_download</span></ion-col><ion-col class="text-center"><i class="icon_download"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_edit</span></ion-col><ion-col class="text-center"><i class="icon_edit"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_facebook-messenger</span></ion-col><ion-col class="text-center"><i class="icon_facebook-messenger"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_facebook</span></ion-col><ion-col class="text-center"><i class="icon_facebook"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_faq</span></ion-col><ion-col class="text-center"><i class="icon_faq"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_games</span></ion-col><ion-col class="text-center"><i class="icon_games"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_gb-share</span></ion-col><ion-col class="text-center"><i class="icon_gb-share"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_gift</span></ion-col><ion-col class="text-center"><i class="icon_gift"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_group-sharing</span></ion-col><ion-col class="text-center"><i class="icon_group-sharing"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_happy-face</span></ion-col><ion-col class="text-center"><i class="icon_happy-face"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_heart</span></ion-col><ion-col class="text-center"><i class="icon_heart"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_history</span></ion-col><ion-col class="text-center"><i class="icon_history"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_idd</span></ion-col><ion-col class="text-center"><i class="icon_idd"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_instagram</span></ion-col><ion-col class="text-center"><i class="icon_instagram"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_internet-plan</span></ion-col><ion-col class="text-center"><i class="icon_internet-plan"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_internet</span></ion-col><ion-col class="text-center"><i class="icon_internet"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_late-night</span></ion-col><ion-col class="text-center"><i class="icon_late-night"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_line</span></ion-col><ion-col class="text-center"><i class="icon_line"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_lock</span></ion-col><ion-col class="text-center"><i class="icon_lock"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_log-out</span></ion-col><ion-col class="text-center"><i class="icon_log-out"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_miscellaneous</span></ion-col><ion-col class="text-center"><i class="icon_miscellaneous"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_MMS</span></ion-col><ion-col class="text-center"><i class="icon_MMS"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_multiple-card</span></ion-col><ion-col class="text-center"><i class="icon_multiple-card"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_music</span></ion-col><ion-col class="text-center"><i class="icon_music"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_new</span></ion-col><ion-col class="text-center"><i class="icon_new"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_notification</span></ion-col><ion-col class="text-center"><i class="icon_notification"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_notifications-filled</span></ion-col><ion-col class="text-center"><i class="icon_notifications-filled"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_ocr</span></ion-col><ion-col class="text-center"><i class="icon_ocr"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_one-time-password</span></ion-col><ion-col class="text-center"><i class="icon_one-time-password"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_online-banking</span></ion-col><ion-col class="text-center"><i class="icon_online-banking"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_otheramount</span></ion-col><ion-col class="text-center"><i class="icon_otheramount"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_pass</span></ion-col><ion-col class="text-center"><i class="icon_pass"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_pay-bill-or-details</span></ion-col><ion-col class="text-center"><i class="icon_pay-bill-or-details"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_pay-per-use</span></ion-col><ion-col class="text-center"><i class="icon_pay-per-use"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_pin</span></ion-col><ion-col class="text-center"><i class="icon_pin"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_problem-with-phone</span></ion-col><ion-col class="text-center"><i class="icon_problem-with-phone"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_profile-setting</span></ion-col><ion-col class="text-center"><i class="icon_profile-setting"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_profile-verified</span></ion-col><ion-col class="text-center"><i class="icon_profile-verified"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_redemption-reward-notification</span></ion-col><ion-col class="text-center"><i class="icon_redemption-reward-notification"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_roaming</span></ion-col><ion-col class="text-center"><i class="icon_roaming"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_search</span></ion-col><ion-col class="text-center"><i class="icon_search"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_security-setting</span></ion-col><ion-col class="text-center"><i class="icon_security-setting"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_services</span></ion-col><ion-col class="text-center"><i class="icon_services"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_settings</span></ion-col><ion-col class="text-center"><i class="icon_settings"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_shop</span></ion-col><ion-col class="text-center"><i class="icon_shop"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_single-card</span></ion-col><ion-col class="text-center"><i class="icon_single-card"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_SMS</span></ion-col><ion-col class="text-center"><i class="icon_SMS"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_speed-test</span></ion-col><ion-col class="text-center"><i class="icon_speed-test"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_store-locator</span></ion-col><ion-col class="text-center"><i class="icon_store-locator"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_subscriptions</span></ion-col><ion-col class="text-center"><i class="icon_subscriptions"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_sucess</span></ion-col><ion-col class="text-center"><i class="icon_sucess"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_telegram</span></ion-col><ion-col class="text-center"><i class="icon_telegram"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_threshold-alert-notification</span></ion-col><ion-col class="text-center"><i class="icon_threshold-alert-notification"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_transaction-history</span></ion-col><ion-col class="text-center"><i class="icon_transaction-history"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_twitter</span></ion-col><ion-col class="text-center"><i class="icon_twitter"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_user</span></ion-col><ion-col class="text-center"><i class="icon_user"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_validity-extension</span></ion-col><ion-col class="text-center"><i class="icon_validity-extension"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_viber</span></ion-col><ion-col class="text-center"><i class="icon_viber"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_video-call</span></ion-col><ion-col class="text-center"><i class="icon_video-call"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_video</span></ion-col><ion-col class="text-center"><i class="icon_video"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_wechat</span></ion-col><ion-col class="text-center"><i class="icon_wechat"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_whatsapp</span></ion-col><ion-col class="text-center"><i class="icon_whatsapp"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_youtube</span></ion-col><ion-col class="text-center"><i class="icon_youtube"></i></ion-col></ion-row>
    <ion-row><ion-col><span>icon_instagram-filled</span></ion-col><ion-col class="text-center"><i class="icon_instagram-filled"></i></ion-col></ion-row>
      
      
  </ion-grid>

</ion-content>
