<ion-content>
    <div class="reload-container">
        <div class="phoneNumber">
            <span>Number of days to Extend Validity</span>
        </div>
        <ion-item class="inputItem">
            <ion-input maxlength="20" type="tel" onpaste="return false;" (keyup)="keyUpChecker($event,'noOfDays')" [(ngModel)]="noOfDays" placeholder="0"></ion-input>
        </ion-item>
        <div class="clear-fix"></div>
        <div class="service-fees">RM 1.00 per day</div>
        <div class="clear-fix"></div>
        <div class="total-bill-cont">
            <div class="total-bill float-left">
                Total Bill
            </div>
            <div class="total-amount float-right">
                RM {{noOfDays}}.00
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="button-container">
        <span class="text-center">All charges are inclusive 6% GST</span>
        <button class="default-button" (click)="submitValidyExtension()">Submit</button>
    </div>
</ion-content>