page-privileges {
    .item-inner {
        background-image: none !important;
        padding-right: 10px !important;
        border-bottom: 1px solid #c8c7cc !important;
        .arrow-forward-icon {
            background-color: #999 !important;;
            width: 14px !important;
            height: 14px !important;
            float: right;
        }
    }
    .item-block:last-child {
        border-bottom: 0px !important;
        .item-inner {
            border-bottom: 1px solid #c8c7cc !important;
        }
    }
    .arrow-forward-icon {
        background-color: #999 !important;
    }
}

.XPAX {
//    .item-inner {
//        .arrow-forward-icon {
//            background-color: #D1209B;
//        }
//    }
}
