<!--
  Generated template for the StoreLocatorStoreMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content >

  <div class="dismiss-btn">
    <button (click)="dismiss()"><i class="close-icon"></i></button>
  </div>

  <div id="store-map-modal" class="store-map">
  </div>
</ion-content>
