<!--
  Generated template for the NetSpeedCheckInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Net Speed Check Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <p id="msisdnTextSpeed">MSISDN:{{msisdnTextSpeed}}</p>
  <p id="registrationIdSpeed">Registration ID:{{registrationIdSpeed}}</p>
  
  <p id="downloadStatus">Download: {{downloadStatus}}</p>
  <p id="uploadStatus">Upload: {{uploadStatus}}</p>
  <p id="pingStatus">Ping: {{pingStatus}}</p>
  
  <button ion-button id="startSpeedtestButton" (click)="btn_startSpeedtest()">Start Speedtest</button><br/><br/>
  <button ion-button id="stopSpeedtestButton" (click)="btn_stopSpeedtest()">Stop Speedtest</button><br/><br/>
</ion-content>
