page-store-locator-store-map {


  .dismiss-btn {
    padding: 30px 0 0 5px;
    height: 76px;

    button {
      background: none;
    }
  }
  .store-map {
    background: url('../assets/img/store-map-static.png') ;
    background-size: cover;

    width: 100%;
    height: calc(100% - 76px);

    position: relative;

    .mylocation {
      background: url("../assets/img/map-locator-icon.png");
      position: absolute;
      bottom: 10px;
      right: 10px;
      height: 50px;
      width: 50px;
    }
  }
}


ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
