<ion-menu [content]="content" type="overlay" swipeEnabled="false">
  <div class="menu-bg">
    <div class="menu-bg-top-container">
       <div menuToggle class="close-icon"></div>
            <div class="profilePicContainer">
                <img class="celcom-img" src="./assets/img/celcom_img.png" alt="" />
                <img class="xpax-img" src="./assets/img/xpax_img.png" alt="" />      </div>
      <div *ngIf="mobileList.length!=1"class="dropdown-numbers">
        <ion-item (click)="setChange()">
            <ion-select interface="popover"  placeholder="Select Number" [(ngModel)]="selectedNumber" (ionChange)="onChange(selectedNumber)" (click)="setChange()">
            
            <ion-option *ngFor = "let mobileNumber of mobileList" [value]="mobileNumber">{{mobileNumber}}</ion-option>
            
          </ion-select>
        </ion-item>
        <i class="arrow-down-icon"></i>
      </div>
      <div *ngIf="mobileList.length==1" class="dropdown-numbers no-select">
        
              <span>{{mobileList}}</span>
       
        </div>
      <div class="plan-title text-center">
        <span class="celcom-plan">{{ProdPlanName}}</span>
        <span class="xpax-plan">{{ProdPlanName}}</span>
      </div>
    </div>
    <ion-scroll *ngIf="!adminNumber" class="menu-list" scrollY="true">
      <ion-list>
        <div ion-item class="menuItem" menuClose *ngFor="let p of pages"  [ngClass]="{'hiddenGBShare': p.title=='GBShare'}" (click)="openPage(p)">
          <div  class="icon-cont float-left">
            <i class="{{p.iclass}}"></i>
          </div>
          <span>{{p.title}}</span>
        </div>
      </ion-list>
    </ion-scroll>

    <ion-scroll *ngIf="adminNumber" class="menu-list" scrollY="true">
      <ion-list>
        <div ion-item class="menuItem" menuClose *ngFor="let p of pages" (click)="openPage(p)">
          <div  class="icon-cont float-left">
            <i class="{{p.iclass}}"></i>
          </div>
          <span>{{p.title}}</span>
        </div>
      </ion-list>
    </ion-scroll>
<div class="settings-btn-container" menuClose (click)="logout()">
      <i class="logout-icon"></i>
      <span>Log Out</span>
 <span class="versionCont">Version 10.3.3</span>
    </div>
  </div>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [class.XPAX]="false" #content swipeBackEnabled="false"></ion-nav>
