<!--
  Generated template for the TransactionHistoryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Transaction Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="title-container">
    <span>Pay Bill</span>
  </div>

  <div class="sub-title-container">
    <!-- StartDate -->
    <span>Bill Payment For {{StartDate}}</span>
  </div>

  <div class="transaction-table-details">
    <!-- <div class="row">
      <span class="float-left" >Transaction Date</span>
      <span class="float-right"></span>
    </div> -->

    <div class="row">
      <span class="float-left" >Mobile Number</span>
      <span class="float-right">{{MobileNumber}}</span>
    </div>

    <div class="row">
      <!-- BillAcccountNumber -->
      <span class="float-left" >Account Number</span>
      <span class="float-right">{{AccountNumber}}</span>
    </div>

    <div class="row">
      <!-- InvoiceNumber -->
      <span class="float-left" >Invoice ID</span>
      <span class="float-right">{{InvoiceID}}</span>
    </div>
  </div>

  <div class="transaction-description">
    <p></p>
  </div>

  <div class="transaction-details-items-container">

    <div class="item">
      <!-- EndDate -->
      <span class="float-left" >Amount due as of </span>
      <span class="float-right">RM{{amountDue}}</span>
    </div>

    <!-- <div class="item">

      <span class="float-left" >Payment received as of DD/MM/YY</span>
      <span class="float-right"></span>
    </div> -->
    <!-- <hr/> -->
    <!-- <div class="item total">
      <span class="float-left" >Surplus</span>
      <span class="float-right"></span>
    </div> -->
  </div>
  <!--
    <div class="deduct-from-credit-container">
        <div class="deduct-from-credit"></div>
        <div class="credit"></div>
      </div> -->

  <div class="detailed-bill-statement text-center" (click)="showingPDF()">
    <span>Detailed Bill Statement</span>
    <i class="arrow-forward-icon"></i>
  </div>

</ion-content>
