page-network-login {
    .content {
        background: #fff;
    }
    .logo-login {
        display: block;
        height: 100%;
        width: 147px;
        margin: 0 auto;
        padding: 53% 0 0;
        background-color: #fff;
    }
    .terms_cond {
        width: 85%;
        margin: 0 auto;
        color: #333;
        font-size: 14px;
        padding: 0 0 15px;
        min-height: auto;
        .checkbox {
            margin: 0px 10px 15px 2px !important;
            border-color: #009ade;
//            .checkbox-icon {
//                border-radius: 3%;
//                border-color: rgba(1, 1, 1, 0.54);
//                width: 17px;
//                height: 17px;
//            }
        }
        .item-cover {
            width: 12%;
        }
        .item-inner {
            border-bottom: none !important;
            a {
                color: #009ADE !important;
            }
        }
        ion-label {
            white-space: normal;
            margin: 0;
        }
    }
    .checkbox-ios .checkbox-checked .checkbox-inner {
        left: 4.3px;
        top: 0px;
        width: 7px;
        height: 13px;
        border-width: 2px;
        border-top-width: 0;
        border-left-width: 0;
    }
    .btnDivContainer {
        position: absolute;
        bottom: 15px;
        left: 0;
        text-align: center;
        width: 100%;
        button {
            width: 90%;
            margin: 0 auto;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
            border-radius: 100px;
        }
    }

    .item.item-ios .checkbox-ios .checkbox-checked {
        border-color: #009ade !important;
        background-color: #009ade;
    }
}
