page-reload-code {
    .reload-container {
        background: #FFFFFF;
        height: 140px;
        width: 100%;
        border-bottom: 1px solid #CCC;
        .phoneNumber {
            padding-left: 17px;
            padding-top: 20px;
            span {
                font-size: 20px;
                color: #333333;
                line-height: 20px;
            }
        }
        .inputItem {
            padding-top: 15px;
            padding-left: 17px;
            padding-right: 17px;
            .item-inner {
                border-bottom: 0.55px solid #999 !important;
                 .input-wrapper{
                        input{
                            margin:11px 8px 0px 0px;
                        }
                }
            }
        }
    }
    .button-container {
        padding: 0 16px 10px;
        margin-top: 60px;
        width: 100%;
        button {
            width: 100%;
            margin: auto;
        }
    }
}