<!--
  Generated template for the ReloadCodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
<form [formGroup]="digitalPinForm">
    <div class="reload-container">
        <div class="phoneNumber">
            <span>Enter Your 16 digit PIN</span>
        </div>
        <ion-item class="inputItem">
            <ion-input maxlength="16" formControlName="digitPin" [(ngModel)]='digitPin' (change)='onChangeTime(digitPin)' type="tel" placeholder="0000-0000-0000-0000" (keyup.enter)="handlePin($event)"></ion-input>
        </ion-item>
        <!-- <div class="validation-error">
            The information provided is incorrect    
        </div> -->
    </div>

    <div class="button-container">
        <button (click)= "validationPin(digitPin)"  [disabled]="(!digitalPinForm.controls.digitPin.valid)"  ion-button class="default-button">
        Next
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</form>
</ion-content>
