<!--
  Generated template for the TransactionHistoryTransactionBillPaymentTabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content >
<!-- 
  <div class="content-banner">
  </div> -->


  <!-- <ion-list *ngIf="Prepaid" class="default-list-item">
    <div ion-item (click)="goToDetailsPage(item)" *ngFor="let item of CurrentMonthDetails;let i = index"  class="transaction-item">
      <div class="first-line">{{item.TOTALAMOUNT}}</div>
      <div class="second-line">
        <span class="float-left">{{item.PAYMENT_TYPE}}</span>
        <span class="float-right">{{item.RESPONSE_TIME}}</span>
      </div>
      <i class="icon arrow-forward-icon"></i>

    </div>
  </ion-list> -->

  <div *ngIf="currentMonthFlag" class="content-banner">
    <span>{{CurretMonth}}</span>
</div>

<ion-list [ngClass]="{'hidden': Prepaid!=true}"   class="default-list-item" *ngFor="let item of CurrentMonthDetails | orderBy:'RESPONSE_TIME':'desc'">
  <div   *ngIf="CurretMonth == item.MONTHNAME" ion-item (click)="goToDetailsPage(item)"   class="transaction-item">
    <div class="first-line">{{item.RESPONSE_TIME}}</div>
    <div class="second-line">
      <span class="float-left">{{item.PAYMENT_TYPE}}</span>
      <span class="float-right">RM{{item.TOTALAMOUNT}}</span>
    </div>
    <i class="icon arrow-forward-icon"></i>
  </div>
</ion-list>
<ion-list [ngClass]="{'hidden': Prepaid==true}" *ngFor="let item of CurrentMonthDetail | orderBy:'RESPONSE_TIME':'desc'" class="default-list-item">
  <div *ngIf="CurretMonth == item.MONTHNAME" ion-item (click)="goToDetailsPage(item)"   class="transaction-item">
    <div class="first-line">{{item.BillCycleStart}}</div>
    <div class="second-line">
      <span class="float-left">{{billPayment}}</span>
      <span class="float-right">RM{{item.TotalDue}}</span>
      
    </div>
    <i class="icon arrow-forward-icon"></i>

  </div>
</ion-list>


<div *ngIf="NextMonthFlag"  class="content-banner">
    <span>{{NextMonth}}</span>
</div>
<ion-list [ngClass]="{'hidden': Prepaid!=true}" class="default-list-item" *ngFor="let item of CurrentMonthDetails | orderBy:'RESPONSE_TIME':'desc'">
    <div  *ngIf="NextMonth == item.MONTHNAME" ion-item (click)="goToDetailsPage(item)"   class="transaction-item">
      <div class="first-line">{{item.RESPONSE_TIME}}</div>
      <div class="second-line">
        <span class="float-left">{{item.PAYMENT_TYPE}}</span>
        <span class="float-right">RM{{item.TOTALAMOUNT}}</span>
      </div>
      <i class="icon arrow-forward-icon"></i>
    </div>
</ion-list>
<ion-list [ngClass]="{'hidden': Prepaid==true}" *ngFor="let item of CurrentMonthDetail | orderBy:'RESPONSE_TIME':'desc'" class="default-list-item">
  <div *ngIf="NextMonth == item.MONTHNAME" ion-item (click)="goToDetailsPage(item)"   class="transaction-item">
    <div class="first-line">{{item.BillCycleStart}}</div>
    <div class="second-line">
      <span class="float-left">{{billPayment}}</span>
      <span class="float-right">RM{{item.TotalDue}}</span>
      
    </div>
    <i class="icon arrow-forward-icon"></i>

  </div>
</ion-list>
   
  <div *ngIf="LastmonthMonthFlag" class="content-banner">
      <span>{{LastMonth}}</span>
  </div> 

  <ion-list [ngClass]="{'hidden': Prepaid!=true}" class="default-list-item" *ngFor="let item of CurrentMonthDetails | orderBy:'RESPONSE_TIME':'desc'">
      <div   *ngIf="LastMonth == item.MONTHNAME" ion-item (click)="goToDetailsPage(item)"   class="transaction-item">
        <div class="first-line">{{item.RESPONSE_TIME}}</div>
        <div class="second-line">
          <span class="float-left">{{item.PAYMENT_TYPE}}</span>
          <span class="float-right">RM{{item.TOTALAMOUNT}}</span>
        </div>
        <i class="icon arrow-forward-icon"></i>
      </div>
  </ion-list>
  
  <ion-list [ngClass]="{'hidden': Prepaid==true}" *ngFor="let item of CurrentMonthDetail | orderBy:'RESPONSE_TIME':'desc'" class="default-list-item">
    <div *ngIf="LastMonth == item.MONTHNAME" ion-item (click)="goToDetailsPage(item)"   class="transaction-item">
      <div class="first-line">{{item.BillCycleStart}}</div>
      <div class="second-line">
        <span class="float-left">{{billPayment}}</span>
        <span class="float-right">RM{{item.TotalDue}}</span>
        
      </div>
      <i class="icon arrow-forward-icon"></i>

    </div>
  </ion-list>
<div *ngIf="EmptyStatus" class="content-banner">
    <span *ngIf="PostPaid">Can't see any past bill payment made on Celcom Life? Don't worry, you will see it once you have made your first payment.</span>
    <span *ngIf="Prepaid">Want to see your reload amount that you have made here? Well, you can't see it until you start to reload now.</span>
  </div>
<div class="page-end-padding">

  </div>
</ion-content>
