page-subscription-confirmation {
    // .content {
    //     .cap-zone-warining {
    //         display: none;
    //     }
    //     &.isCapZone {
    //         .cap-zone-warining {
    //             display: block;
    //             background: #666;
    //             .card-header {
    //                 padding: 0 6px;
    //                 span {
    //                     color: #FCBA35;
    //                     font-family: $font-familyBold;
    //                     font-size: 16px;
    //                 }
    //             }
    //             .card-content {
    //                 padding: 0 6px;
    //                 span {
    //                     color: #fff;
    //                     font-size: 12px;
    //                 }
    //             }
    //             .cap-zone-icon {
    //                 margin: 5px 0 0;
    //             }
    //         }
    //     }
    // }
    .page-container {
      
    .product-details-content-container {
        padding: 10px 0;
    }
    .product-detail-section-header-bold {
        width: 100%;
        padding: 5px 16px;
        font-family: $font-familyBold;
        font-size: 14px;
        color: rgba(51, 51, 51, 0.87);
        line-height: 20px;
      }
    }
    .section-container {
        padding: 16px;
        border-top: 1px solid #ccc;
        span {
            /* Your Subtitle Goes H: */
            font-family: $font-familyBold;
            font-size: 14px;
            color: #333333;
        }
        .row {
            display: inline-block;
            width: 100%;
            height: 32px;
            span {
                /* LIST ITEM: */
                font-family: $font-family;
                font-size: 14px;
                color: #333333;
                line-height: 16px;
            }
        }
       
    }
    .product-details-terms-container {
        padding: 10px 0;
        .terms_cond {
            display: inline-flex;
            width: 60%;
            margin: 0 20%;
            color: #333;
            font-size: 12px;
            .checkbox {
                margin: 8px 10px 8px 2px !important;
                border-color: #009ade;
                .checkbox-icon {
                    border-radius: 3%;
                    border-color: rgba(1, 1, 1, 0.54);
                    width: 17px;
                    height: 17px;
                }
            }
            .item-cover {
                width: 12%;
            }
            .item-inner {
                border-bottom: none !important;
                a {
                    color: #009ADE;
                }
            }
        }
        .checkbox-ios .checkbox-checked .checkbox-inner {
            left: 4.3px;
            top: 0px;
            width: 7px;
            height: 13px;
            border-width: 2px;
            border-top-width: 0;
            border-left-width: 0;
        }
        ion-label {
            white-space: normal;
            font-size: 12px;
            color: #333333;
            letter-spacing: 0;
            line-height: 16px;
            a {
                padding: 0px;
            }
        }
        a {
            width: 100%;
            display: inline-block;
            font-family: $font-familyBold;
            font-size: 14px;
            color: $primary-Color;
            line-height: 14px;
            padding: 10px 0 5px;
            i {
                width: 13px;
                height: 10px;
                background-color: $primary-Color;
            }
        }
        .accept-terms {
            width: auto !important;
        }

  .product-details-bullet-list {
          .faqAnswer{
            font-size: 16px;
            padding-top: 10px;
            margin-left: 10px;
            padding-bottom: 25px;

            ul{
              margin-top: 0px;
              padding-left: 20px;
              li{
                div{
                  padding-top: 10px;
                  padding-bottom: 10px;
                }
              }
            }
          }

        }
    }
    .button-container {
        z-index: 100;
        position: fixed;
        bottom: 0px;
        width: 100%;
        opacity: 0.96;
        background: #FFFFFF;
        box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.20);
        .default-button {
            width: calc(100% - 20px);
            margin: 16px 10px;
        }
    }
}