<!--
  Generated template for the SubscriptionConfirmationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Product Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <ion-content [class.isCapZone]="isCapZone()"> -->
    <!-- <div class="cap-zone-warining">
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    <ion-card-header>
                        <span>CAPZONE</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span>Loren Ipsum sit amet, lorem vestibulum</span>
                    </ion-card-content>
                </ion-col>
                <ion-col col-2 class="text-center">
                    <div class="cap-zone-icon"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div> -->

    <div class="section-container">
        <span>
            <!-- Your Subtitle Goes Here -->
            <!-- price for quota -->
            <!-- e.g. 79RM for 15GB Monthly -->
            <!-- {{planDetails?.PRODUCT_PRICE_DISPLAY}} for  -->

            <!-- {{planDetails?.PRODUCT_QUOTA != undefined ? planDetails?.PRODUCT_QUOTA : (planDetails.PRODUCT_VOLUME != undefined ? planDetails?.PRODUCT_VOLUME : (planDetails.PASS_QUOTA != undefined ? planDetails.PASS_QUOTA : country_name?.Plan[indexOfCountryPlansToShowQuote]?.quota))}}      -->
            
            <!-- {{planDetails?.PLAN_NAME }}      -->
            
            <!-- {{planDetails.PLAN_DESCRIPTION != undefined ? planDetails.PLAN_DESCRIPTION : planDetails.PASS_NAME}}&nbsp;&nbsp;{{title == planDetails.PASS_NAME ? '' : title}} -->
            {{title}} {{planDetails.PASS_PRICE_DISPLAY == 'RM4.99' ? 'RM 4.99' : ''}}
        </span>
    </div>


    <div class="section-container">
        <div class="row">
            <span class="float-left">Subscription Name</span>
            <span class="float-right">{{planDetails.PLAN_DESCRIPTION != undefined ? planDetails.PLAN_DESCRIPTION : (planDetails.PASS_PRICE_DISPLAY == 'RM4.99' ? (planDetails.PASS_NAME+' RM 4.99') : planDetails.PASS_NAME)}}</span>
        </div>

        <div class="row" *ngIf="isRoaming">
            <span class="float-left">Country</span>
            <span class="float-right">{{country_name?.name}}</span>
        </div>


        <div class="row" *ngIf="!isIDD && 
        ((planDetails?.PRODUCT_QUOTA != undefined ? planDetails?.PRODUCT_QUOTA : (planDetails?.PRODUCT_VOLUME != undefined ? planDetails?.PRODUCT_VOLUME : ( (planDetails?.PASS_QUOTA != undefined && planDetails?.PASS_QUOTA != '') ? planDetails?.PASS_QUOTA : country_name?.Plan[indexOfCountryPlansToShowQuote]?.quota))) != '') 
        && ((planDetails?.PRODUCT_QUOTA != undefined ? planDetails?.PRODUCT_QUOTA : (planDetails?.PRODUCT_VOLUME != undefined ? planDetails?.PRODUCT_VOLUME : ( (planDetails?.PASS_QUOTA != undefined && planDetails?.PASS_QUOTA != '') ? planDetails?.PASS_QUOTA : country_name?.Plan[indexOfCountryPlansToShowQuote]?.quota))) != undefined) ">
            <span class="float-left">Quota</span>
            <span class="float-right">{{planDetails?.PRODUCT_QUOTA != undefined ? planDetails?.PRODUCT_QUOTA : (planDetails?.PRODUCT_VOLUME != undefined ? planDetails?.PRODUCT_VOLUME : ( (planDetails?.PASS_QUOTA != undefined && planDetails?.PASS_QUOTA != "") ? planDetails?.PASS_QUOTA : country_name?.Plan[indexOfCountryPlansToShowQuote]?.quota))}}</span>
        </div>

        <div class="row" *ngIf="isIDD">
            <span class="float-left">Internet Quota</span>
            <span class="float-right">{{planDetails?.INTERNET_VOLUME}}</span>
        </div>

        <div class="row" *ngIf="isIDD">
            <span class="float-left">Youtube Quota</span>
            <span class="float-right">{{planDetails?.YOUTUBE_VOLUME}}</span>
        </div>

        <div class="row" *ngIf="isIDD">
            <span class="float-left">Local Calls</span>
            <span class="float-right">{{planDetails?.CALLS_VOLUME}}</span>
        </div>

        <div class="row" *ngIf="isIDD">
            <span class="float-left">IDD Calls</span>
            <span class="float-right">{{planDetails?.IDD_CALLS_VOLUME}}</span>
        </div>

        <div class="row" *ngIf="isRoaming">
            <span class="float-left">Operator</span>
            <span class="float-right">{{country_name?.Mobile_Display}}</span>
        </div>

        <div class="row" *ngIf="!isRoaming">
            <span class="float-left">Price</span>
            <span class="float-right">{{planDetails.PRODUCT_PRICE_DISPLAY}}</span>
        </div>
        <!-- VALIDITY -->
        <div class="row" *ngIf="planDetails.VALIDITY != undefined">
            <span class="float-left">Validity</span>
            <span class="float-right">{{planDetails.VALIDITY}}</span>
        </div>
        <!-- VALIDITY -->
        <div class="row" *ngIf="planDetails.VALIDITY_DATE != undefined">
            <span class="float-left">Validity</span>
            <span class="float-right">{{planDetails.VALIDITY_DATE}} {{forLateNight}}</span>
        </div>
        <!-- VALIDITY -->
        <div class="row" *ngIf="planDetails.PASS_VALIDITY != undefined">
            <span class="float-left">Validity</span>
            <span class="float-right">{{planDetails.PASS_VALIDITY}}</span>
        </div>

        <!-- <div class="row" *ngIf="!isRoaming">
            <span class="float-left">Details</span>
            <span class="float-right">{{planDetails.PLAN_DESCRIPTION}}</span>
        </div> -->

        <div class="row" *ngIf="!isRoaming">
            <span class="float-left">Mobile Number</span>
            <span class="float-right">{{mobileNo}}</span>
        </div>

    </div>

    <div class="section-container" *ngIf="isPrepaidThenShow && planDetails?.OTHER != undefined">
        <span>Other</span>
    </div>

    <div class="section-container" *ngIf="isPrepaidThenShow">
        <div *ngFor="let planDetailsOtherItem of planDetails?.OTHER?.other_item;">
            <div class="row">
                <span class="float-left">{{planDetailsOtherItem.split('-')[0]}}</span>
                <span class="float-right">{{planDetailsOtherItem.split('-')[1]}}</span>
                <!-- <span class="float-right">Info</span> -->
            </div>
        </div>

        <div class="row">
            <span class="float-left">{{planDetails?.OTHERDATA?.OTHER_TAG}}</span>
            <span class="float-right">{{planDetails?.OTHERDATA?.OTHER_VALUE}}</span>
        </div>
    </div>
    <div *ngIf="title=='7-DAY 3-IN-1 PASS'" class="page-container product-details-content-container">

        <div class="product-detail-section-header-bold">
            <span>3GB Internet </span><br>
            <span>Unlimited Calls & SMS</span>
        </div>
        <hr/>

        <div class="faqAnswer">
            <ul>

                <li>To Malaysia</li>
                <li>Within visiting country</li>
                <li>Receiving calls & SMS</li>

            </ul>
        </div>
    </div>

    <div class="product-details-terms-container" *ngIf="isRoaming" (click)="openSelectCountryModal()">
        <div class="text text-center">
            <a class="accept-terms">Also valid in the following countries <i class="arrow-forward-icon"></i></a>
        </div>
    </div>
    <div class="button-container" ion-fixed>
        <button ion-button class="default-button" (click)="goToConfirmation()" [disabled]="!ischecked">Next
            <i class="XPAX-Right-Bubble"></i>
            <i class="XPAX-Left-Bubble"></i>
        </button>
    </div>

</ion-content>