<!--
  Generated template for the SubInternetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div *ngFor="let addOncePlanName of addOnceCategoryPlan;">

        <!-- internet quota add-on based on base plan -->
        <div class="subtitle" *ngIf="isBasePlanAvailable">
          <!-- {{addOncePlanName?.HEADER_TITLE}} for first -->
            {{addOncePlanName?.HEADER_TITLE == 'MAX UP' || addOncePlanName?.HEADER_TITLE == 'Internet Quota Add-on'? 'Internet Quota Add-on' : (addOncePlanName?.HEADER_TITLE == 'Late Night Internet' ? 'Late Night Internet (1am to 7am)' : addOncePlanName?.HEADER_TITLE ) }}
        </div>

        <div class="subtitle" *ngIf="!isBasePlanAvailable && (addOncePlanName?.HEADER_TITLE != 'MAX UP' && addOncePlanName?.HEADER_TITLE != 'Internet Add-on' && addOncePlanName?.HEADER_TITLE != 'Internet Quota Add-on')">
            <!-- {{addOncePlanName?.HEADER_TITLE}} for second -->
            {{addOncePlanName?.HEADER_TITLE == 'MAX UP' || addOncePlanName?.HEADER_TITLE == 'Internet Quota Add-on'? 'Internet Quota Add-on' : (addOncePlanName?.HEADER_TITLE == 'Late Night Internet' ? 'Late Night Internet (1am to 7am)' : addOncePlanName?.HEADER_TITLE ) }}
        </div>
    
        <ion-scroll class="internet-card-container" scrollX="true" *ngIf="isBasePlanAvailable">
          <!-- music & video walla <PRODUCT_IS> </PRODUCT_IS>AUTORENEWABLE -->
            <div *ngFor="let addOncePlanList of addOncePlanName?.PLAN; let addOncePlanList = index" [ngClass]="{'selected': addOncePlanList==indexValue}" class="internet-card selected float-left" (click)="goToDetailsPage(addOncePlanList,addOncePlanName?.HEADER_TITLE)">                          
                <span class="internet-card-title">
                  <!-- Monthly 500 MB -->
                  <!-- old one till 20 -->
                  <!-- {{addOncePlanList.PLAN_DESCRIPTION}} --> 
                  {{addOncePlanList?.VALIDITY_DATE == undefined ? '' : addOncePlanList?.PLAN_NAME_DISPLAY}}&nbsp;&nbsp;
                  
                  
                  
                  {{
                    addOncePlanList?.VALIDITY_DATE != undefined ? '' : (addOncePlanList?.PRODUCT_QUOTA != undefined ? addOncePlanList?.PRODUCT_QUOTA : addOncePlanList?.PRODUCT_VOLUME)
                  }}                
  
                  {{addOncePlanList.VALIDITY_DATE == undefined ? ' for ' : '' }}
                </span>
                <span class="internet-card-subtitle">
                  <!-- RM 30 --> {{addOncePlanList?.PRODUCT_PRICE_DISPLAY}}
                </span>
                <span class="internet-card-des" *ngIf="addOncePlanName?.HEADER_TITLE == 'Late Night Internet'">
                  <!-- Valid for 28 Days -->
                  <!-- Valid for {{addOncePlanList?.VALIDITY_DATE == 'Per day' ? '1 Day' : addOncePlanList?.VALIDITY_DATE}} -->
  
                  {{addOncePlanList?.VALIDITY_DATE == undefined ? '': 'Valid for' }}
                {{addOncePlanList?.VALIDITY_DATE == 'Per day' ?  '1 Day '+(addOncePlanName?.HEADER_TITLE == 'Late Night Internet'? ' (1am to 7am)' : '') : addOncePlanList?.VALIDITY_DATE +(addOncePlanName?.HEADER_TITLE == 'Late Night Internet'? ' (1am to 7am)' : '')}}
                </span>

                <span class="internet-card-des" *ngIf="addOncePlanName?.HEADER_TITLE != 'Late Night Internet'">
                  {{addOncePlanList?.VALIDITY_DATE == undefined ? '': 'Valid for' }} {{addOncePlanList?.VALIDITY_DATE == 'Per day' ? '1 Day' : addOncePlanList?.VALIDITY_DATE}}
                </span>
            </div>  
        </ion-scroll>

        <ion-scroll class="internet-card-container" scrollX="true"  *ngIf="isBasePlanAvailable == false && (addOncePlanName?.HEADER_TITLE != 'MAX UP' && addOncePlanName?.HEADER_TITLE != 'Internet Add-on' && addOncePlanName?.HEADER_TITLE != 'Internet Quota Add-on')">
            <!-- music & video walla <PRODUCT_IS> </PRODUCT_IS>AUTORENEWABLE -->
              <div *ngFor="let addOncePlanList of addOncePlanName?.PLAN;" class="internet-card float-left" (click)="goToDetailsPage(addOncePlanList,addOncePlanName?.HEADER_TITLE)">                          
                  <span class="internet-card-title">
                    <!-- Monthly 500 MB -->
                    <!-- old one till 20 -->
                    <!-- {{addOncePlanList.PLAN_DESCRIPTION}} --> 
                    {{addOncePlanList?.VALIDITY_DATE == undefined ? '' : addOncePlanList?.PLAN_NAME_DISPLAY}}&nbsp;&nbsp;
                    
                    
                    
                    {{
                      addOncePlanList?.VALIDITY_DATE != undefined ? '' : (addOncePlanList?.PRODUCT_QUOTA != undefined ? addOncePlanList?.PRODUCT_QUOTA : addOncePlanList?.PRODUCT_VOLUME)
                    }}                
    
                    {{addOncePlanList.VALIDITY_DATE == undefined ? ' for ' : '' }}
                  </span>
                  <span class="internet-card-subtitle">
                    <!-- RM 30 --> {{addOncePlanList?.PRODUCT_PRICE_DISPLAY}}
                  </span>
                  <span class="internet-card-des" *ngIf="addOncePlanName?.HEADER_TITLE == 'Late Night Internet'">
                    <!-- Valid for 28 Days -->
                    <!-- Valid for {{addOncePlanList?.VALIDITY_DATE == 'Per day' ? '1 Day' : addOncePlanList?.VALIDITY_DATE}} -->
    
                    {{addOncePlanList?.VALIDITY_DATE == undefined ? '': 'Valid for' }}
                  {{addOncePlanList?.VALIDITY_DATE == 'Per day' ?  '1 Day '+(addOncePlanName?.HEADER_TITLE == 'Late Night Internet'? ' (1am to 7am)' : '') : addOncePlanList?.VALIDITY_DATE +(addOncePlanName?.HEADER_TITLE == 'Late Night Internet'? ' (1am to 7am)' : '')}}
                  </span>
  
                  <span class="internet-card-des" *ngIf="addOncePlanName?.HEADER_TITLE != 'Late Night Internet'">
                    {{addOncePlanList?.VALIDITY_DATE == undefined ? '': 'Valid for' }} {{addOncePlanList?.VALIDITY_DATE == 'Per day' ? '1 Day' : addOncePlanList?.VALIDITY_DATE}}
                  </span>
              </div>  
          </ion-scroll>
    </div>
    
  </ion-content>