rest-password {

  .ResetPasswordBtnContainer {
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%;
    button {
      width: 90%;
      margin: 0 auto;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 18px;
    }
  }

}
