<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list no-border>
    <div ion-item>
      <ion-label floating>Verify Password</ion-label>
      <ion-input type="password" value=""></ion-input>
    </div>
    <div ion-item no-border no-lines>
      <small>For your security, enter your password</small>
    </div>


  </ion-list>
  <div class="ResetPasswordBtnContainer">
    <button block ion-button>Reset Password</button>
  </div>


</ion-content>
