<!--
  Generated template for the LoginLegalTermsPage .

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--Slide Terms Tab-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Terms & Conditions</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding content content-ios>
 <p><b>Terms & Conditions for OleOle</b></p>
 <p>1. All transactions are undisputable.</p>
 
<p>2. Exclusive partners e-Gift card can only be used by the recipient on Android and iOS phone.</p>
 
<p>3. Recipient reserves the right to reject gift or request for gift and there shall be no refund for transactions made.</p>
 
<p>4. Validity period of OleOle cannot be extended or changed.</p>
 
<p>5. Expired OleOle is non-transferable and not redeemable for cash.</p>
 
<p>6. Other OleOle terms & conditions apply.</p>
 
</ion-content>
    