<!--
  Generated template for the PlanDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Plan Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <div class="page-container">


    <div class="calcom-plan" *ngIf="plan_type=='postpaid'">
      <div class="plan-title">{{plan_name}}</div>

      <div class="tariff-details" *ngFor="let plan_detail of plan_details; let i = index">
        <div *ngIf="plan_detail[0] != 'Display Name'" class="tariff-details-title-container">
          <i class="tariff-icon" [ngClass]="{'phone-icon':plan_detail[0].indexOf('Call')!=-1,'icon_video-call':plan_detail[0].indexOf('Video Calls')!=-1,'sms-icon':plan_detail[0].indexOf('SMS')!=-1,'mms-icon':plan_detail[0].indexOf('MMS')!=-1,'addOn-plan-Icon':(plan_detail[0].indexOf('Call')==-1 && plan_detail[0].indexOf('SMS')==-1) && plan_detail[0].indexOf('MMS')==-1}"></i>
          <div class="title">{{plan_detail[0]}}</div>
          <hr/>
        </div>

        
        <div class="tariff-details-rows" *ngIf="isArray(plan_detail[1]) && (plan_detail[0] != 'Display Name')">
          <div class="row" *ngFor="let pd of plan_detail[1]; let j = index">
            <span class="float-left">{{pd[0]}}</span>
            <span class="float-right" *ngIf="isObject(pd[1])">{{pd[1].Title}}</span>
            <div class="row-sub-label float-right" *ngIf="isObject(pd[1])">{{pd[1].SubTitle}}</div>

            <span class="float-right" *ngIf="!isObject(pd[1])">{{pd[1]}}</span>
          </div>
        </div>
        <div class="tariff-details-rows" *ngIf="!isArray(plan_detail[1]) && (plan_detail[0] != 'Display Name')">
          <div class="row">
            <span class="float-left">{{plan_detail[1]}}</span>
            <!-- <span class="float-right ">30 sen/min</span> -->
          </div>
        </div>

      </div>



      <div class="tariff-details">
        <div class="tariff-details-title-container">
          <i class="tariff-icon privileges-plan-icon"></i>
          <div class="title">Privilege</div>
          <hr/>
        </div>

        <div class="tariff-details-rows">
          <div class="row">
            <span class="float-left">Priority Customer Service</span>
            <span class="float-right customer-number"><a href="tel:0196011881">0196011881</a></span>
          </div>
        </div>
      </div>
    </div>

    <div class="xpax-plan" *ngIf="plan_type=='prepaid'">
      <div class="plan-title">{{plan_name}}</div>

      <div class="tariff-details" *ngFor="let plan_detail of plan_details; let i = index">
        <div class="tariff-details-title-container" *ngIf="plan_detail[0] != 'Display Name'">
          <i class="tariff-icon" [ngClass]="{'phone-icon':plan_detail[0].indexOf('Call')!=-1,'icon_video-call':plan_detail[0].indexOf('Video Calls')!=-1,'sms-icon':plan_detail[0].indexOf('SMS')!=-1,'mms-icon':plan_detail[0].indexOf('MMS')!=-1,'addOn-plan-Icon':(plan_detail[0].indexOf('Call')==-1 && plan_detail[0].indexOf('SMS')==-1) && plan_detail[0].indexOf('MMS')==-1}"></i>
          <div class="title">{{plan_detail[0]}}</div>
          <hr/>
        </div>

        <div class="tariff-details-rows" *ngIf="isArray(plan_detail[1]) && (plan_detail[0] != 'Display Name')">
          <div class="row" *ngFor="let pd of plan_detail[1]; let j = index">
            <span class="float-left">{{pd[0]}}</span>
            <span class="float-right ">{{pd[1]}}</span>
          </div>
        </div>
        <div class="tariff-details-rows" *ngIf="!isArray(plan_detail[1]) && (plan_detail[0] != 'Display Name')">
          <div class="row">
            <span class="float-left">{{plan_detail[1]}}</span>
            <!-- <span class="float-right ">30 sen/min</span> -->
          </div>
        </div>

      </div>

    </div>
    <div class="upgradeBtn" *ngIf="isPrepaid && (check_plan_name && (check_plan_name.indexOf('New XPAX')==-1 && check_plan_name.indexOf('Xpax Plan')==-1))" ion-fixed>
        <!-- <a class="termsAndCond">Plan Terms &amp; Conditions
          <span class="arrow-forward-icon"></span>
        </a> -->
        <button ion-button class="default-button" (click)="upgrade()" >
          Upgrade
          <i class="XPAX-Right-Bubble"></i>
          <i class="XPAX-Left-Bubble"></i>
        </button>
      </div>
  

    <!-- <div class="terms-and-condition-btn text-center" [hidden]="hideTermsAndConditions" ion-fixed>
      <a (click)="openTermsAndCondition()">Plan Terms & Conditions <span class="arrow-forward-icon"></span></a>
    </div> -->
  </div>
</ion-content>