page-roaming {
    .search-box-container {
        width: 100%;
        padding: 0px 20px;
        .search-box {
            display: inline-flex;
            width: 100%;
            border-bottom: 1px solid #c8c7cc;
            input {
                width: calc(100% - 50px);
                font-size: 16px;
                color: #333333;
                line-height: 20px;
            }
            img {
                margin-top: 12px;
            }
        }
    }
    ion-list {
        .item {
            height: 52px;
            &button {
                font-size: 16px;
                color: rgba(51, 51, 51, 0.87);
                line-height: 20px;
            }
            .item-inner {
                background-image: none !important;
                padding-right: 10px!important;
                border-bottom: 0!important;
            }
        }
    }
    .arrow-forward-icon {
        background-color: #009ADE;
        width: 14px !important;
        height: 14px !important;
        float: right;
    }
}