<!--
  Generated template for the RedeemedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>

    <ion-card *ngFor="let redeem of total_redeems;let j = index">

        <div class="card-container">
            <img class="img-abs" src="./assets/img/lifestyle/{{images[redeem.MerchantID]}}" [ngClass]="{'image_bg': (redeem.MerchantID=='222' || redeem.MerchantID=='223' || redeem.MerchantID=='198')}">
            <!-- <img class="img-abs" src="./assets/img/Redeem/redeem1.png"> -->
            <div class="card-content">
                <div>
                    <span>{{redeem.RedeemShortDesc}}</span>
                </div>
                <ion-card-content>
                    <span>{{redeem.RedeemLongDesc}}</span>
                    <span class="expiry">Expiry {{DataAlignment(redeem.EXPIRYDATE)}}</span>
                </ion-card-content>


            </div>

        </div>
        <button (click)="openDetails(redeem.OfferId)" clear ion-button icon-end>
            <span>View Details</span>
             <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>
    
</ion-content>