<ion-header>

</ion-header>


<ion-content>

  <div class="dismiss-btn">
    <button (click)="dismiss()"><i class="close-icon"></i></button>
  </div>

  <div class="content-title">Store type</div>
  <ion-list no-lines>
    <ion-item *ngFor="let type of storeType; let i=index">
      <ion-label>{{type.label}}</ion-label>
      <ion-checkbox item-end [(ngModel)]="type.selected" (ionChange)="onChange(type.value, $event.checked, 'store_type')"></ion-checkbox>
    </ion-item>
  </ion-list>


  <hr/>


  <!--<div class="content-title">Service type</div>


  <ion-list no-lines>
    <ion-item *ngFor="let type of serviceType">
      <ion-label>{{type.label}}</ion-label>
      <ion-checkbox item-end [(ngModel)]="type.selected" (ionChange)="onChange(type.value, $event.checked, 'is_open_24hr')"></ion-checkbox>
    </ion-item>
  </ion-list>-->

  <div class="button-container">
    <button ion-button class="custom-button" (click)="resetForm()">Reset Filter</button>


    <button ion-button class="default-button" (click)="dismiss()">
      Filter
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>
</ion-content>
