page-store-locator-store-filter {

  .dismiss-btn {
    margin: 30px 0 0 5px;
    button {
      background: none;
    }
  }
  .content-title {
    /* Plan Type: */
    font-family: $font-familyBold;
    font-size: 24px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 5px;
    padding-top: 16px;
    padding-left: 16px;
  }


  .button-container {
    padding: 16px;
    button{
      width: 100%;
    }
    button.custom-button {
      background-color: transparent;
      border: 1px solid #009ADE;
      border-radius: 100px;
      .button-inner {
        font-size: 16px;
        color: #009ADE;
        letter-spacing: 0;
        line-height: 20px;
      }
    }

  }


  ion-list {
    margin-bottom: 0px !important;
    padding-top: 10px;
    .item {
      padding-left: 30px;
      position: relative;

    }
  }
  .checkbox-icon {
    width: 20px !important;
    visibility: visible !important;
    border-radius: 20% !important;
    padding-right: 17px;
    padding-bottom: 18px;
    border: 1.2px solid #CDCDCD;

  }
  .item-radio-checked ion-label {
    color: #000 !important;
  }
  .checkbox-checked {
    background-color: $primary-Color !important;
  }
  .checkbox-checked .checkbox-inner {
    border-color: #FFF !important;
  }

}

.XPAX page-store-locator-store-filter {
  .checkbox-checked {
    background-color: $XPAX-primary-Color !important;
    border-color:$XPAX-primary-Color !important;
  }



  button.custom-button {
    border: 1px solid $XPAX-primary-Color;

    .button-inner {
      color: $XPAX-primary-Color;
    }
  }
}


