<!--
  Generated template for the MyDealsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <div class="icon">
            <ion-icon class="float-left" name="custom-notification-paydetails"></ion-icon>
        </div>
        <!-- <ion-icon class="float-left" name="custom-notification-paydetails"></ion-icon> -->
        <span>
            {{mydealsInfo.planDescription1}}
        </span>
        <button class="float-right" ion-button clear (click)="dismiss()">Cancel</button>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
        <div class="mydeals-content-title">
            <span>Confirm Purchase for:</span>
            <span class="float-right right-title">RM {{mydealsInfo.costPerOffer}}
                <!-- RM7 -->
            </span>
            <div class="mydeals-content-subtitle">
                <span>{{mydealsInfo.planSubDescription1}}
                    <!-- Video Walla RM7 for 10GB weekly -->
                </span>
            </div>
        </div>
        <hr>
        <div>
            <span class="mydeals-num-message">Service Number</span>
            <span class="float-right number">{{mobileNumber}}
                <!-- 0193379545 -->
            </span>
        </div>


        <div class="btnDivContainer">
            <ion-item class="terms_cond">
                <ion-label>I Accept the <a>Terms & Conditions</a> </ion-label>
                <ion-checkbox [(ngModel)]="checkboxFlag" type="checkbox" (ionChange)="enableLogin()"></ion-checkbox>
            </ion-item>

            <button ion-button class="default-button" (click)="buyMyDeals()" [disabled]="!ischecked">Confirm
                <!-- Call to Action -->
            </button>
        </div>
    </div>

</ion-content>