page-transaction-history-details-pay-bill {



  .title-container {
    padding: 16px 16px 0 16px;

    span {
      font-family: $font-familyBold;
      font-size: 24px;
      color: #333333;
      letter-spacing: 0;
      line-height: 24px;
    }
  }

  .sub-title-container {
    margin-top: 16px;
    padding: 0 16px;
    span {
      font-size: 16px;
      color: #999999;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  .transaction-title {
    margin-top: 16px;
    padding: 0 16px;
    span {
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  .transaction-table-details {
    margin-top: 20px;
    padding: 0 16px;
    .row {
      display: inline-block;
      width: 100%;
      height: 20px;
      span {
        font-size: 14px;
        color: rgba(51, 51, 51, 0.87);
        line-height: 16px;
      }
    }
  }

  .transaction-description {
    width: 100%;
    margin-top: 20px;
    padding: 0 16px;
    p {
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  .transaction-details-items-container {
    background: url('../assets/img/transaction-item-bg.png');
    background-size: contain;
    padding: 0px 16px;

    .item {
      width: 100%;
      display: inline-block;
      padding: 8px 0;
      span {
        font-size: 14px;
        color: rgba(51, 51, 51, 0.87);
        line-height: 16px;
      }
      &.total {
        font-family: $font-familyBold;
      }
    }
  }

  .deduct-from-credit-container {

    padding: 0 16px;

    .deduct-from-credit {
      margin-top: 16px;

      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      line-height: 20px;
    }

    .credit {
      margin-top: 16px;

      font-family: $font-familyBold;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.87);
      line-height: 16px;
    }
  }

  .detailed-bill-statement {
    padding:16px;
    margin-top: 50px;

    span {
      font-family: $font-familyBold;
      font-size: 14px;
      color: $primary-Color;
    }

    i {
      background-color: #009ADE;
      width: 10px;
      height: 10px;
    }
  }
}


.XPAX {
  page-transaction-history-details-pay-bill {
    .detailed-bill-statement {
      span {
        color: $XPAX-primary-Color;
      }
    }
  }
}
