<!--
  Generated template for the ContactUsHotlinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="contact-details" *ngIf="isPrepaid">
    <ion-item>
      <h2 class="float-left">From Celcom Line</h2>
      <i (click)="launchDialer('1111')" class="store-phone-icon float-right"></i>
    </ion-item>
    <div class="store-phone">
      <span class="float-left">1111</span>
      <p>Calls to 1111 are FREE for Celcom Prepaid customers</p>
    </div>
  </div>
  <div class="contact-details" *ngIf="isPrepaid">
    <ion-item>
      <h2 class="float-left">From Abroad</h2>
      <i (click)="launchDialer('+60196011111')" class="store-phone-icon float-right"></i>
    </ion-item>
    <div class="store-phone">
      <span class="float-left">+6019 601 1111</span>
      <p>Calls to this number will be charged at standard rates</p>
    </div>
  </div>

  <div class="contact-details" *ngIf="isPrepaid">
    <ion-item>
      <h2 class="float-left">From Other Telco</h2>
      <i (click)="launchDialer('0196011111')" class="store-phone-icon float-right"></i>
    </ion-item>
    <div class="store-phone">
      <span class="float-left">019 601 1111</span>
      <p>Calls to this number from any network will be charged at standard rates</p>
    </div>
  </div>



  <div class="contact-details" *ngIf="!isPrepaid">
    <ion-item>
      <h2 class="float-left">From Celcom Line</h2>
      <i (click)="launchDialer('1111')" class="store-phone-icon float-right"></i>
    </ion-item>
    <div class="store-phone">
      <span class="float-left">1111</span>
      <p>Calls to 1111 are FREE for Celcom Postpaid customers</p>
    </div>
  </div>
  <div class="contact-details" *ngIf="!isPrepaid">
    <ion-item>
      <h2 class="float-left">From Abroad</h2>
      <i (click)="launchDialer('+60196011111')" class="store-phone-icon float-right"></i>
    </ion-item>
    <div class="store-phone">
      <span class="float-left">+6019 601 1111</span>
      <p>Calls to this number will be charged at standard rates.</p>
    </div>
  </div>
  <div class="contact-details" *ngIf="!isPrepaid">
    <ion-item>
      <h2 class="float-left">From Other Telco</h2>
      <i (click)="launchDialer('0196011111')" class="store-phone-icon float-right"></i>
    </ion-item>
    <div class="store-phone">
      <span class="float-left">019 601 1111</span>
      <p>Calls to this number from any network will be charged at standard rates.</p>
    </div>
  </div>





</ion-content>