<!--
  Generated template for the MobileConnectAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <ion-header class="otpHeader">
      <span class="arrow-backward-icon" (click)="goBack()" ></span>

</ion-header>
<ion-content >

  <div class="mca-container">

    <div class="text-center">
      <i class="mca-logo"></i>
    </div>

    <div class="mca-main-disclaimer">
      <span>Mobile Connect Account</span>
      <div class="sub-title">
        <span>It seems you don't have a Mobile Connect account, set it up now.</span>
      </div>

    </div>

    <div class="mca-sub-disclaimer">
            <p>By setting up an account, you are agreeing to the <a (click)="viewlegalPage(0)">Terms and Conditions</a>. The Mobile Connect Privacy Promise means that your mobile number will not be shared, and no personal information will be disclosed without your consent. Read our <a (click)="viewlegalPage(1)">privacy policy here</a>.</p>
    </div>

    <div class="mca-btn-container">
      <button class="default-button before-login" (click)="gotoHome()">Set up Mobile Connect Now
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
  </div>

</ion-content>
