<!--
  Generated template for the CataloguePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

        <ion-navbar>
            <!-- <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button> -->
            <ion-title>OleOle Catalogue</ion-title>
        </ion-navbar>
    
    </ion-header>

<ion-content>
<!-- <ion-content [class.isCapZone]="subscriptionService.isCapZone()"> -->
    <!-- <div class="cap-zone-warining">
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    <ion-card-header>
                        <span *ngIf="globalVar.getCapZoneStatus()">CAPZONE</span>
                        <span *ngIf="globalVar.getcallBarredStatus()">CALLBARRED</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span>Loren Ipsum sit amet, lorem vestibulum</span>
                    </ion-card-content>
                </ion-col>
                <ion-col col-2 class="text-center">
                    <div class="cap-zone-icon"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div> -->
        
<!-- *ngIf="isOleole" -->
<!-- <ng-container > -->
    <div *ngFor="let giftList of listOfCategories;" >
        <ion-card *ngIf="giftList.isCmp">
            <div class="card-container">
                <img class="img-abs" src="{{giftList.imgsrc}}">
                <div class="card-content">
                    <ion-card-content>
                        <!-- <span>{{gift.HEADER_TITLE}}</span> -->
                        <span>{{giftList.name}}</span>                            
                    </ion-card-content>
                </div>
            </div>
            <button clear ion-button icon-end (click)="openCatalogueListPage(giftList?.keyword)" >
                <span>View</span>
                <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
            </button>
        </ion-card>
    </div>
    <!-- </ng-container> -->

    <!-- <ng-container *ngIf="!isOleole">
        <div *ngFor="let gift of giftList;" >
            <ion-card>

                <div class="card-container">
                    <img class="img-abs" src="./assets/img/mydeals.png">
                    <div class="card-content">


                        <ion-card-content>
                            <span>{{gift.HEADER_TITLE}}</span>
                        </ion-card-content>


                    </div>

                </div>
                <button clear ion-button icon-end (click)="openCatalogueListPage(gift?.plan)" >
                    <span>View</span>
                    <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                    </button>

            </ion-card>
        </div>
    </ng-container> -->
    <!-- <ion-card>

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals2.png">
            <div class="card-content">


                <ion-card-content>
                    <span>GIFT_NAME_TITLE</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end (click)="openCatalogueListPage()">
          <span>Primary CTA</span>
          <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card> -->

</ion-content>
