
<ion-header class="dashboard-top-rect my-header">
    <ion-navbar>
        <button ion-button menuToggle class="menu-toggle-btn">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="page-home">
    <ion-refresher #fab1 #fab (ionRefresh)="doRefresh($event,fab1,fab)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

  <!--<button class="profilePicContainer" menuToggle>-->
    <!--<img src="./assets/img/ProfilePic.png" alt=""/>-->
    <!--<div class="notification">{{'4' | slice:0:2}}</div>-->
 <!-- </button>-->
<button class="plan-details-btn">
  <div class="dashboard-top-number text-center" ><span (click)="goToPlanDetails()">{{mobileNumber}}</span></div>
  <!-- <div class="dashboard-top-plan text-center">{{userInfo.ListOfServices.Services.PLAN}}</div> -->
  <div *ngIf="!isPrepaid" class="dashboard-top-credit text-center">Total Amount Due {{billAmount | RMprice:"nodash"}}</div>
  <div *ngIf="isPrepaid" class="dashboard-top-credit text-center">Credit Balance {{billAmount | RMprice:"nodash"}}</div>
  <div *ngIf="!isPrepaid" class="dashboard-top-plan text-center">Due on {{billingCycle}}</div>
  <div *ngIf="isPrepaid" class="dashboard-top-plan text-center">Valid till {{billingCycle}}</div>
</button>
  <ion-slides pager>
        <ion-slide *ngIf="capZoneActive">
            <div class="gaugeContainer">
                <raphael-drawer *ngIf="reloadTriggered" [value]="capZoneValue1"></raphael-drawer>
                <raphael-drawer *ngIf="!reloadTriggered" [value]="capZoneValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide *ngIf="callBarredActive">
            <div class="gaugeContainer">
                <raphael-drawer *ngIf="reloadTriggered" [value]="callbarredValue1"></raphael-drawer>
                <raphael-drawer *ngIf="!reloadTriggered" [value]="callbarredValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="gaugeContainer">
                <raphael-drawer *ngIf="reloadTriggered" [value]="dataValue1"></raphael-drawer>
                <raphael-drawer *ngIf="!reloadTriggered" [value]="dataValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="gaugeContainer">
                <raphael-drawer *ngIf="reloadTriggered" [value]="talkValue1"></raphael-drawer>
                <raphael-drawer *ngIf="!reloadTriggered" [value]="talkValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide *ngIf="VLR">
            <div class="gaugeContainer">
                <raphael-drawer *ngIf="reloadTriggered" [value]="smsValue1"></raphael-drawer>
                <raphael-drawer *ngIf="!reloadTriggered" [value]="smsValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide *ngIf="VLR">
            <div class="gaugeContainer">
                <raphael-drawer *ngIf="reloadTriggered" [value]="RomValue1"></raphael-drawer>
                <raphael-drawer *ngIf="!reloadTriggered" [value]="RomValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide *ngIf="VLR">
            <div class="gaugeContainer">
                <raphael-drawer *ngIf="reloadTriggered" [value]="RomTalkValue1"></raphael-drawer>
                <raphael-drawer *ngIf="!reloadTriggered" [value]="RomTalkValue"></raphael-drawer>
            </div>
        </ion-slide>
    </ion-slides>
    <div class="last-updated text-center">
        Last Updated {{reloadDate}}
    </div>
    <div class="divContainer">
        <ion-fab class="centerFab celcom-list" center #fab>
            <button ion-fab class="default-button"  (click)="hideOverlay($event)">Buy More</button>
            <ion-fab-list side="top">
                <button ion-fab class="default-button whitebackGround" (click)="goToSubscriptions(3,fab)">Roaming</button>
                <button ion-fab class="default-button whitebackGround" (click)="goToSubscriptions(1,fab)">Add-Ons</button>
            </ion-fab-list>
        </ion-fab>
        <ion-fab class="centerFab xpax-list" center #fab1>
            <button ion-fab class="default-button"  (click)="hideOverlay($event)">Buy More 
                   <i class="XPAX-Right-Bubble"></i>
                   <i class="XPAX-Left-Bubble"></i>
                </button>
            <ion-fab-list side="top">
                <button ion-fab class="default-button whitebackGround" (click)="goToSubscriptions(3,fab1)">Roaming</button>
                <button ion-fab class="default-button whitebackGround" (click)="goToSubscriptions(1,fab1)">Add-Ons</button>
                <button ion-fab class="default-button whitebackGround" (click)="goToSubscriptions(0,fab1)">Internet Plans</button>
                <button ion-fab class="default-button whitebackGround" (click)="gotoReload(fab1,$event)">Reload</button>
            </ion-fab-list>
        </ion-fab>
    </div>
    <div class="quick-links">
        <ion-grid class="celcom-grid">
            <ion-row>
                <ion-col col-4>
                    <button (click)="gotoService()"><i class="services-icon"></i></button>
                    <label>Services</label>
                </ion-col>
                <ion-col col-4>
                    <button (click)="gotoPaybill()"><i class="paybill-icon"></i></button>
                    <label>Pay Bill</label>
                </ion-col>
                <ion-col col-4 *ngIf="adminNumber">
                    <button (click)="gotoGBShare()"><i class="gbShare-icon"></i></button>
                    <label>GB Share</label>
                </ion-col>
                <ion-col col-4 *ngIf="!adminNumber">
                    <button (click)="gotoSupportPage()"><i class="support-icon"></i></button>
                    <label>Support</label>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="xpax-grid">
            <ion-row>
                <ion-col col-4>
                    <button (click)="gotoService()"><i class="services-icon"></i></button>
                    <label>Services</label>
                </ion-col>
                <ion-col col-4>
                    <button (click)="gotoReload('none',$event)"><i class="reload-icon"></i></button>
                    <label>Reload</label>
                </ion-col>
                <ion-col col-4>
                    <button (click)="gotoPrivileges()"><i class="privileges-icon"></i></button>
                    <label>Privileges</label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="my-overlay" padding  [hidden]="overlayHidden"></div>
</ion-content>
<notification-drawer [options]="drawerOptions"></notification-drawer>