.gaugeContainer {
    position: relative;
    margin: 0 auto;
    raphael-drawer {
        .gauge-container-id {
            border-radius: 50%;
            margin: 0 auto;
            position: relative;
            -ms-transform: rotate(-129deg);
            -webkit-transform: rotate(-129deg);
            transform: rotate(-129deg);
            svg {
                top: 0px !important;
                left: 0px !important;
            }
        }
        .default-cont {
            width: 100%;
            height: 97%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            .internet-bal {
                width: 170px;
                margin: 0 auto;
                line-height: 16px;
                font-size: .7em;
                text-align: center;
                color: #333;
                // position: absolute;
                // top: 20%;
                // left: 0px;
                // right:0px;
                letter-spacing: 0.9px;
                font-family: $font-familyBold;
                text-transform: uppercase;
                margin: 2% 0;
            }
            .balance-cont,
            .balance-cont-unlimited {
                width: 100%;
                margin-bottom: 2%;
                // position: absolute;
                // top: 35%;
                // left: 0px;
                .balance {
                    width: 100%;
                    height: 50px;
                    font-size: 44px;
                    line-height: 50px;
                    text-align: center;
                    color: #333;
                    display: inline-block;
                    padding: 0 17px;
                    &__gb {
                        display: inline-block;
                        vertical-align: top;
                    }
                }
                .qota {
                    width: 100%;
                    height: 20px;
                    font-size: 1em;
                    line-height: 20px;
                    text-align: center;
                }
            }
            .valid-date {
                width: 100%;
                // position: absolute;
                // top: 65%;
                // left: 0;
                color: #999;
                font-size: 12px;
                margin-bottom: 2%;
            }
            .view-det {
                text-decoration: none;
                width: 100%;
                height: 22px;
                align-self: flex-end;
                position: absolute;
                bottom: 14%;
                left: 0px;
                text-align: center;
                span {
                    font-size: 14px;
                    font-family: $font-familyBold;
                    color: $primary-Color;
                    line-height: 22px;
                    display: inline-block;
                    vertical-align: top;
                }
                i {
                    background-color: $primary-Color;
                    margin-left: 5px;
                    width: 8px;
                    height: 22px;
                }
            }
        }
        .cap-zone {
            .cap-zone-icon {
                display: block;
            }
            .internet-bal {
                top: 30%;
            }
            .balance-cont {
                top: 38%;
            }
            .valid-date {
                font-size: 20px;
                color: #333;
                top: 58%;
            }
        }
        .call-barred {
            .call-barred-icon {
                display: block;
            }
            .internet-bal {
                top: 28%;
            }
            .balance-cont {
                top: 37%;
                padding: 0 20px;
            }
        }
        .cap-Zone-div,
        .call-Barring-div {
            .internet-bal {
                top: 30%;
            }
            .balance-cont {
                top: 42%;
            }
            .valid-date {
                top: 67%;
            }
        }
        .cap-zone-icon {
            // position: absolute;
            // top: 15%;
            // left: 50%;
            // margin-left: -12px;
            display: none;
        }
        .call-barred-icon {
            // position: absolute;
            // top: 15%;
            // left: 50%;
            // margin-left: -12px;
            display: none;
        }
        .cap-Zone-div {
            .cap-zone-icon {
                display: block;
            }
        }
        .call-Barring-div {
            .call-barred-icon {
                display: block;
            }
        }
        
        .speed-test-cont {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .speed-test {
                text-align: center;
                position: absolute;
                top: calc(50% - 43px);
                left: 0;
                width: 100%;
                .speed {
                    font-family: $font-familyBold;
                    font-size: 44px;
                    color: #333;
                }
                .speed-unit {
                    font-size: 20px;
                    color: #333;
                    margin-top: 10px
                }
            }
            .gauge-units {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                div {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    position: absolute;
                }
                .units-0 {
                    bottom: 15%;
                    left: 2%;
                }
                .units-1 {
                    bottom: 35%;
                    left: -20px;
                }
                .units-2 {
                    top: 25%;
                    left: -10px;
                }
                .units-3 {
                    top: 3%;
                    left: 15%;
                }
                .units-5 {
                    top: -15px;
                    left: 49%;
                }
                .units-10 {
                    top: 3%;
                    right: 15%;
                }
                .units-20 {
                    top: 25%;
                    right: -10px;
                }
                .units-30 {
                    bottom: 35%;
                    right: -20px;
                }
                .units-50 {
                    bottom: 15%;
                    right: 2%;
                }
            }
        }
    }
}

// @media (min-width: 750px) {

//     .gaugeContainer{
//         width: calc( 100% - 270px )
//     }
// }