<!--
  Generated template for the LoginLegalPrivacyPage .

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!--Slide Privacy Tab-->
<ion-content padding content content-ios>

    <div>
<h1>Privacy Notice</h1>
            

We, CELCOM AXIATA BERHAD (Company No. 167469-A), with our registered office and principal place of business at Level 5 Axiata Centre 9 Jalan Stesen Sentral 5 Kuala Lumpur Sentral, 50470 Kuala Lumpur, Malaysia and we via our subsidiary companies (collectively CELCOM) provide a range of telecommunication services. We are committed to protecting all Personal Data kept by us and providing our customers with the highest levels of customer service. CELCOM is bound by the Personal Data Protection Act 2010, General Consumer Code of Practice for the Communications and Multimedia Industry Malaysia, and the Communications and Multimedia Act 1998, which set out a number of principles concerning consumer protection in Malaysia.

For the purpose of this Privacy Policy:

Personal Data means any personal information relating to CELCOM's customer that the customer has provided to CELCOM or made available to CELCOM due to his/her contract with CELCOM, e.g. name, Identity Card / Passport No., address, information about his/her transactions with CELCOM such as contact number, account number, account balances, payment history, and account activity

Sensitive Personal Data comprises information as to the customer's physical or mental health or condition, political opinions, religious beliefs or other beliefs of a similar nature, commission or alleged commission of any offence or any other Personal Data determined by law; and third parties means a person or a company who is not a party to a contract or a transaction with CELCOM, but excluding CELCOM's agents, subsidiaries, contractors, sub-contractors and professional advisors.

CELCOM reserves the right to change any portion of this Policy. CELCOM will announce such changes through its dedicated webpage [www.celcom.com.my]

1. SCOPE

This Notice applies to all operations and business units of CELCOM. To the extent any operations or business unit of CELCOM already has a data protection Notice in place; this Notice shall supersede and replace any such notice.

2. RESPONSIBILITY

The Customer Service Division is responsible for the customer access and correction of personal data, notice and choice process to limit processing of personal data and the Privacy Department in Legal Division is responsible for the monitoring the administration of this Notice and monitoring enterprise wide compliance.

3. EFFECTIVE DATE

This notice is effective as at August 1 2013.

4. PERSONAL DATA PROTECTION PRINCIPLES 4.1 General Principle:

4.1.1 CELCOM will use, process, record, hold, store, share and disclose (process) Personal Data with the consent of the customer.

4.1.2 Continuance of use of CELCOM's services and/or products shall amount to the customer's consent for the processing of its Personal Data by CELCOM.

4.1.3 CELCOM will record and maintain a record of consent by your continued use of our services as appearing on our active customer database.

4.1.4 If you are under 18, you should ensure that you obtain the consent of your parents or legal guardian before using our services and/or products.

4.2 Notice and Choice Principle:

4.2.1 Please be informed that CELCOM will process customer's Personal Data for the following reasons and MAY disclose:-
to companies and organizations for the performance of CELCOM's contract of providing any goods or services to the customer;
for profiling your service preferences
to companies and organizations for compliance with any legal and/or regulatory obligations to which CELCOM is subject, in addition to any obligation imposed under CELCOM's contract with the customer;
to companies and organizations that act as CELCOM's payment channels including and without limitation, financial institutions for purposes of maintaining financial records, assessing or verifying credit and facilitating payments of any amount due to CELCOM;
To other service providers or third parties nominated by CELCOM either solely or jointly with other service providers, for purposes of establishing and maintaining a common database of customers or processing data as an outsourced entity both within and outside Malaysia;
to send you information, promotions and updates including marketing and advertising materials in relation to our goods and services and those of organisations selected by CELCOM;
to companies and organizations that act as CELCOM's agents or contractors for the purposes of recovering any amount due to CELCOM;
To regulatory bodies or other government authorities in compliance with requirements under the law or towards the detection or prevention of crime and/or fraud;
To any party involved in or related to a legal proceeding, for purposes of the proceedings;
to protect CELCOM's vital interests;
for the administration of justice; 
to promote any of CELCOM's products and/or services; or products, services and special offers of third parties whose products and services we think may be of interest to you; and;
for the exercise of any functions conferred on any person by or under any law.

4.2.2 Celcom collects personal data from customer application forms prepaid registration forms customer relationship managements systems and our network systems in order to assess your needs and provide you better service. CELCOM may transfer the customer's Personal Data to third parties both in Malaysia and overseas providing outsourced data storage or data processing services for CELCOM.

4.2.3 Any customers who have provided his/her Personal Data prior to this Policy, may contact CELCOM using the contact details set out below to know what types of Personal Data have been processed and the purpose for the processing.

4.2.4 Save in accordance with this Privacy Policy and except as permitted or required under any enactment, law, statute or code, CELCOM will not use or disclose the customers' Personal Data without prior written consent.

4.2.5 You will be given the opportunity to 'opt-out' of having your Personal Data used for purposes not directly related to the Services or CELCOM's Websites at the point where CELCOM asks for information. If you do not wish to receive our promotional updates you may opt-out of receiving these communications by contacting CELCOM at the contact numbers listed below. But please note that should you decide to opt-out, we may not be able to provide you with certain Services and your subscription to or application for certain Services may be declined, denied or refused by CELCOM.

4.2.6 CELCOM is obliged to disclose your cell phone number to other network operators to enable the use of the Services. Should you refuse to permit such disclosure, CELCOM may not be able to continue providing you with certain Services.

4.3 Disclosure Principle:

4.3.1 CELCOM will only disclose Personal Data to comply with any government agency notification requirements; and/or for the purpose for which the Personal Data is processed where you have consented to disclosure.

4.3.2 CELCOM may from time to time, contact you on behalf of external business partners about particular goods, offers or services that may be of interest to you. In those cases, Personal Data that may identify you will not be transferred to the third party. All communication whether from CELCOM or CELCOM's business partners will be sent to you by CELCOM.

4.3.3 CELCOM may disclose your Personal Data to subsidiaries, its parent company Axiata Group Berhad or any other entity for the purpose as outlined in paragraph 4.2.1.

4.4 Security Principle:

CELCOM is responsible for taking prudent steps to safeguard the confidentiality and security of all Personal Data, including appropriate procedural, organizational and technical steps to protect personal data from accidental or unlawful destruction or accidental loss, alteration or disclosure. These steps include entering into written agreements with subcontractors who process Personal Data in accordance with CELCOM's instructions and incorporating CELCOM's own data protection standards as a minimum.

4.5 Retention Principle:

In executing its responsibilities with respect to the confidentiality of Personal Data, CELCOM will employ a number of safeguards, appropriate to the sensitivity of the information, to protect Personal Data against loss or theft, as well as unauthorized access, disclosure, copying, use, or modification. Such safeguards will include physical measures, organizational measures and technological measures, for example locked filing cabinets, restricted access to offices, security clearances and limiting access on a "need to know" basis and use of passwords and encryption. Procedures for implementing these measures will be communicated to all CELCOM's employees and third parties to ensure compliance with this principle.

4.6 Data Integrity Principle:

4.6.1 CELCOM strives to maintain complete, current, and accurate information about its customers. Any inaccurate information that is brought to CELCOM's attention will be corrected as quickly as possible after notification. Procedures will be maintained to ensure that any reported inaccuracies are promptly and effectively handled and that customers' information remains as accurate, current and complete as possible.

4.6.2 You are obliged to provide your personal data to CELCOM. Failure to provide complete and correct information to CELCOM as required in the Agreement including the Registration Form or any Addendum, may result in the customer's application for services being rejected, the service or Agreement being terminated and/or correspondence from CELCOM including without limitation, bill statements failing to reach the CUSTOMER.

4.7 Access Principle:

Any person dealing with CELCOM can have access to his/her Personal Data that CELCOM has in its possession or control and may request that his/her Personal Data be amended for purposes of accuracy and completeness.

5. SENSITIVE PERSONAL DATA

5.1 CELCOM does not process any Sensitive Personal Data in its ordinary course of business.

5.2 If need arises, CELCOM will obtain explicit consent from the customer before or when it processes Sensitive Personal Data.

5.3 CELCOM may process Personal Data without the customer consent only in limited circumstances as permitted by law.

6. CELCOM's WEBSITE

6.1 CELCOM provides products and services via its various websites. When a customer visits CELCOM' websites the web servers generally record anonymous information such as the time, date and URL of the request. This information assists CELCOM to improve the structure of its websites and monitor their performance. From time to time CELCOM may also use third parties to analyse this anonymous information.

6.2 As mandatory in the usage of the CELCOM websites CELCOM may require standard information such as a customer's Login ID, password, Personal Data for verification purposes, contact details and identification numbers. This information is necessary for CELCOM to provide the services the customer applied for. The customers are required to maintain the secrecy of his/her Login ID and Password enabling him/her to access the CELCOM home page. It is strongly stressed that CELCOM will not be able to secure the Personal Data if the customer reveal his/her Login ID and Password to anyone, and as such, is not liable for any breach of Personal Data.

7. IP ADDRESSES AND COOKIES

7.1 CELCOM also collects Internet Protocol (IP) addresses. IP addresses are assigned to computers on the internet to uniquely identify them within the global network. CELCOM collects and manages IP addresses as part of the service of providing internet session management and for security purposes.

7.2 The CELCOM websites may transmit to any customer computer a cookie. A cookie is a package of data that allows CELCOM's server to identify and interact more effectively with the customer's computer having to spend time on identifying each customer user, thereby also providing additional login convenience. The customer may configure and personalize its current browser to refuse, reject or delete such cookies.

8. INTEREST BASED ADVERTISING

8.1 Interest Based Advertising is a way of making the advertisements (ads) on the websites the customer visit more relevant to him/her. CELCOM collects anonymous information about the web browsing activity of a customer internet-enabled device and use that information to associate the customer's browser with one or more pre-defined interest categories. This enables CELCOM to provide ads to the customers that are tailored to the customer's interests. Interest Based Advertising does not change the amount of advertising a customer receives, it just makes it more relevant.

8.2 The customer may configure and personalize its current browser to refuse, reject or delete collection of information for Internet Based Advertising.

9. CALLING NUMBER DISPLAY

CELCOM's Calling Number Display facility (CND) lets persons who receive phone calls identify who is calling them by displaying the caller's number. CND forms part of the ordinary telephony service that you purchase from CELCOM. Unless you have chosen to block your (home or mobile) phone number, or have a silent line, CND will usually cause your phone number to be displayed (or logged) - locally and sometimes internationally - on a receiving caller's phone. In other words, CND will enable the disclosure of your phone number to receiving callers (and to other network operators) locally and internationally, unless you take the above measures.

CELCOM is committed to protecting the Personal Data of all customers CELCOM deals with. If you have any questions in relation to this Privacy Notice, please contact us using where applicable the numbers below :

Dial 1111 - from Celcom Mobile

Dial 1 300 111 000 - from other operator

Dial +603 36308888 - from abroad

between 9.00am and 5.00pm, Monday to Friday. Alternatively, you can write to The ADMINISTRATOR at

http://www.celcom.com.my/personal/helpsupport/contactus/contactus-form.

You may also use this address to communicate any concerns you may have regarding compliance with this Privacy Notice.


    </div>

</ion-content>
