<!--
  Generated template for the NotificationTab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
    <ion-card *ngFor="let mydeals of myDealsList?.offerList;">

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals2.png">
            <div class="card-content">
                <div>
                    <span>{{mydeals.planDescription1}}</span>
                </div>

                <ion-card-content>
                    <span>{{mydeals.planSubDescription1}}</span>
                    <span class="expiry">Expiry Date : {{mydeals.expirationDate}} 
                        <!-- Expiry dd/mm/yy hh:mm:ss -->
                    </span>
                </ion-card-content>
            </div>
        </div>
        <!-- class="left-align" -->

        <button clear ion-button icon-end class="left-align"  (click)="presenMydealspageModal(mydeals)">
            <span>Learn more</span>
            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>

        <button clear ion-button icon-end (click)="presenMydealspageCinfirmation(mydeals)">
            <span>Subscribe</span>
            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>

    <!-- <ion-card>

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals.png">
            <div class="card-content">
                <div>
                    <span>Promo Title</span>
                </div>

                <ion-card-content>
                    <span>Lorem ipsum dolor sit
                                amet, consectetur adi
                                pisicing elit</span>
                    <span class="expiry">Expiry dd/mm/yy hh:mm:ss</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end (click)="presenMydealspageModal()">
              <span>Call to Action</span>
              <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
            </button>
        <button class="right-button" clear ion-button icon-end (click)="presenMydealspageModal()">
                <span>Call to Action</span>
                <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
              </button>
    </ion-card> -->


</ion-content>
