page-detailed-usage {
    super-tabs {
        super-tabs-toolbar {
            ion-toolbar {
                .tab-buttons-container {
                    .indicator {
                        background-color: $primary-Color;
                        height: 3px !important;
                    }
                    .tab-buttons {
                        super-tab-button {
                            span {
                                text-transform: none !important;
                                /* Internet: */
                                font-family: $font-familyBold;
                                font-size: 14px;
                                letter-spacing: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    super-tabs {
        super-tab-button.title-only.selected {
            span {
                color: $primary-Color;
            }
        }
    }
    .content {
        background: url("../assets/img/normal_page_bg.jpg");
        background-size: 100% auto;
    }
    .padding-bottom-24 {
        padding-bottom: 24px !important;
    }
    .buy-more {
        margin: 12px;
        width: calc(100% - 24px);
        button {
            width: 100%;
        }
    }



//   .primary-title {
//     padding-bottom: 0px;
//   }
  .default-button {
    width: 90%;
    margin: 15px auto;
    display: block;
}
}

.XPAX {
    page-detailed-usage {
        ion-header {
            ion-title {
                .toolbar-title {
                    color: #ffffff;
                }
            }
            background: url("../assets/img/app-bar-xpax.png");
            background-size: 100% 100%;
        }
        .content {
            background: url("../assets/img/detailed_usage_card_bg_xpax.png");
            background-size: 100% auto;
        }
        super-tabs {
            super-tab-button {
                height: 43px !important;
                span {
                    line-height: 40px !important;
                }
                &.title-only.selected {
                    span {
                        color: #BE2097;
                    }
                }
            }
        }
        super-tabs {
            super-tabs-toolbar {
                ion-toolbar {
                    .tab-buttons-container {
                        .indicator {
                            background-color: #BE2097;
                        }
                    }
                }
            }
        }
    }
}
