<!--
  Generated template for the TransactionHistoryTransactionTabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content>

<div *ngIf="currentMonthFlag" class="content-banner">
    <span>{{CurretMonth}}</span>
</div>
<ion-list class="default-list-item" *ngFor="let item of CurrentMonthDetails | orderBy:'RESPONSE_TIME':'desc'" >
    <div  *ngIf="CurretMonth == item.MONTHNAME" ion-item (click)="goToDetailsPage(item)"  class="transaction-item">
      <div class="first-line">{{item.RESPONSE_TIME}}</div>
      <div class="second-line">
        <span class="float-left">{{item.TransactionTitle}}</span>
        <span class="float-right">RM{{item.CHARGES}}</span>
      </div>
      <i class="icon arrow-forward-icon"></i>
    </div>
</ion-list>



  <div *ngIf="NextMonthFlag" class="content-banner">
    <span>{{NextMonth}}</span>
  </div>


  <ion-list class="default-list-item" *ngFor="let item of CurrentMonthDetails | orderBy:'RESPONSE_TIME':'desc'" >
      <div  *ngIf="NextMonth == item.MONTHNAME" ion-item (click)="goToDetailsPage(item)"  class="transaction-item">
        <div class="first-line">{{item.RESPONSE_TIME}}</div>
        <div class="second-line">
          <span class="float-left">{{item.TransactionTitle}}</span>
          <span class="float-right">RM{{item.CHARGES}}</span>
        </div>
        <i class="icon arrow-forward-icon"></i>
      </div>
  </ion-list>


  <div *ngIf="LastmonthMonthFlag" class="content-banner">
      <span>{{LastMonth}}</span>
  </div>

  <ion-list class="default-list-item" *ngFor="let item of CurrentMonthDetails | orderBy:'RESPONSE_TIME':'desc'" >
      <div  *ngIf="LastMonth == item.MONTHNAME" ion-item (click)="goToDetailsPage(item)"  class="transaction-item">
        <div class="first-line">{{item.RESPONSE_TIME}}</div>
        <div class="second-line">
          <span class="float-left">{{item.TransactionTitle}}</span>
          <span class="float-right">RM{{item.CHARGES}}</span>
        </div>
        <i class="icon arrow-forward-icon"></i>
      </div>
  </ion-list>

  <div *ngIf="creditA" class="content-banner">
    <span>Credit Advance</span>
</div>

<ion-list class="default-list-item" *ngFor="let item of CreditAdvanceObj" >
    <div  ion-item (click)="goToDetailsPage(item)"  class="transaction-item">
      <div class="first-line">{{item.RESPONSE_TIME}}</div>
      <div class="second-line">
        <span class="float-left">{{item.TransactionTitle}}</span>
        <span class="float-right">RM{{item.CHARGES}}</span>
      </div>
      <i class="icon arrow-forward-icon"></i>
    </div>
</ion-list>

<div *ngIf="EmptyStatus" class="content-banner">
    <span>Curious to see what you have bought? Well, you can't see it until you have bought something. Let's start buying now.</span>
</div>
  <div class="page-end-padding">
  
  </div>
</ion-content>
