page-store-locator-store-details {

  .full-width-select {
    width: 100%;
    max-width: 100%;
  }

  ion-select {

    padding: 11px 8px 11px 0px !important;
    border-bottom: 1px solid #999999;

    .select-text {
      font-size: 16px;
      color: #333333;
      line-height: 17px;
    }

    .select-icon {
      width: 20px !important;
      height: 20px !important;

      .select-icon-inner {
        width: 16px !important;
        height: 10px !important;

        -webkit-mask-image: url('../assets/img/arrow-down.svg');
        mask-image: url('../assets/img/arrow-down.svg');

        background: $primary-Color;

      }
    }
  }

  .page-container {

    height: calc(100% - 85px);
    overflow: scroll;

    .store-map {
      height: 210px;
      width: 100%;

      background-size: cover;

      position: relative;

      .mylocation {
        background: url("../assets/img/map-locator-icon.png");
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 50px;
        width: 50px;
      }

    }
    .store-info {
      margin: 16px;
      .store-title {
        font-family: $font-familyBold;
        font-size: 24px;
        color: #333333;
        letter-spacing: 0;
        line-height: 24px;
      }
      .store-desc {
        font-size: 16px;
        color: #333333;
        line-height: 20px;
      }
    }

    .store-schedule {
      position: relative;
      margin: 16px;
      .title {
        font-size: 20px;
        color: #999999;
        line-height: 20px;
      }
    }

    .store-phone {
      height: 52px;
      padding: 16px;

      span {
        font-size: 16px;
        color: rgba(51, 51, 51, 0.87);
        line-height: 20px;

      }

      .store-phone-icon {
        height: 28px;
        width: 28px;
        background-color: $primary-Color;
      }
    }

    .store-service-details {
      padding: 16px;
      margin-bottom: 20px;

      background: url('../assets/img/transaction-item-bg.png');
      background-size: contain;

      .title {
        display: inline-block;
        font-family: $font-familyBold;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        line-height: 18px;
      }
      i {
        background-color: $primary-Color;
      }

    }

  }

  .button-container {
    width: 100%;
    padding: 16px;
    background-color: white;

    position: fixed;
    bottom: 0;

    opacity: 0.96;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.20);

    button {
      width: 100%;
    }
  }
}

.XPAX {
  page-store-locator-store-details {
    .store-phone-icon {
      background-color: $XPAX-primary-Color !important;
    }

    .store-service-details {
      i {
        background-color: $XPAX-primary-Color !important;
      }
    }

    .select-icon {
      .select-icon-inner {
        background-color: $XPAX-primary-Color;
      }
    }
  }
}
