page-credit-reload {
    >.content {
        >.scroll-content {
            padding-bottom: 76px;
        }
    }
    .slider-subtitle {
        background: #FFF;
        border-bottom: 1px solid #CCC;
        height: 30px;
        padding: 16px 16px 32px;
        font-size: 12px;
        color: #666;
        letter-spacing: 0;
        line-height: 12px;
    }
    .internet-card-container-payment-visa {
        padding-bottom: 24px;
        background: #fff;
    }
    .payment-slider-visa {
        background: #FFF;
        height: 36px;
        font-size: 12px;
        color: #666;
        letter-spacing: 0;
        line-height: 12px;
        margin-bottom: 4px;
        position: relative;
        ion-icon {
            position: absolute;
            top: 23px;
            left: 20px;
        }
        span {
            /* Single-line item: */
            font-size: 14px;
            color: #333333;
            line-height: 14px;
            position: absolute;
            left: 55px;
            top: 25px;
        }
        button {
            position: absolute;
            top: 22px;
            right: 19px;
            background-color: transparent;
            color: $XPAX-primary-Color;
            font-family: $font-familyBold;
            font-size: 14px;
            line-height: 14px;
        }
    }
    .disabled {
        pointer-events: none;
    }
    .subtitle {
        height: 50px;
        padding: 24px 17px 10px;
        font-size: 18px;
        color: #000;
    }
    .payment-container {
        border-top: 1px solid #CCC;
    }
    .button-container {
        position: absolute;
        bottom: 0px; 
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.15);
        .default-button {
            width: calc(100% - 20px);
            margin: 16px 10px;
        }
    }
}