ion-modal.mydeal-modal {
    .modal-wrapper {
        position: absolute;
        width: 100%;
        height: 50.3%;
        bottom: 0;
        /* Rectangle 5: */
        box-shadow: 0 -4px 24px 0 rgba(0, 0, 0, 0.30);
    }
}

@media not all and (min-height: 600px) and (min-width: 768px) {
    ion-modal.mydeal-modal ion-backdrop {
        visibility: visible;
    }
}

page-my-deals {
    .content {
        .grid {
            padding: 0px;
            img {
                width: 100%;
            }
        }
        .col {
            padding: 0px;
        }
    }
    .mydeals-title {
        position: absolute;
        z-index: 1;
        color: #FFFFFF;
        padding-top: 14px;
        i {
            background-color: #FFF;
        }
        .title-content {
            padding-left: 16px;
            width: calc(100% - 71px);
            span {
                font-size: 24px;
                letter-spacing: 0;
                line-height: 28px;
            }
        }
    }
    .my-deals-content {
        padding-top: 21px !important;
        padding: 16px;
    }
    .my-deals-header {
        font-size: 24px;
        color: #333333;
        letter-spacing: 0;
        line-height: 24px;
        padding-bottom: 6px;
    }
    .my-deals-subtitle {
        font-size: 14px;
        color: #999999;
        letter-spacing: 0;
        line-height: 14px;
    }
    .my-deals-message {
        font-size: 16px;
        color: #333333;
        line-height: 20px;
        padding-top: 26px;
    }
    .button-container {
        padding:0 16px;
        margin-top: 70px;
        width: 100%;
        button {
            width: 100%;
            margin: auto;
        }
    }
}


@media (max-width: 360px) {
    page-my-deals {
        .button-container {
            margin-top: 0 !important;
        }
    }
}
