<!--
  Generated template for the ProductDetailsDesignGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Product Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content [class.isCapZone]="subscriptionService.isCapZone() && isOleole">
  <!-- <ion-content> -->
  <div class="cap-zone-warining">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-card-header>
            <span *ngIf="globalVar.getCapZoneStatus()">CAPZONE</span>
            <span *ngIf="globalVar.getcallBarredStatus()">CALL BARRED</span>
          </ion-card-header>
          <ion-card-content>
            <span *ngIf="globalVar.getcallBarredStatus()">Call Barring is now in effect. You can only receive calls. Outgoing calls, SMS and Internet is unavailable until after you've settled your bill</span>
            <span *ngIf="globalVar.getCapZoneStatus()">You are now in CapZone. Internet Speed is throttled. 10 SMS remaining, 10 minutes remaining
                            </span>
          </ion-card-content>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div class="cap-zone-icon"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- oleoleGiftPartnerList.HEADER_TITLE -->

  <!--Product Detail_Image Container-->
  <!-- {{isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'Fashion Valet'}} -->
  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'Fashion Valet' ">
    <img src="./assets/img/oleole-product/2304x1296_fashionvalet.jpg">
  </div>

  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'Melissa Shoes' ">
    <img src="./assets/img/oleole-product/2304x1296_melissa.jpg">
  </div>

  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'Something Borrowed' ">
    <img src="./assets/img/oleole-product/2304x1296_something_borrowed.jpg">
  </div>

  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList?.HEADER_TITLE == 'ZALIA' ">
    <img src="./assets/img/oleole-product/2304x1296_zelia.jpg">
  </div>

  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'ZALORA' ">
    <img src="./assets/img/oleole-product/2304x1296_zalora.jpg">
  </div>
  <!--  -->
  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'Fave' ">
    <img src="./assets/img/oleole-product/fave_1.jpeg">
  </div>
  <!--  -->
  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'Taobao Collection' ">
    <img src="./assets/img/oleole-product/taobao_collection.jpg">
  </div>
  <!--  -->
  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'Klook' ">
    <img src="./assets/img/oleole-product/klook_2.jpg">
  </div>
  <!--  -->
  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'Steam' ">
    <img src="./assets/img/oleole-product/steam_1.jpg">
  </div>

  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == '11street' ">
    <img src="./assets/img/oleole-product/2304x1296_11_street.jpg">
  </div>

  <div class="product-detail-img-container" *ngIf="isOleole && oleoleGiftPartnerList.HEADER_TITLE == 'LAZADA' ">
    <img src="./assets/img/oleole-product/2304x1296_lazada.jpg">
  </div>


  <div class="page-container">
    <!--Product Detail_Title-->
    <!-- <div class="product-details-content-container">
        <div class="product-detail-title">Your Title Goes Here</div>
    </div> -->

    <!--Product Detail_Supporting Text-->
    <!-- <div class="product-details-content-container">
        <div class="product-detail-supporting-text">
            <p>Content here will be a maximum of 3 lines with 90 chars. I repeat, content here will be a max of 3 lines with 90 chars.</p>
        </div>
    </div> -->

    <!--Product Detail_Title & Supporting Text-->
    <!-- <div class="product-details-content-container"  >
        <div class="product-detail-title">Your Title Goes Here</div>
        <div class="product-detail-supporting-text">
            <p>Content here will be a maximum of 3 lines with 90 chars. I repeat, content here will be a max of 3 lines with 90 chars.</p>
        </div>
    </div> -->

    <!--Product Detail_Title & Supporting Text + Voucher Code-->
    <div class="product-details-content-container" *ngIf="isOleole">
      <div class="product-detail-title">
        <!-- Gift Name -->
        {{oleoleGiftPartnerList.HEADER_TITLE}}
      </div>
      <div class="product-detail-supporting-text"> {{oleoleGiftPartnerList.merchant_description}}

      </div>

      <!-- <div class="voucher-code text-center">
          <span>91dLA48</span>
      </div> -->
    </div>

    <!-- kawkaw -->
    <!--Product Detail_Title & Supporting Text + Inline Title-->
    <div *ngIf="kawkawVariable == 'kawkaw'"  class="product-details-content-container">
      <div class="product-detail-title">KAW-KAW Squad Promotion</div>
      <div class="product-details-sub-title">50% More Monthly Internet</div>
      <div class="product-detail-supporting-text">
        <p>
          This promotion is applicable for those age 12 to 25 who subscribe to RM 30, RM 50 or RM 79 monthly internet plan.
        </p>
        <p>
          Click Subscribe to enjoy more internet.
        </p>
      </div>

    </div>
    <div *ngIf="kawkawVariable == 'ECEMB'"  class="product-details-content-container">
      <div class="product-detail-title">East Coast East Malaysia Bonus</div>
      <div class="product-details-sub-title">This promotional is applicale for those living in the East Coast </div>


    </div>

    <!--Product Detail_Tabular Lists with Header-->
    <!-- <div class="product-details-content-container">
        <div class="product-detail-section-header">
            <span>Section Header (Loop as Necessary)</span>
        </div>

        <hr/>

        <div class="tabular-list">
            <div class="tabular-row">
                <span class="float-left">List Item</span>
                <span class="float-right">Data Unit</span>
            </div>
            <div class="tabular-row">
                <span class="float-left">List Item</span>
                <span class="float-right">Data Unit</span>
            </div>
            <div class="tabular-row">
                <span class="float-left">List Item</span>
                <span class="float-right">Data Unit</span>
            </div>
            <div class="tabular-row">
                <span class="float-left">List Item</span>
                <span class="float-right">Data Unit</span>
            </div>
        </div>
    </div> -->

    <!--Product Detail_Tabular Lists with Header_V2-->
    <div *ngIf="kawkawVariable == 'ECEMB'" class="product-details-content-container">
      <div class="product-detail-section-header">
        <span>Select one of the 3 reload bonuses</span>
      </div>

      <hr/>
      <div  class="bounce-cards-container">
        <div  *ngFor="let item of planDetailsName;let i = index"  (click)="addCssSub(i)" [ngClass]="{'selected': i==subIndexValue}" class="bounce-card  text-center">{{item}}</div>
      </div>
    </div>

    <!--Product Detail_Section Header + Voucher Code + CTA-->
    <!-- <div class="product-details-content-container" >
        <div class="product-detail-section-header-bold">
            <span>Voucher Code</span>
        </div>
        <hr/>

        <div class="voucher-code-copy">
            <div class="voucher-code text-center">
                <span>91dLA48</span>
            </div>

            <div class="voucher-code-copy-btn text-center">
                <button ion-button class="default-button ">
        <span>Copy Code</span>
      </button>
            </div>


        </div>

    </div> -->

    <!-- oleole -->
    <!--Product Detail_Section Header + Supporting Text-->
    <!-- <div class="product-details-content-container">
        <div class="product-detail-section-header-bold">
            <span>Sent by: 019-888-8888</span>
        </div>
        <hr/>

        <div class="product-detail-supporting-text">
            Message: “I have nothing better to type here but using it anyway”.
        </div>

    </div> -->

    <!--Product Detail_Section Header + Amount Cards-->
    <div class="product-details-content-container" *ngIf="isOleole">
      <div class="product-detail-section-header-bold">
        <span>Voucher Amounts</span>
      </div>
      <hr/>
      <!-- <div class="product-detail-supporting-text"> {{oleoleGiftPartnerList.voucher_description}}

      </div> -->

      <ion-scroll class="internet-card-container" scrollX="true">
        <div *ngFor="let giftVoucherList of oleoleGiftPartnerList?.plan" (click)="voucherPlan(giftVoucherList)">
          <div class="internet-card float-left">
            <span class="internet-card-subtitle">{{giftVoucherList.PLAN_AMOUNT}}</span>
          </div>
          <!-- <div class="internet-card selected float-left">
              <span class="internet-card-subtitle">RM 50</span>
          </div>
          <div class="internet-card float-left">
              <span class="internet-card-subtitle">RM 30</span>
          </div>
          <div class="internet-card float-left">
              <span class="internet-card-subtitle">RM 30</span>
          </div> -->
        </div>
      </ion-scroll>
    </div>

    <!--Product Detail_Call to Action_Toggle-->
    <div  class="product-details-content-container" *ngIf="isOleoleSuscription && !isOleole">

      <div class="product-details-call-action-toggle">
        <div class="title">OleOle (Gifting Service)</div>
        <!-- <ion-toggle [(ngModel)]="showGiftContainer" class="default-toggle float-right"></ion-toggle> -->

        <div class="buy-gift-container" [hidden]="!showGiftContainer">
          <form #oleoleGiftForm="ngForm">
            <div class="buyGift">
              <ion-item no-padding>
                <ion-select [(ngModel)]="gift_request" class="full-width-select" select interface="popover" placeholder="Gift Type" name="gift_request" id="gift_request" (ionChange)="handleKeyDone($event,oleoleGiftForm.controls.gift_request?.valid,oleoleGiftForm.controls.numberToSendAndGet?.valid,'yes')" required ngModel>
                  <ion-option value="" selected disabled>Gift Type</ion-option>
                  <ion-option value="buy_gift_for">Send e-Gift</ion-option>
                  <ion-option value="request_gift_from">Request e-Gift</ion-option>
                  <ion-option *ngIf="WhenShowOption" value="buy_for_self">Buy for Myself</ion-option>
                </ion-select>
                <!-- <i item-end class="arrow-down-icon"> </i> -->
              </ion-item>
            </div>

            <ion-item no-padding *ngIf="isSelf">
              <ion-input type="tel" [(ngModel)]="numberToSendAndGet" placeholder="E.g. 019 199 1919" value="" maxlength="11" minlength="10" (keyup)="handleKeyDone($event,oleoleGiftForm.controls.gift_request?.valid,oleoleGiftForm.controls.numberToSendAndGet?.valid,'no')" (keyup.enter)="handleKeyDone($event,oleoleGiftForm.controls.gift_request?.valid,oleoleGiftForm.controls.numberToSendAndGet?.valid,'no')" name="numberToSendAndGet" id="numberToSendAndGet" required ngModel ></ion-input>
              <i item-end class="contact-folder-icon" (click)="pickUpNumber($event,oleoleGiftForm.controls.gift_request?.valid,oleoleGiftForm.controls.numberToSendAndGet?.valid)" > </i>
            </ion-item>

            <!-- Gift Type - {{oleoleGiftForm.controls.gift_request?.valid}}
            MSISDN - {{oleoleGiftForm.controls.numberToSendAndGet?.valid}} -->
          </form>

          <ion-item class="buy-gift-text-area" no-padding *ngIf="isSelf">
            <ion-textarea placeholder="“Type your personalized message here”" [(ngModel)]="personalizedMessage" value="" (keyup)="handleKeyDone($event,oleoleGiftForm.controls.gift_request?.valid,oleoleGiftForm.controls.numberToSendAndGet?.valid,'no')" (keyup.enter)="handleKeyDone($event,oleoleGiftForm.controls.gift_request?.valid,oleoleGiftForm.controls.numberToSendAndGet?.valid,'no')" ></ion-textarea>
          </ion-item>

          <div *ngIf="!WhenShowOption" class="inform-message">*
            {{ (gift_request != 'buy_gift_for' && gift_request != 'undefined' && gift_request != undefined) ? 'RM 0.20': 'RM 0.50'}}
            will be charged for this transaction.</div>
        </div>
      </div>

    </div>
  </div>


  <div *ngIf="isOleoleSuscription && !isOleole" class="button-container" ion-fixed>
    <button [disabled]="isOleoleProductEnable" (click)="requestGift()" ion-button class="default-button">
      <!-- Request Gift  -->
      Next
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>

  <div *ngIf="kawkawVariable == 'kawkaw'" class="button-container" ion-fixed>
    <!-- <a class="text-center">Also valid in the following countries <i class="arrow-forward-icon"></i></a> -->
    <button [disabled] = "checkKawKaw"  (click)="SubScribe()"  ion-button class="default-button">
      Subscribe
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>

  <div *ngIf="kawkawVariable == 'ECEMB'"   class="button-container" ion-fixed>
    <!-- <a class="text-center">Also valid in the following countries <i class="arrow-forward-icon"></i></a> -->
    <button  (click)="Claim()"  [disabled] = "reloadbouns" ion-button class="default-button">
      Claim
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>


</ion-content>
