page-logout {

  .content {
    background-image: linear-gradient(180deg, #20D3D3 0%, #199BDB 100%);
  }

  .logout-page-container {

    position: relative;
    height: 100%;

    .logo-title-container {
      padding-top:50%;

      .celcom-logo {
        height: 81px;
        width: 161px;
        margin-bottom: 18px;

      }

      .welcome-title {
        /* Welcome back to your: */
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 20px;
      }
    }



    .login-button-container {

      position: absolute;
      bottom: 0px;
      left: 0;
      text-align: center;
      width: 100%;

      button{
        width: 100%;
        margin: auto;
      }
      .login-network-btn{
        /* Rectangle 9: */
        opacity: 0.95;
        background: #FFFFFF;
        border-radius: 100px;
        /* Login with Network: */
        font-size: 18px;
        color: #009ADE;
        letter-spacing: 0;
        line-height: 18px;
        margin-bottom: 15px;

      }
      .login-otp-btn {
        /* Rectangle 9: */
        border: 2px solid #FFFFFF;
        border-radius: 100px;
        /* Login with OTP: */
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 18px;
        background: transparent;
      }
    }
  }


}
