page-credit-advance {
    .internet-card-container {
        .internet-card {
            .internet-card-subtitle {
                font-size: 24px;
                height: 60px;
                padding: 15px 0;
            }
        }
    }
    .service-fee {
        font-size: 12px;
        color: #666;
        padding: 5px 16px 5px;
    }
    .button-container {
        position: absolute;
        width: 100%;
        bottom: 15px;
        padding: 0 16px;
        span {
            width: 100%;
            display: inline-block;
            margin: 10px 0;
            font-size: 12px;
            color: #333;
        }
        .default-button {
            width: 100%
        }
    }
}