page-rewards {
    .content {
        background: url(../assets/img/normal_page_bg.jpg) no-repeat !important;
        background-size: 100% auto !important;
    }
    .tab-buttons-container {
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        background: #fff;
        .tab-buttons {
            span {
                font-size: 14px;
                color: #333333;
                letter-spacing: 0;
                text-transform: none;
            }
        }
        .indicator {
            background: $primary-Color;
        }
    }
    super-tab-button.title-only.selected {
        span {
            color: $primary-Color;
            font-family: $font-familyBold;
        }
    }
}

.XPAX page-rewards {
    .content {
        background: url(../assets/img/detailed_usage_card_bg_xpax.png) no-repeat !important;
        background-size: 100% auto !important;
    }
    .tab-buttons-container {
        .indicator {
            background: $XPAX-primary-Color;
        }
    }
    super-tab-button.title-only.selected {
        span {
            color: $XPAX-primary-Color;
        }
    }
}