<!--
  Generated template for the ProductDetailsDesignGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Offer Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <!--Product Detail_Image Container-->
  <!-- <div class="product-detail-img-container">
    <img src="./assets/img/16_9_blank_img.png">
  </div> -->

  <div class="page-container" *ngIf="type == 'offer'">
    <!--Product Detail_Title-->
    <div class="product-details-content-container">
      <div class="product-detail-title">{{offer[0].OfferSDesc}}</div>

      <div class="product-detail-supporting-text">
          <p>{{offer[0].OfferLDesc}}</p>
        </div>

        <div class="product-detail-section-header">
            <span>Offer details</span>
          </div>
    
          <hr/>
    
          <div class="tabular-list">
            <div class="tabular-row">
              <span class="float-left">Offer name</span>
              <span class="float-right">{{offer[0].Offername}}</span>
            </div>
            <div class="tabular-row">
              <span class="float-left">Merchant name</span>
              <span class="float-right">{{offer[0].Merchantname}}</span>
            </div>
            <div class="tabular-row">
                <span class="float-left">Type</span>
                <span class="float-right">{{offer[0].RedeemType}}</span>
              </div>
            <div class="tabular-row">
              <span class="float-left">Status</span>
              <span class="float-right">{{offer[0].OfferStatus}}</span>
            </div>
            <div class="tabular-row">
              <span class="float-left">Expiry date</span>
              <span class="float-right">{{DataAlignment(offer[0].EXPIRYDATE)}}</span>
            </div>
          </div>
          <div class="custom-section">
              <div class="title">Validity</div>
              <p>{{offer[0].Offervalidity}}</p>
            </div>
      
            <div class="custom-section">
              <div class="title">Location</div>
              <p>{{offer[0].OfferLocation}}</p>
            </div>
    </div>

    




  </div>

  <div class="page-container" *ngIf="type=='redeem'">
      <!--Product Detail_Title-->
      <div class="product-details-content-container">
        <div class="product-detail-title">{{offer[0].RedeemShortDesc}}</div>
        <div class="product-detail-supporting-text">
            <p>{{offer[0].RedeemLongDesc}}</p>
          </div>

          <div class="product-detail-section-header-bold">
              <span>Voucher Code</span>
            </div>
            <hr/>
      
            <div class="voucher-code-copy">
              <div class="voucher-code text-center">
                <span>{{offer[0].Vouchercode}}</span>
              </div>
      
              <div class="voucher-code-copy-btn text-center">
                <button ion-button class="default-button" (click)="copyVoucherCode()"><span>Copy Code</span></button>
              </div>
      
      
            </div>
            <div class="product-detail-section-header">
                <span>Offer details</span>
              </div>
        
              <hr/>
        
              <div class="tabular-list">
                  <div class="tabular-row">
                    <span class="float-left">Offer name</span>
                    <span class="float-right">{{offer[0].Redeemname}}</span>
                  </div>
                  <div class="tabular-row">
                    <span class="float-left">Merchant name</span>
                    <span class="float-right">{{offer[0].Merchantname}}</span>
                  </div>
                  <div class="tabular-row">
                      <span class="float-left">Type</span>
                      <span class="float-right">{{offer[0].RedeemType}}</span>
                    </div>
                  <div class="tabular-row">
                    <span class="float-left">Effective date</span>
                    <span class="float-right">{{offer[0].EFFECTIVEDATE}}</span>
                  </div>
                  <div class="tabular-row">
                    <span class="float-left">Expiry date</span>
                    <span class="float-right">{{DataAlignment(offer[0].EXPIRYDATE)}}</span>
                  </div>
                </div>
                <div class="custom-section">
                    <div class="title">Validity</div>
                    <p>{{offer[0].Redeemvalidity}}</p>
                  </div>
            
                  <div class="custom-section">
                    <div class="title">Location</div>
                    <p>{{offer[0].RedeemLocation}}</p>
                  </div>
      </div>
  
    

  
    </div>


  <div *ngIf="type=='offer'" class="button-container" ion-fixed >

    <button ion-button class="default-button" (click)="redeemVoucher()">
      Redeem
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>


</ion-content>
