
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

        <ion-title>Store Detail</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="page-container">
        <div id="store-map-modal" class="store-map">
        </div>

        <div class="store-info">
            <div class="store-title">{{storeInfo.store_name}}</div>
            <div class="store-desc">
                <p>{{storeInfo.address}}</p>
            </div>
        </div>

        <div class="store-schedule">
            <div class="title">Opening Hours</div>
            <ion-select interface="popover" placeholder="Select Time" [(ngModel)]="operating_hours_info" class="full-width-select">
                <ion-option *ngFor="let info of storeInfo.operating_hours.split(','); let i=index" value="{{i}}">{{info}}</ion-option>
            </ion-select>
        </div>

        <div class="store-service-details" [ngx-scroll-to]="'#destination'" [hidden]="!serviceDetailsHidden" *ngIf="storeInfo.service_details" (click)="toggleServiceDetails()">
            <div class="title">Service details</div>
            <i class="arrow-down-icon float-right"></i>
        </div>

        <div class="store-service-details" [hidden]="serviceDetailsHidden" *ngIf="storeInfo.service_details" (click)="toggleServiceDetails()">
            <div class="title">Service details</div>
            <i class="arrow-up-icon float-right"></i>
            <p *ngFor="let info of storeInfo.service_details.split(',')">{{info}}</p>
        </div>

        <div id="destination"></div>
    </div>
   <!--action on this button is not yet implemented -->
    <div class="button-container" (click)="openNavigator()">
        <button ion-button class="default-button">
      Directions
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
    </div>
</ion-content>
