<!--
  Generated template for the CreditAdvancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
        <ion-scroll class="internet-card-container" scrollX="true">
            <div  *ngFor="let cards of cardArray; let i = index" (click)="addCss(i)" [ngClass]="{'selected': i==indexValue}" class="internet-card float-left">
                <span class="internet-card-subtitle">
                    RM {{cards.DenomValue}}
                </span>
            </div>
            
        </ion-scroll>
        <span class="service-fee">*Service Fee RM 0.50</span>
    
        <div class="button-container">
            <span class="text-center">All charges are inclusive 6% GST</span>
            <button class="default-button" (click)="confirmAdvance()" [disabled]="nextDisable">Next</button>
            <!-- <button class="default-button" (click)="creditAdvanceTransaction()">Call To Action Transaction</button> -->
        </div>
    
    </ion-content>