<!--
  Generated template for the MyDealsCardsStyleGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle ion-button="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Deals Cards Style Guide</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <!-- 1. Colured background+Imagery -->

  <div class="my-deal-card">
    <div class="card-content background-color-teal background-color-xpax-gradient-1">
      <img src="./assets/img/my-deals-card-1.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content background-color-nandor background-color-xpax-gradient-2">
      <img src="./assets/img/my-deals-card-1-2.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content background-color-norway background-color-xpax-gradient-3">
      <img src="./assets/img/my-deals-card-1-3.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>


  <!--2. Icons Gradient-->

  <div class="my-deal-card">
    <div class="card-content background-color-rose background-color-xpax-gradient-1">
      <img src="./assets/img/my-deals-card-2.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content background-color-sea-buckthorn background-color-xpax-gradient-2">
      <img src="./assets/img/my-deals-card-2-2.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content background-color-lucky-point background-color-xpax-gradient-3">
      <img src="./assets/img/my-deals-card-2-3.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>


<!--3. Product placement on coloured background-->

  <div class="my-deal-card">
    <div class="card-content neutral-colour-xpax-white background-color-grey-5 background-color-xpax-gradient-4 neutral-colour">
      <img src="./assets/img/my-deals-card-3.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content neutral-colour-xpax-white background-color-grey-5 background-color-xpax-gradient-5 neutral-colour">
      <img src="./assets/img/my-deals-card-3-2.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content neutral-colour-xpax-white background-color-grey-5 background-color-xpax-gradient-6 neutral-colour">
      <img src="./assets/img/my-deals-card-3-3.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>


  <!--4. Existing product branding-->

  <div class="my-deal-card">
    <div class="card-content neutral-colour">
      <img class="background-img" src="./assets/img/my-deals-card-4.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content neutral-colour-xpax-white">
      <img class="background-img" src="./assets/img/my-deals-card-4-xpax.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>


<!--5. Partnership product -->

  <div class="my-deal-card">
    <div class="card-content ">
      <div class="background-overlay">
        <img class="background-img" src="./assets/img/my-deals-card-5.png"/>
        <img class="background-overlay" src="./assets/img/my-deals-card-5-overlay.png" >
        <img class="card-icon" src="./assets/img/my-deals-spotify-icon.png">
        <div class="title">Promo title</div>
        <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
        <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
      </div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content ">
      <div class="background-overlay">
        <img class="background-img" src="./assets/img/my-deals-card-5.png"/>
        <img class="background-overlay" src="./assets/img/my-deals-card-5-overlay.png" >
        <img class="card-icon" src="./assets/img/my-deals-netflex-icon.png">
        <div class="title">Promo title</div>
        <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
        <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
      </div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content ">
      <div class="background-overlay">
        <img class="background-img" src="./assets/img/my-deals-card-5.png"/>
        <img class="background-overlay" src="./assets/img/my-deals-card-5-overlay.png" >
        <img class="card-icon" src="./assets/img/my-deals-youtube-icon.png">
        <div class="title">Promo title</div>
        <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
        <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
      </div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>



  <!--Hint-->
  <div style="padding: 16px">

    <b>Hint: </b>

    <p>To change color of card background you should change class name start with "background-color-*" on div of "card-content"</p>

    <div>You can choose from below class names</div>
    <p>

      <b>For Calecom Theme</b>
      <br>
      background-color-teal<br>
      background-color-crown-of-thorns<br>
      background-color-desert<br>
      background-color-shadow<br>
      background-color-bison-hide<br>
      background-color-norway<br>
      background-color-nandor<br>
      background-color-celtic<br>
      background-color-nile-blue<br>
      background-color-tory-blue<br>
      background-color-grey-5<br>
      background-color-my-sin<br>
      background-color-sea-buckthorn<br>
      background-color-chelsea-gem<br>
      background-color-rose<br>
      background-color-french-rose<br>
      background-color-medium-red-violet<br>
      background-color-maroon-flush<br>
      background-color-lucky-point<br>

      <br>
      <br>

      <b>For Xpax Theme</b>
      <br>
      background-color-xpax-gradient-1<br>
      background-color-xpax-gradient-2<br>
      background-color-xpax-gradient-3<br>
      background-color-xpax-gradient-4<br>
      background-color-xpax-gradient-5<br>
      background-color-xpax-gradient-6<br>
    </p>

  </div>
</ion-content>
