page-style-guide {
    .code-div {
        display: block;
        background-color: #ddd;
        padding: 15px;
        border: 1px #ccc solid;
        border-radius: 10px;
    }
    .dropdown-numbers {
        background: rgba(52, 0, 52, 0.18);
        border-radius: 100px;
        width: 240px;
        margin: 15px auto 0px;
        padding: 0 12px;
        height: 46px;
        text-align: center;
        position: relative;
        .item {
            padding: 0;
            background-color: transparent;
            min-height: auto;
            .item-inner {
                padding: 0;
                border: 0;
                min-height: auto;
            }
        }
        .select {
            padding: 12px 0;
            margin: 0;
            max-width: 100%;
            width: 100%;
            .select-text {
                color: #fff;
                font-family: $font-familyBold;
                font-size: 18px;
                line-height: 22px;
                height: 22px;
                padding-left: 22px;
            }
            .select-icon {
                display: none;
            }
        }
        i {
            background-color: #fff;
            position: absolute;
            top: 18px;
            right: 32px;
            z-index: 5;
        }
    }
}
