page-splashscreen {
    background-image: linear-gradient(136deg, #20D3D3 0%, #199BDB 100%);
    .content {
        background: #FFF;
    }
    .page-splash-screen {
        background: url(../assets/img/splash-animation.gif);
        background-position: center center;
        background-size: 300%;
    }
    .logo-login {
        display: block;
        height: 100%;
        width: 147px;
        margin: 0 auto;
        padding: 53% 0 0;
        background-color: #fff;
    }
    .terms_cond {
        width: 85%;
        margin: 0 auto;
        color: #333;
        font-size: 12px;
        padding: 0 0 24px;
        min-height: auto;
        .checkbox {
            margin: 0px 10px 0px 2px !important;
            border-color: #009ade;
            .checkbox-icon {
                border-radius: 3%;
                border-color: rgba(1, 1, 1, 0.54);
                width: 17px;
                height: 17px;
            }
        }
        .item-cover {
            width: 12%;
        }
        .item-inner {
            border-bottom: none !important;
            a {
                color: #009ADE;
            }
        }
        ion-label {
            white-space: normal;
            margin: 0;
        }
    }
    .checkbox-ios .checkbox-checked .checkbox-inner {
        left: 4.3px;
        top: 0px;
        width: 7px;
        height: 13px;
        border-width: 2px;
        border-top-width: 0;
        border-left-width: 0;
    }
    .btnDivContainer {
        position: absolute;
        bottom: -125px;
        left: 0;
        text-align: center;
        width: 100%;
        background: #FFF;
        padding: 20px 0;
        button {
            width: 90%;
            margin: 0 auto;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            //box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
            border-radius: 100px;
        }
    }
}