<!--
  Generated template for the AutoBillingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <!-- <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> -->

    <ion-title>Auto Billing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <div class="content-block-actions">
    <div class="title">
      <div class="title-main float-left">Auto Billing</div>
    </div>
    
    <!-- <ion-toggle checked="false" class="default-toggle float-right"></ion-toggle> -->
    <ion-toggle [(ngModel)]="isToggled" (ngModelChange)="notify($event)" class="default-toggle float-right"></ion-toggle>

  
    <!-- <br> 
    <ion-input type="text" placeholder="•••• 1234 (Malaysia)" [(ngModel)]="isToggled" ></ion-input> -->
  </div>

  <div class="supporting-text">
      Never miss bill payments again. Just set up Auto Billing with your credit card and we’ll take care of the rest. What’s more, you’ll enjoy 5% rebate on all your bills.
      
  </div>


  <div class="rectCollapseCont" [hidden]="myVar" (click)="toggleList()">
    <div class="rectTitle">More Details</div>
    <i class="icon arrow-down-icon float-right imgShape"></i>
  </div>

  <div class="rectCollapseCont" [hidden]="!myVar" (click)="toggleList()">
    <div class="rectTitle">More Details</div>
    <i class="icon arrow-up-icon float-right imgShape"></i>

    <div class="text-container">
        More about Auto Billing
     <br>
        Auto Billing will take effect immediately when you set up of the service.
      <br>
        Deduction from your credit card account takes effect on the day of the billing cycle.
      <br>
        To revert to manual payment, Auto Billing must be turned off.
  
    </div>

  </div>


  <div class="tabular-list with-total">
    <div class="tabular-row">
      <span class="float-left">Account Number</span>
      <span class="float-right">{{billingAccountNo}}</span>
    </div>
    <div class="tabular-row">
      <span class="float-left">Mobile Number</span>
      <span class="float-right">{{dropdownNumber}}</span>
    </div>
    <!-- <button ion-button (click)="getPaymentTokenizerData()">
      Add new card
    </button> -->
    

    <div class="tabular-list-footer">
      <hr/>
      <div *ngIf="!Cardflag" class="payment-slider-visa">
        <ion-icon name="custom-reload-credit-card"></ion-icon>
        <span >{{MaskedStr}}</span>
        
     
        
        <!-- <span class="float-left">**** 1234</span>
          <span class="float-right"><a>Edit</a></span> -->
          <button (click)="presenChangeCreditModal()">
            Edit
          </button>
      </div>
      <div *ngIf="Cardflag" class="payment-slider-visa">
        <ion-icon name="custom-reload-credit-card"></ion-icon>
        <span *ngIf="!myflag">No available card</span>
        <span *ngIf="myflag">Use new card</span>
        <!-- <span class="float-left">**** 1234</span>
          <span class="float-right"><a>Edit</a></span> -->
          <button (click)="getPaymentTokenizerData()">
            Add
          </button>
      </div>

    </div>


  </div>


</ion-content>
