<!--
  Generated template for the TransactionHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Transaction History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="title-container">
    <span class="float-left">Mobile Number</span>
    <span class="float-right">{{MobileNumber}}</span>
  </div>

<super-tabs *ngIf="Prepaid">
    <super-tab  title="Credit Transactions" [root]="transactionTab"></super-tab>
    <super-tab  title="Reload" [root]="billPaymentTab"></super-tab>
</super-tabs>
<super-tabs *ngIf="PostPaid">
    <super-tab title="Transactions" [root]="transactionTab"></super-tab>
    <super-tab title="Bill Payment" [root]="billPaymentTab"></super-tab>
</super-tabs>


</ion-content>
