<!--
  Generated template for the GbShareAllocatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- 
<ion-header>

    <ion-navbar hideBackButton="true">
        <button class="gb-back-button" (click)="goToRoot()">
            <i class="arrow-backward-icon"></i>
        </button>

        <ion-title>GB Share</ion-title>
    </ion-navbar>

</ion-header> -->
<ion-header>
    
        <ion-navbar>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
            <ion-title>GBshare</ion-title>
        </ion-navbar>
    
    </ion-header>

<ion-content [class.isCapZone]="isCapZone()">
       <div class="cap-zone-warining">
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    <ion-card-header>
                        <span>CALL BARRED</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span>Call Barring is now in effect. You can only receive calls. Outgoing calls, SMS and Internet is unavailable until after you've settled your bill</span>
                    </ion-card-content>
                </ion-col>
                <ion-col col-2 class="text-center">
                    <div class="cap-zone-icon"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div #overlay></div>
    <div class="content-container">
        <div class="primary-title">
            <div class="card-img">
                <i class="gp-share-allocate-icon icon"></i>
            </div>
            <div class="card-title single-title">
                <div class="main">Allocated Sharing</div>
            </div>
        </div>
         <div class="supporting-text">
          Allocated Sharing Allocated Sharing lets you allocate the amount of data each GBshare line is allowed to use monthly. 
        </div>

        <button ion-button class="custom-button" (click)="pushPage()">Switch to Group Sharing</button>
    </div>

    <div class="content-banner">
        <span>Total Pool</span>
    </div>


    <div class="content-container">
        <page-usage-indicator [value]="finalValue" [minValue]="0" [maxValue]="totalInitialAmount" [expiryDate]="expairyDateTime" [hideProgressBar]="false" [unit]="GB"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">{{finalValue}} GB<span> Unallocated</span></span>
            </div>
        </div>

    </div>
  

    <div class="allocate-content">
        <div class="content-banner">
            <span>Individual Allocation</span>
        </div>

        <div class="content-container"  *ngFor="let item of ArrayObject;let i = index">

            <div id=a{{item.PrimaryIdentity}} class="gb-item-container">
                <div class="primary-title small">
                    <div class="card-img small">
                        <i class="combined-share-icon icon"></i>
                    </div>
                    <div class="card-title small single-title">
                        <div class="main">{{item.PrimaryIdentity}}</div>
                    </div>
                </div>
                <ion-item>
                    <ion-range  [disabled]="callBar"  (ionChange)="onClick(item)" class="gb-slider-bar" [min]="0" [max]="unitAvailable"  [(ngModel)]="item.ShareLimit" color="secondary" pin="true">
                        <ion-label class="gb-slider-label" range-left>0 GB</ion-label>
                        <ion-label class="gb-slider-label" range-right>{{unitAvailable}} GB</ion-label>
                    </ion-range>
                </ion-item>
                <div class="availability-and-usage">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 class="col-right-border">
                                <button class="gb-cancel" (click)="cancel(item,i)">Cancel</button>
                            </ion-col>
                            <ion-col col-6>
                                <button class="gb-save" (click)="save(item,i)">Save Changes</button>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>
            
        </div>
    </div>
    <div class="button-container">
        <button (click)="interNetAddOn()"  [disabled]="callBar" ion-button class="default-button">
          Buy More Internet
          <i class="XPAX-Right-Bubble"></i>
          <i class="XPAX-Left-Bubble"></i>
        </button>
    </div>

    <!-- <div id=a{{sliderModel2.number}} class="gb-item-container">
            <div class="primary-title small">
                <div class="card-img small">
                    <i class="combined-share-icon icon"></i>
                </div>
                <div class="card-title small single-title">
                    <div class="main">{{sliderModel2.number}}</div>
                </div>
            </div>
            <ion-item>
                <ion-range (ionChange)="onClick(sliderModel2)" class="gb-slider-bar" min="1" max="999" [(ngModel)]="sliderModel2.value" color="secondary" pin="true">
                    <ion-label class="gb-slider-label" range-left>0 GB</ion-label>
                    <ion-label class="gb-slider-label" range-right>999 GB</ion-label>
                </ion-range>
            </ion-item>
            <div class="availability-and-usage">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6 class="col-right-border">
                            <button class="gb-cancel" (click)="cancel(sliderModel2)">Cancel</button>
                        </ion-col>
                        <ion-col col-6>
                            <button class="gb-save" (click)="save(sliderModel2)">Save Changes</button>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </div>
        </div>
        <div class="divider">
            <hr/>
        </div> -->

</ion-content>



<!-- <ion-item>
        <ion-range class="gb-slider-bar" min="1" max="999" [(ngModel)]="saturation" color="secondary" pin="true">
            <ion-label class="gb-slider-label" range-left>0 GB</ion-label>
            <ion-label class="gb-slider-label" range-right>999 GB</ion-label>
        </ion-range>
    </ion-item> -->
