<!--
  Generated template for the OleoleGiftsRecievedListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>OleOle Gifts Received List</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>


    <ion-card (click)="goToProductDetails()">

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals.png">
            <div class="card-content">


                <ion-card-content>
                    <span>GIFT_NAME_TITLE</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end>
      <span>Primary CTA</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>

    </ion-card>

    <ion-card (click)="goToProductDetails()">

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals2.png">
            <div class="card-content">


                <ion-card-content>
                    <span>GIFT_NAME_TITLE</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end>
      <span>Primary CTA</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
    </ion-card>
    <ion-card (click)="goToProductDetails()">

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals.png">
            <div class="card-content">


                <ion-card-content>
                    <span>GIFT_NAME_TITLE</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end>
            <span>Primary CTA</span>
            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
          </button>
    </ion-card>
    <ion-card (click)="goToProductDetails()">

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals2.png">
            <div class="card-content">


                <ion-card-content>
                    <span>GIFT_NAME_TITLE</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end>
                  <span>Primary CTA</span>
                  <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                </button>
    </ion-card>
    <ion-card (click)="goToProductDetails()">

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals.png">
            <div class="card-content">


                <ion-card-content>
                    <span>GIFT_NAME_TITLE</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end>
                        <span>Primary CTA</span>
                        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                      </button>
    </ion-card>
    <ion-card (click)="goToProductDetails()">

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals2.png">
            <div class="card-content">


                <ion-card-content>
                    <span>GIFT_NAME_TITLE</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end>
                              <span>Primary CTA</span>
                              <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                            </button>
    </ion-card>
    <ion-card (click)="goToProductDetails()">

        <div class="card-container">
            <img class="img-abs" src="./assets/img/mydeals.png">
            <div class="card-content">


                <ion-card-content>
                    <span>GIFT_NAME_TITLE</span>
                </ion-card-content>


            </div>

        </div>
        <button clear ion-button icon-end>
                                    <span>Primary CTA</span>
                                    <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                                  </button>
    </ion-card>




</ion-content>