<!--
  Generated template for the first-style-select-type-page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lifestyle Privileges</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="header-title">
    Choose how you'd like to enjoy your Lifestyle Privileges
  </div>

  <div class="privilege-card" *ngFor="let item of privilegeCards;let i = index">
    <div class="privilege-card-desc">
      <p>{{item.card_desc}}</p>
    </div>
    <div class="call-to-action" (click)="openOneOffPage()">
      View Brands <i class="arrow-forward-icon"></i>
    </div>

    <div class="present-button text-center" (click)="addCss(i)" [ngClass]="{'selected': i==indexValue}">
      <i class="{{item.icon}}"></i>
      <div>{{item.type}}</div>
    </div>
  </div>
  <!-- <div class="privilege-card">
    <div class="privilege-card-desc">
      <p>Selecting this option lets you enjoy this privilege only once during your 12-months contract.</p>
    </div>
    <div class="call-to-action" (click)="openOneOffPage()">
      View Brands <i class="arrow-forward-icon"></i>
    </div>

    <div class="present-button text-center">
      <i class=" calendar-icon "></i>
      <div>One off Privilege</div>
    </div>
  </div> -->
  <!-- <div class="privilege-card">
    <div class="privilege-card-desc">
      <p>Selecting this option lets you enjoy this privilege only once during your 12-months contract.</p>
    </div>
    <div class="call-to-action">
      Call to Action <i class="arrow-forward-icon"></i>
    </div>

    <div class="present-button text-center">
      <i class=" calendar-icon "></i>
      <div>One off Privilege</div>
    </div>
  </div> -->


  <div class="button-container" ion-fixed>
    <button ion-button class="default-button" (click)="goToOptIn()">
      Proceed
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>
</ion-content>
