page-first-style-select-type {

  .content {
    background: url("../assets/img/normal_page_bg.jpg");
    background-size: 100% auto;
  }

  .scroll-content {
    padding-bottom: 76px;
  }


    .header-title {
      padding: 16px;

      font-size: 18px;
      color: #333333;
      line-height: 24px;
    }
    .privilege-card {
      background: white;
      padding: 16px;
      border-bottom: 1px solid #CCCCCC;

      .privilege-desc {
        font-size: 16px;
        color: #333333;
        line-height: 20px;
      }

      .call-to-action {
        color: $primary-Color;
        margin-bottom: 10px;
        i {
          width: 10px;
          height: 10px;
          background-color: $primary-Color;
        }
      }

      .present-button {

        padding: 15px;
        color: #333333;
        box-shadow: inset 0 1px 0 0 #E6E6E6;
        border: 1px solid #CCCCCC;
        border-radius: 8px;
        font-size: 16px;

        letter-spacing: 0;
        line-height: 20px;

        &.selected {
          background: #009ADE;
          color: #FFFFFF;
          font-family: $font-familyBold;

          i {
            background-color: white;
          }
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
        }

        i {
          background-color: #999;
          width: 32px;
          height: 32px;
          margin: 0 0 10px;
        }
      }
    }

  .button-container {
    z-index: 100;
    position: fixed;
    bottom: 0px;
    width: 100%;
    opacity: 0.96;
    background: #FFFFFF;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.20);
    a {
      width: 100%;
      display: inline-block;
      font-family: $font-familyBold;
      font-size: 14px;
      color: $primary-Color;
      line-height: 14px;
      padding: 10px 0 5px;
      i {
        width: 13px;
        height: 10px;
        background-color: $primary-Color;
      }
    }
    .default-button {
      width: calc(100% - 20px);
      margin: 16px 10px;
    }
  }

}
