page-gb-share {
    .content {
        //  background-image: url("../assets/img/normal_page_bg.jpg");
        //  background-size: cover;
          .cap-zone-warining {
              display: none;
          }
          &.isCapZone {
              .cap-zone-warining {
                  display: block;
                  background: #666;
                  .card-header {
                      padding: 0 6px;
                      span {
                          color: #FCBA35;
                          font-family: $font-familyBold;
                          font-size: 16px;
                      }
                  }
                  .card-content {
                      padding: 0 6px;
                      span {
                          color: #fff;
                          font-size: 12px;
                      }
                  }
                  .cap-zone-icon {
                      margin: 5px 0 0;
                  }
              }
          }
      }
    .gb-back-button {
        background: transparent;
        height: 35px;
        width: 35px;
        .arrow-backward-icon {
            background: #FFF;
            height: 25px;
            width: 15px;
        }
    }
    .content-banner {
        width: 100%;
        height: 56px;
        background: url("../assets/img/banner-bg.png");
        background-size: 100% auto;
        padding: 16px;
        span {
            font-size: 20px;
            color: #000000;
        }
    }
    .content-container {
        width: 100%;
        background-color: white;
        padding: 16px 0;
        button.custom-button {
            margin: 0 16px;
            width: calc(100% - 32px);
            background-color: transparent;
            border: 1px solid #009ADE;
            border-radius: 100px;
            .button-inner {
                font-size: 16px;
                color: #009ADE;
                letter-spacing: 0;
                line-height: 20px;
            }
        }
        i.icon {
            background: #999999 !important;
        }
        .primary-title.small {
            .card-img.small {
                .icon {
                    height: 20px;
                    width: 20px;
                }
            }
            .card-title.small {
                padding: unset;
                .main {
                    font-size: 16px;
                }
            }
        }
    }
    .button-container {
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        .default-button {
            width: calc(100% - 20px);
            margin: 16px 10px;
        }
    }
}