<!--
  Generated template for the GbSharePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

    <ion-navbar hideBackButton="true">
        <button class="gb-back-button" (click)="goToRoot()">
          <i class="arrow-backward-icon"></i>
      </button>

        <ion-title>GB Share</ion-title>
    </ion-navbar>

</ion-header> -->
<ion-header>
    
        <ion-navbar>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
            <ion-title>GBshare</ion-title>
        </ion-navbar>
    
    </ion-header>

<ion-content [class.isCapZone]="isCapZone()">
    <div class="cap-zone-warining">
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    <ion-card-header>
                        <span>CALL BARRED</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span>Call Barring is now in effect. You can only receive calls. Outgoing calls, SMS and Internet is unavailable until after you've settled your bill</span>
                    </ion-card-content>
                </ion-col>
                <ion-col col-2 class="text-center">
                    <div class="cap-zone-icon"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="content-container">
        <div class="primary-title">
            <div class="card-img">
                <i class="gp-share-icon icon"></i>
            </div>
            <div class="card-title single-title">
                <div class="main">Group Sharing</div>
            </div>
        </div>
        <div class="supporting-text">
            Group sharing lets your and each of your supplementary lines pull from a common pool of data on 'first come first served' basis. 
        </div>

        <button ion-button class="custom-button" (click)="pushPage()">Switch to Allocated Sharing</button>
    </div>

    <div *ngIf="totalInitialAmount" class="content-banner">
        <span>Total Pool</span>
    </div>


    <div  *ngIf="totalInitialAmount"  class="content-container">
        <page-usage-indicator [value]="unitAvailable" [minValue]="0+ GB" [maxValue]="totalInitialAmount+ GB" [expiryDate]="expairyDateTime" [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">{{unitAvailable}} GB<span> Available</span></span>
            </div>
        </div>

    </div>

    <!-- <div class="content-banner">
        <span>Individual Usage</span>
    </div>

    <div class="content-container">

        <div class="primary-title small">
            <div class="card-img small">
                <i class="combined-share-icon icon"></i>
            </div>
            <div class="card-title small single-title">
                <div class="main">+6019 199 1919</div>
            </div>
        </div>
        <page-usage-indicator [value]=value1 [minValue]="0" [maxValue]="999" [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">{{ maxValue - value1}}<span> Unit Available</span></span>
            </div>
        </div>
        <div class="divider">
            <hr/>
        </div>

        <div class="primary-title small">
            <div class="card-img small">
                <i class="combined-share-icon icon"></i>
            </div>
            <div class="card-title small single-title">
                <div class="main">+6019 199 1919</div>
            </div>
        </div>
        <page-usage-indicator [value]=value2 [minValue]="0" [maxValue]="999" [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">{{ maxValue - value2}}<span> Unit Available</span></span>
            </div>
        </div>
        <div class="divider">
            <hr/>
        </div>

        <div class="primary-title small">
            <div class="card-img small">
                <i class="combined-share-icon icon"></i>
            </div>
            <div class="card-title small single-title">
                <div class="main">+6019 199 1919</div>
            </div>
        </div>
        <page-usage-indicator [value]=value3 [minValue]="minValue" [maxValue]="maxValue" [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">{{ maxValue - value3}}<span> Unit Available</span></span>
            </div>
        </div>
        <div class="divider">
            <hr/>
        </div>
    </div> -->

    <div class="button-container">
        <button [disabled]="callBar"  (click)="interNetAddOn()"  ion-button class="default-button">
      Buy More Internet
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
    </div>

   

</ion-content>