<!--
  Generated template for the RewardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Rewards</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <super-tabs id="internetTab">
        <super-tab [root]="tab1Page" title="Offering"></super-tab>
        <super-tab [root]="tab2Page" title="Redeemed"></super-tab>
    </super-tabs>
</ion-content>