<!--
  Generated template for the NotificationTab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>

    <ion-card class="call-barred-card" *ngIf="callbarredCss"> 
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <div class="call-barred-icon"></div>
                </ion-col>
                <ion-col col-10>
                    <ion-card-header>
                        <span>Call Barring is now in effect.</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span>You can only receive calls. Outgoing calls, SMS and Internet are not available until after you've settled your bill.</span>
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr>
        <button *ngIf="!disablePromiseToPay" clear ion-button icon-end (click)="updateCreditLimit()">
        <span>Pay Later</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
        <button class="right-button" clear ion-button icon-end (click)="goToPayBill()">
        <span>Pay Now</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>
    <ion-card class="cap-zone-card" *ngIf="capZoneCss"> 
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <div class="cap-zone-icon"></div>
                </ion-col>
                <ion-col col-10>
                    <ion-card-header>
                        <span>You are now in CapZone.</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span>Internet speed is throttled. You have 10 SMS and 10 minutes call-time remaining.</span>
                    </ion-card-content>
                </ion-col>
            </ion-row>  
        </ion-grid>
        <hr>
        <button *ngIf="!disablePromiseToPay" clear ion-button icon-end (click)="updateCreditLimit()">
        <span>Pay Later</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
        <button class="right-button" clear ion-button icon-end (click)="goToPayBill()">
        <span>Pay Now</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>
    <ion-card *ngIf="showKawKaw">
        <div class="notification-header">
            <ion-icon name="custom-notification-header"></ion-icon>
            <span>Reload Bonus</span>
            <span class="time-stamp float-right"></span>
        </div>
        <ion-card-header>
            <span>Hey, Kaw Kaw Squad is waiting for you</span>
        </ion-card-header>
        <ion-card-content>
            <span>Hurry, join now. Awesome stuff awaits.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align" (click)="redeemKawKawBonus()">
      <span>Join Kaw Kaw Squad</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
    </ion-card>
    <!--<ion-card>
        <div class="notification-header">
            <ion-icon name="custom-notification-header"></ion-icon>
            <span>Lorem ipsum</span>
            <span class="time-stamp float-right">1 hour ago</span>
        </div>
        <ion-card-header>
            <span> Lorem ipsum</span>
        </ion-card-header>
        <ion-card-content>
            <span>Lorem ipsum dolor sit amet. consectetur adipi elit,
          sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end>
      <span>Call to Action</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
    </ion-card>-->

 <ion-card *ngIf="showValidityExtension">
        <div class="alert">
            <ion-icon name="custom-notification-alert"></ion-icon>
            <span>Credit Validity</span>
            <!--<span class="time-stamp float-right">1 hour ago</span>-->
        </div>
        <ion-card-header>
            <span>Your credit has expired.</span>
        </ion-card-header>
        <ion-card-content>
            <span>No worries, you can easily extend your credit validity.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align" (click)="gotoValidityExtension()">
      <span>Extend Validity</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>


       <!-- <button class="right-button" clear ion-button icon-end>
        <span>Call to Action</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>-->

    </ion-card>


    <!-- <ion-card *ngIf="showCreditAdvanceNotification">
        <div class="alert">
            <ion-icon name="custom-notification-alert"></ion-icon>
            <span>Credit Balance</span>
            <span class="time-stamp float-right">1 hour ago</span>
        </div>
        <ion-card-header>
            <span>Your credit is now less than RM1.</span>
        </ion-card-header>
        <ion-card-content>
            <span>Would you like some Credit Advance?</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align" (click)="gotoCreditAdvance()">
      <span>Advance Credit</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
    </ion-card> -->
     <ion-card *ngIf="showCreditExpiryNotification">
        <div class="alert">
            <ion-icon name="custom-notification-alert"></ion-icon>
            <span>Credit Validity</span>
            <!--<span class="time-stamp float-right">1 hour ago</span>-->
        </div>
        <ion-card-header>
            <span>Your credit is about to expire in {{daysLeft}} {{dayCount}}.</span>
        </ion-card-header>
        <ion-card-content>
            <span>Reload now to continue enjoying the Celcom experience.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align" (click)="gotoReload()">
      <span>Reload</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
    </ion-card>


 <ion-card *ngIf="showCreditLimitNotification">
        <div class="alert">
            <ion-icon name="custom-notification-alert"></ion-icon>
            <span>Credit Balance</span>
            <!--<span class="time-stamp float-right">1 hour ago</span>-->
        </div>
        <ion-card-header>
            <span>You've only less than RM5 credit balance left.</span>
        </ion-card-header>
        <ion-card-content>
            <span>Reload now to continue enjoying the Celcom experience.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align" (click)="gotoReload()">
      <span>Reload</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>


       <!-- <button class="right-button" clear ion-button icon-end>
        <span>Call to Action</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>-->

    </ion-card>




 <ion-card *ngIf="showInternetUsageNotification">
        <div class="alert">
            <ion-icon name="custom-notification-alert"></ion-icon>
            <span>Internet Balance</span>
            <!--<span class="time-stamp float-right">1 hour ago</span>-->
        </div>
        <ion-card-header>
            <span>You've only less than 20% Internet Balance. </span>
        </ion-card-header>
        <ion-card-content>
            <span>Reload now and keep surfing.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align" (click)="gotoReload()">
      <span>Reload</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
</ion-card>

</ion-content>