<!--
  Generated template for the OleoleCatalogueListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>OleOle Catalogue List</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>


    <div *ngFor="let listOfCatalogue of listOfPlanCatalogue;">
        <ion-card >

            <div class="card-container">
                <img class="img-abs" src="{{listOfCatalogue.imgsrc}}">
                <!-- <img class="img-abs" src="./assets/img/mydeals.png"> -->
                <!-- {{oleoleVoucherImageSrc?.name.toLowerCase()}} ==
                {{listOfCatalogue?.HEADER_TITLE.toLowerCase()}}
              
                {{oleoleVoucherImageSrc?.name.toLowerCase() == listOfCatalogue?.HEADER_TITLE.toLowerCase() ? oleoleVoucherImageSrc.imgSrc : './assets/img/mydeals.png'}} -->
                <div class="card-content">

                    <ion-card-content>
                        <!-- <span>{{listOfCatalogue.HEADER_TITLE}}</span> -->
                    </ion-card-content>
                </div>

            </div>
            <button clear ion-button icon-end (click)="goToProductDetails(listOfCatalogue)">
                <span >View</span>
                <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
            </button>

        </ion-card>
    </div>

        <!-- <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals2.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
        <span>Primary CTA</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
        </ion-card>
        <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
                <span>Primary CTA</span>
                <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
            </button>

        </ion-card>
        <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals2.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
                    <span>Primary CTA</span>
                    <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                    </button>
        </ion-card>
        <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
                            <span>Primary CTA</span>
                            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                        </button>

        </ion-card>
        <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals2.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
                                <span>Primary CTA</span>
                                <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                                </button>
        </ion-card>
        <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
                                        <span>Primary CTA</span>
                                        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                                    </button>

        </ion-card>
        <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals2.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
                                            <span>Primary CTA</span>
                                            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                                            </button>
        </ion-card>
        <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
                                                    <span>Primary CTA</span>
                                                    <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                                                </button>

        </ion-card>
        <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals2.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
                                                        <span>Primary CTA</span>
                                                        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                                                        </button>
        </ion-card>
        <ion-card (click)="goToProductDetails()">

            <div class="card-container">
                <img class="img-abs" src="./assets/img/mydeals.png">
                <div class="card-content">


                    <ion-card-content>
                        <span>GIFT_NAME_TITLE</span>
                    </ion-card-content>


                </div>

            </div>
            <button clear ion-button icon-end>
                                                                <span>Primary CTA</span>
                                                                <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
                                                            </button>

        </ion-card> -->

</ion-content>