
<ion-header>
    <ion-navbar>
        <ion-title>Speed Test</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h2 class="text-center">{{status}}</h2>
    <div class="gauge-cont">
        <div class="gaugeContainer">
            <raphael-drawer-speed-test [value]="speedTestOj"></raphael-drawer-speed-test>
        </div>
    </div>
    <div class="speed-values-cont">
        <ion-grid class="speed-values">
            <ion-row>
                <ion-col col-4 class="has-side-border">
                    <label class="lbl-txt">Ping</label>
                    <label class="lbl-val">{{pingSpeed}}</label>
                    <label class="lbl-unit">Ms</label>
                </ion-col>
                <ion-col col-4 class="has-side-border">
                    <label class="lbl-txt">Download</label>
                    <label class="lbl-val">{{downloadSpeed}}</label>
                    <label class="lbl-unit">Mbps</label>
                </ion-col>
                <ion-col col-4>
                    <label class="lbl-txt">Upload</label>
                    <label class="lbl-val">{{uploadSpeed}}</label>
                    <label class="lbl-unit">Mbps</label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

 <div class="button-container">
    <button class="default-button" (click)="startSpeedTest()" [disabled] = "disableButton">
	{{buttonText}}
<i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>
