page-store-locator-select-store {

  .page-container {
    height: calc(100% - 80px);
    overflow: scroll;

    .full-width-select {
      width: 100%;
      max-width: 100%;
    }

    .select-region {
      width: 100%;
      padding: 16px 10px 16px 0px;
      height: 65px;

      ion-select {
        .select-text {
          font-size: 16px;
          color: $primary-Color;
          line-height: 17px;
        }

        .select-icon {
          width: 20px !important;
          height: 20px !important;

          .select-icon-inner {
            width: 16px !important;
            height: 10px !important;

            -webkit-mask-image: url('../assets/img/arrow-down.svg');
            mask-image: url('../assets/img/arrow-down.svg');

            background: $primary-Color;

          }
        }
      }

      border-bottom: 2px solid $primary-Color !important;

    }

    ion-list {
      padding-top: 10px;
      .item {
        height: 52px;
        border-bottom: 1px solid #CCCCCC !important;
        &button {
          font-size: 16px;
          color: rgba(51, 51, 51, 0.87);
          line-height: 20px;
        }
        .item-inner {
          padding-right: 10px !important;
          background-image: none !important;
        }

        i {
          background-color: #9a9a9a !important;
        }
      }
    }

  }

  .button-container {
    position: fixed;
    bottom: 0px;
    padding: 16px 0;
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    opacity: 0.96;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.20);

    button.custom-button {
      margin: 0 16px;
      width: calc(100% - 32px);
      background-color: transparent;
      border: 1px solid #009ADE;
      border-radius: 100px;
      .button-inner {
        font-size: 16px;
        color: #009ADE;
        letter-spacing: 0;
        line-height: 20px;
      }
    }

  }

}

.XPAX {
  page-store-locator-select-store {

    .select-region {
      position: relative;
      border-bottom: 2px solid $XPAX-primary-Color !important;

      ion-select {
        .select-text {
          color: $XPAX-primary-Color !important;
        }

        .select-icon {
          .select-icon-inner {
            background: $XPAX-primary-Color !important;
          }
        }
      }
    }


    button.custom-button {
      border: 1px solid $XPAX-primary-Color;

      .button-inner {
        color: $XPAX-primary-Color;
      }
    }

  }
}
