page-home {
    ion-header .toolbar-background {
        background: transparent!important;
        border-width: 0 0 0 0!important;
    }
    .has-refresher>.scroll-content {
        border-top: 0;
    }
    .dashboard-top-rect {
        background: url(../assets/img/dashboard-bar.svg) no-repeat left bottom;
        background-size: cover;
        /* width: 100%;
         height: 64px;*/
    }
    .page-home {
        .scroll-content {
            //padding: 0px 0px 50px!important;
            padding-top: 63px !important;
            margin-top: 0px !important;
        }
            
    }
    .content {
        background: url(../assets/img/dashboard-bg.png) no-repeat center top;
        background-size: cover;
        .gauge-container-id svg {
            background-color: #f2f2f2;
            border-radius: 50%;
        }
        .scroll-content {
            z-index: 10;
            .plan-details-btn {
                width: 100%;
                background-color: #fafafa;
                padding: 0;
                height: 75px;
            }
            .menu-toggle-btn {
                position: fixed;
                top: 5px;
                left: 0;
                background: transparent;
                width: 45px;
                ion-icon {
                    font-size: 1.7em;
                }
            }
        }
        .profilePicContainer {
            width: 56px;
            height: 56px;
            background-color: #fff;
            border-radius: 50%;
            padding: 2px;
            position: absolute;
            left: 18px;
            top: 25px;
            .notification {
                position: absolute;
                bottom: -6px;
                right: -2px;
                background-color: #EB005B;
                width: 20px;
                height: 20px;
                border: 1px #fff solid;
                border-radius: 50%;
                color: #fff;
                line-height: 18px;
                font-size: 10px;
            }
            img {
                width: 52px;
                height: 52px;
                border-radius: 50%;
            }
        }
        .xpaText {
            color: #FFE500;
            font-size: 14px;
            height: 18px;
            line-height: 14px;
        }
        .dashboard-top-credit {
            color: #333;
            font-size: 1.6em;
            height: 40%;
            line-height: 100%;
            font-family: $font-familyBold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .dashboard-top-number {
            color: $primary-Color;
            font-size: 18px;
            height: 40%;
            line-height: 100%;
            font-family: $font-familyBold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .dashboard-top-plan {
            color: #999;
            font-size: 12px;
            height: 20%;
            line-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .dashboard-top-plan2 {
            color: $primary-Color;
            font-size: 12px;
            height: 16px;
            line-height: 16px;
            margin-bottom: 3px;
        }
        .slides {
            height: auto;
            margin-top: 2%;
            .swiper-container {
                height: auto;
                overflow: visible;
                .swiper-pagination-bullets {
                    bottom: 15px;
                    .swiper-pagination-bullet {
                        margin: 0 3px
                    }
                }
                .swiper-slide {
                    padding: 0 30px;
                }
            }
        }
        .last-updated {
            font-size: 12px;
            color: #B5B5B5;
            height: 3%;
            line-height: 15px;
        }
        .divContainer {
            width: 100%;
            text-align: center;
            margin-top: 3%;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            .default-button {
                width: 100%;
                font-size: 16px;
                font-family: $font-familyBold;
            }
            .whitebackGround {
                background-color: white !important;
                color: black !important;
                font-size: 14px;
                background-image: none !important;
            }
            .centerFab {
                transform: translate(-50%);
                margin-left: 0!important;
                width: 50%;
                ion-fab-list {
                    width: 100%;
                }
                .ion-ios-close{
                    background: url('../assets/img/Close_Button.svg') no-repeat center center;
                    background-size: 100% 100%;
                    display: inline-block;
                    margin: 14px auto;
                    width: 18px;
                    height: 18px;
                }
                .ion-ios-close:before {
                    display: none;
                }
            }
        }
        .xpax-list {
            display: none;
        }
        .celcom-list {
            display: block;
        }
        .xpax-grid {
            display: none;
            height: 100%;
        }
        .celcom-grid {
            display: block;
            height: 100%;
        }
        .quick-links {
            margin: 3% 3% 0 3%;
            height: 17%;
            .row {
                height: 100%;
                align-items: center;
                justify-content: center;
            }
            .col {
                text-align: center;
                button {
                    width: 64px;
                    height: 48px;
                    background-color: rgba(255, 255, 255, .98);
                    border-radius: 24px;
                    display: inline-block;
                    padding: 14px 0;
                    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.10);
                    i {
                        width: 20px !important;
                        height: 20px !important;
                        background-color: #333;
                    }
                }
                label {
                    display: inline-block;
                    width: 64px;
                    margin-top: 8px;
                    line-height: 20px;
                    font-size: 14px;
                    font-family: $font-family;
                    white-space: nowrap;
                }
            }
        }
        .my-overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 20;
            top: 0;
            left: 0;
        }
    }
    .notification-button-cont {
        position: absolute;
        top: 0px;
        left: 0;
        padding: 0;
        width: 100%;
        z-index: 1;
        .notification-button {
            background-color: #fff;
            border-radius: 16px 16px 0 0;
            padding: 10px 37px 10px 30px;
            box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.05);
            width: 100%;
            ion-badge {
                margin-right: 11px;
                background-color: #EA005A;
                padding: 5px 13px;
                border-radius: 15px;
                height: 23px;
                font-size: 13px;
                line-height: 13px;
            }
            span {
                float: left;
                font-size: 16px;
                line-height: 22px;
                color: #000;
            }
            .up-icon {
                -webkit-mask-image: url('../assets/img/arrow-up.svg');
                mask-image: url('../assets/img/arrow-up.svg');
                width: 17px;
                height: 8px;
                display: inline-block;
                background-color: #000;
                margin-top: 6px;
                float: right;
            }
        }
        &.pan-up-top {
            top: 0;
            background-color: #fff;
            padding-top: 20px;
            .notification-button {
                border-radius: 0;
                padding: 10px 37px 10px 30px;
                box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.XPAX page-home {
    .dashboard-top-rect {
        background: url(../assets/img/dashboard-bar-xpax.svg) no-repeat left bottom;
        background-size: cover;
    }
    .content {
        background: url(../assets/img/dashboard-bg-xpax.png) no-repeat center top;
        background-size: cover;
        .plan-details-btn {
            background: url(../assets/img/dashboard-bg-xpax.png) no-repeat center center;
            background-size: 100%;
        }
        .gauge-container-id {
            svg {
                background-color: #fff;
                border-radius: 50%;
            }
        }
        .dashboard-top-number {
            color: $XPAX-primary-Color;
        }
        .slides .swiper-container .gaugeContainer .view-det {
            span {
                color: $XPAX-primary-Color;
            }
            i {
                background-color: $XPAX-primary-Color;
            }
        }
        .xpax-list {
            display: block;
        }
        .celcom-list {
            display: none;
        }
        .xpax-grid {
            display: block;
        }
        .celcom-grid {
            display: none;
        }
        .quick-links {
            .col {
                button {
                    background: url(../assets/img/quickLinks-btn-xpax.png) no-repeat center top;
                    i {
                        background-color: #fff;
                        &.privileges-icon {
                            width: 25px!important;
                        }
                    }
                }
            }
        }
    }
}

.ios,
.md {
    page-home {
        notification-drawer .content {
            padding: 20px;
        }
    }
}

// .ios {
//     page-home {
//         .menu-toggle-btn {
//             top: 15px!important;
//         }
//     }
// }
@media (max-width: 360px) {
    page-home {
        .balance {
            font-size: 30px!important;
            line-height: 30px!important;
            height: 30px!important;
        }
        .plan-details-btn {
            height: 15%;
        }
        .quick-links {
            button {
                width: 55px !important;
                height: 40px !important;
                border-radius: 20px !important;
                padding: 10px 0 !important;
                i {
                    width: 20px !important;
                    height: 20px !important;
                }
            }
            label {
                margin-top: 5px !important;
                font-size: 12px !important;
            }
        }
        .divContainer {
            .default-button {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 650px) {
    page-home {
        .dashboard-top-rect {
            background: url(../assets/img/dashboard-bar-tablet.svg) no-repeat left bottom;
            background-size: cover;
        }
    }
    .XPAX page-home {
        .dashboard-top-rect {
            background: url(../assets/img/dashboard-bar-tablet-xpax.svg) no-repeat left bottom;
            background-size: cover;
        }
    }
}

@media (min-width: 1000px) {
    page-home {
        .dashboard-top-rect {
            background: url(../assets/img/dashboard-bar-tablet-1024.svg) no-repeat left bottom;
            background-size: cover;
        }
    }
    .XPAX page-home {
        .dashboard-top-rect {
            background: url(../assets/img/dashboard-bar-tablet-xpax-1024.svg) no-repeat left bottom;
            background-size: cover;
        }
    }
}

.platform-android{

    ion-badge {
        line-height: 15px!important;
    }
}