<ion-content>
        <form>
    <div class="reload-container">
        <div class="phoneNumber">
            <span>Transfer to</span>
        </div>
        <ion-item class="inputItem">
            <ion-input type="number" name="phoneNumber" maxlength="11" type="tel" placeholder="E.g. 019 199 1919" [(ngModel)]='phoneNumber' (ionBlur)="checkMobileNumber()" required (keyup.enter)="handleKeyDone($event)"></ion-input>
        </ion-item>
        <div class="phoneNumber">
            <span>Amount</span>
        </div>
        <ion-item class="inputItem">
            <ion-input type="number" name="amount" maxlength="20" min="1" type="tel" (ionBlur)="checkAmount($event)" placeholder="RM 00.00" [(ngModel)]='amount' required (keyup.enter)="handleKeyDone($event)"></ion-input>
        </ion-item>
        <div class="clear-fix"></div>
        <div class="service-fees">Transaction charge RM 0.50</div>
        <div class="clear-fix"></div>
        <div class="total-bill-cont">
            <div class="total-bill float-left">
                Total charges
            </div>
            <div class="total-amount float-right">
                {{totalBillAmount}}
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="button-container">
        <button class="default-button" (click)="confirmAmount()" [disabled]="!(validNumber && validAmount)">Next</button>
    </div>
    </form>
</ion-content>