page-credit-transfer {
    .reload-container {
        background: #FFFFFF;
        width: 100%;
        border-bottom: 1px solid #CCC;
        padding: 16px;
        .phoneNumber {
            padding-top: 16px;
            span {
                font-size: 20px;
                color: #333333;
                line-height: 20px;
            }
        }
        .inputItem {
            padding-top: 16px;
            padding-left: 0px;
            .item-inner {
                border-bottom: 0.55px solid #999 ;
            }
        }
        .service-fees {
            padding: 10px 0 5px;
            font-size: 12px;
            color: #666;
            height: 37px;
            line-height: 22px;
        }
        .total-bill-cont {
            font-size: 20px;
            color: #333;
            margin-top: 20px;
            .total-bill {
                float: left;
            }
            .total-amount {
                float: right;
            }
        }
    }
    .button-container {
        position: absolute;
        width: 100%;
        bottom: 15px;
        padding: 0 16px;
        .default-button {
            width: 100%
        }
    }
}