<!--
  Generated template for the ServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
        <ion-title>Services</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="optionsTitle">Shop</div>

    <ion-list class="default-list-item">
        <button ion-item (click)="goToOleOle()">
      OleOle
       <div class="arrow-forward-icon"></div>
    </button >
       <!-- <button ion-item (click)="goToEstore()">
      E-Store
       <div class="arrow-forward-icon"></div>
    </button> -->
    </ion-list>


    <div class="optionsTitle">Self Services</div>

    <ion-list class="default-list-item">
        <button ion-item (click)="goToAutoBilling()" *ngIf="!isPrepaid && showAutobill">
            Auto Billing
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item (click)="goToCreditManage(1)" *ngIf="isPrepaid">
            Validity Extension
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item (click)="goToCreditManage(0)" *ngIf="isPrepaid">
        Credit Transfer
        <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item (click)="goToCreditManage(2)" *ngIf="isPrepaid">
        Credit Advance
        <div class="arrow-forward-icon"></div>
        </button>
        <!-- <button ion-item *ngIf="!isPrepaid">
            Manage Credit Limit (Postpaid)
            <div class="arrow-forward-icon"></div>
        </button> -->
        <button ion-item (click)="goToLatestPlan()" *ngIf="isPrepaid && (check_plan_name && (check_plan_name.indexOf('New XPAX')==-1 && check_plan_name.indexOf('Xpax Plan')==-1))" >
            Upgrade to latest plan
            <div class="arrow-forward-icon"></div>
        </button>
        
        <button ion-item (click)="goToSimReplacement()">
            SIM Replacement
            <div class="arrow-forward-icon"></div>
        </button>
    </ion-list>

</ion-content>
