<!--
  Generated template for the NetSpeedCheckPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Net Speed Check</ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding >
  <p id="msisdnText">MSISDN:{{msisdnText}}</p>
  <p id="registrationId">Registration ID:{{registrationId}}</p>
  <button id="startServiceButton" ion-button  (click)="promptForMsisdn()">Start APTUS Service</button><br/><br/>
  <button id="startServiceWithNotificationButton" ion-button (click)="promptForMsisdnWithNotification()">Start APTUS Service (with Notification)</button><br/><br/>
  
  <button id="stopServiceButton" ion-button  (click)="stopService()">Stop APTUS Service</button><br/><br/>
  <button id="sendDataButton" ion-button  (click)="sendData()">Manual Send Data</button><br/><br/>
  <button id="requestSettingsButton" ion-button  (click)="requestSettings()">Manual Settings Request</button><br/><br/>

  <br/>
  <a ion-button [navPush]="netSpeedCheckInfoPage">Open Speedtest</a>
</ion-content>