<!--
  Generated template for the PaymentMethodsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Payment Methods</ion-title>
        <div class="button-collection float-right">
            <button #editButton class="edit-button" (click)="edit()">Edit</button>
            <button #doneButton class="done-button" (click)="done()">Done</button>
        </div>
    </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf="Cardflag"  #content>
        <ion-list class="pm-list" [(ngModel)]="selectedCard" *ngFor="let item of cards;let i = index">

            <ion-item >
                <img  *ngIf="item.cardtype=='Visa'" src="./assets/img/icon-visa.png">
                <img  *ngIf="item.cardtype=='Mastercard'" src="./assets/img/icon-master.png">
                <span *ngIf="item.is_default==true"  (click)="openCard(item)">{{item.masked}} {{second}}</span>
                <span *ngIf="item.is_default==false"  (click)="openCard(item)">{{item.masked}}</span>
                <button (click)="presentsucess(i)" class="float-right">Delete</button>
            </ion-item>
            <!-- <ion-item (click)="openCard()">
                <img src="./assets/img/icon-visa.png">
                <span>.... .... 1236</span>
                <button (click)="presentsucess()" class="float-right">Delete</button>
            </ion-item>
            <ion-item (click)="openCard()">
                <img src="./assets/img/icon-master.png">
                <span>.... .... 12368</span>
                <button (click)="presentsucess()" class="float-right">Delete</button>
            </ion-item> -->
        </ion-list>
    </div>
    <div *ngIf="!Cardflag"  #content>
        <ion-item>
            <i class="no-card-icon"></i>
            <span> No Cards Added</span>
            <button class="float-right add-card-button"></button>
        </ion-item>
    </div>
</ion-content>