<!--
  Generated template for the RedeemedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>

    <ion-card>

        <div class="card-container">
            <img class="img-abs" src="./assets/img/Redeem/redeem1.png">
            <div class="card-content">
                <div>
                    <span>Promo Title</span>
                </div>
                <ion-card-content>
                    <span>Lorem ipsum dolor sit amet onsectetur</span>
                    <span class="expiry">Expiry dd/mm/yy hh:mm:ss</span>
                </ion-card-content>


            </div>

        </div>
        <button (click)="openDetails()" clear ion-button icon-end>
            <span>Call to Action</span>
             <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>
    <ion-card>
        <div class="card-container">
            <img class="img-abs" src="./assets/img/Redeem/redeem2.png">
            <div class="card-content">
                <div>
                    <span>Promo Title</span>
                </div>
                <ion-card-content>
                    <span>Lorem ipsum dolor sit amet onsectetur</span>
                    <span class="expiry">Expiry dd/mm/yy hh:mm:ss</span>
                </ion-card-content>
            </div>
        </div>
        <button (click)="openDetails()" clear ion-button icon-end>
            <span>Call to Action</span>
            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>
    <ion-card>
        <div class="card-container black-alternate">
            <img class="img-abs" src="./assets/img/Redeem/redeem3.png">
            <div class="card-content">
                <div>
                    <span>Promo Title</span>
                </div>
                <ion-card-content>
                    <span>Lorem ipsum dolor sit amet onsectetur</span>
                    <span class="expiry">Expiry dd/mm/yy hh:mm:ss</span>
                </ion-card-content>
            </div>
        </div>
        <button (click)="openDetails()" clear ion-button icon-end>
            <span>Call to Action</span>
            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>
    <ion-card>
        <div class="card-container">
            <img class="img-abs" src="./assets/img/Redeem/redeem4.png" />
            <div class="card-content">
                <div>
                    <span>Promo Title</span>
                </div>
                <ion-card-content>
                    <span>Lorem ipsum dolor sit amet onsectetur</span>
                    <span class="expiry">Expiry dd/mm/yy hh:mm:ss</span>
                </ion-card-content>
            </div>
        </div>
        <button (click)="openDetails()" clear ion-button icon-end>
            <span>Call to Action</span>
            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>
    <ion-card>
        <div class="card-container black-alternate">
            <img class="img-abs" src="./assets/img/Redeem/redeem5.png" />
            <div class="card-content">
                <div>
                    <span>Promo Title</span>
                </div>
                <ion-card-content>
                    <span>Lorem ipsum dolor sit amet onsectetur</span>
                    <span class="expiry">Expiry dd/mm/yy hh:mm:ss</span>
                </ion-card-content>
            </div>
        </div>
        <button (click)="openDetails()" clear ion-button icon-end>
            <span>Call to Action</span>
            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>
</ion-content>