<!--
  Generated template for the SubscriptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{titles}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="subscriptions-content"  [class.isCapZone]="subscriptionService.isCapZone()">
    <div class="cap-zone-warining">
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    <ion-card-header>
                        <span *ngIf="globalVar.getCapZoneStatus()">CAPZONE</span>
                        <span *ngIf="globalVar.getcallBarredStatus()">CALL BARRED</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span *ngIf="globalVar.getcallBarredStatus()">Call Barring is now in effect. You can only receive calls. Outgoing calls, SMS and Internet is unavailable until after you've settled your bill</span>
                        <span *ngIf="globalVar.getCapZoneStatus()">You are now in CapZone. Internet Speed is throttled. 10 SMS remaining, 10 minutes remaining
                            </span>
                    </ion-card-content>
                </ion-col>
                <ion-col col-2 class="text-center">
                    <div class="cap-zone-icon"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="subscription-title">
        <!-- 'Select Subcription Type' -->
        {{subtitles}}
    </div>
    <super-tabs id="subscriptionTabs" [selectedTabIndex]="selectedTab" (tabSelect)="onTabSelect($event)">
        <super-tab [root]="tab1Page" title="Internet Plans" #internet [rootParams]="tabOleoleParm" icon="custom-reload-internet"></super-tab>
        <super-tab [root]="tab2Page" title="Add-Ons" [rootParams]="tabOleoleParm" icon="custom-reload-subscription-addons"></super-tab>
        <super-tab [root]="tab3Page" title="IDD" [rootParams]="tabOleoleParm" #idd icon="custom-reload-subscription-idd"></super-tab>
        <super-tab [root]="tab4Page" title="Roaming" [rootParams]="tabOleoleParm" #roaming icon="custom-reload-subscription-roaming"></super-tab>
    </super-tabs>
</ion-content>
