<!--
  Generated template for the SubscriptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
      <ion-navbar>
          <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
          <ion-title>Subscriptions</ion-title>
      </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="subscriptions-content">
      <div class="subscription-title" ion-fixed>
          Select Subcription Type
      </div>
      <super-tabs id="subscriptionTabs"  [selectedTabIndex]="selectedTab">
          <super-tab [root]="tab1Page" title="Internet Plans" icon="custom-reload-internet"></super-tab>
          <super-tab [root]="tab2Page" title="Add-Ons" icon="custom-reload-subscription-addons"></super-tab>
          <super-tab [root]="tab3Page" title="IDD" icon="custom-reload-subscription-idd"></super-tab>
          <super-tab [root]="tab4Page" title="Roaming" icon="custom-reload-subscription-roaming"></super-tab>
      </super-tabs>
  </ion-content>