<!--
  Generated template for the FirstStyleOneoffPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content >

  <div class="dismiss-btn">
    <button (click)="dismiss()"><i class="close-icon"></i></button>
  </div>

  <div class="title" *ngIf="type=='One-Off Privileges'">One-Off Privileges</div>
  <div class="title" *ngIf="type=='Monthly Privileges'">Monthly Privileges</div>

  <hr/>

  <ion-grid class="company-grid" *ngIf="type=='One-Off Privileges'">
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_flight_ticket.jpg">
        <div class="company-title" *ngIf="customer_type=='platinum'">FREE return flight tickets within ASEAN countries</div>
        <div class="company-title" *ngIf="customer_type=='gold'">FREE return flight tickets within Malaysia</div>
      </ion-col>
      <!-- <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-go.png">
        <div class="company-title">Company Name</div>
      </ion-col> -->
    </ion-row>
    
  </ion-grid>


  <ion-grid class="company-grid" *ngIf="type=='Monthly Privileges' && customer_type=='gold'">
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_680x430_Video-Walla.jpg">
        <div class="company-title">15GB FREE Video Walla™ monthly</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_11street.jpg">
        <div class="company-title">RM10 Shopping Voucher</div>
      </ion-col>
    </ion-row>
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_grab.jpg">
        <div class="company-title">2 FREE Rides worth RM5 per ride</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_tealive.jpg">
        <div class="company-title">RM10 Beverages Voucher</div>
      </ion-col>
    </ion-row>
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_googleplay.jpg">
        <div class="company-title">RM10 Apps Rebate</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_apple.jpg">
        <div class="company-title">RM10 Apps Rebate</div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="company-grid" *ngIf="type=='Monthly Privileges' && customer_type=='platinum'">
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_gsc.jpg">
        <div class="company-title">1 FREE Movie Ticket</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_11street.jpg">
        <div class="company-title">RM10 Shopping Voucher</div>
      </ion-col>
    </ion-row>
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_grab.jpg">
        <div class="company-title">2 FREE Rides worth RM5 per ride</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_tealive.jpg">
        <div class="company-title">RM10 Beverages Voucher</div>
      </ion-col>
    </ion-row>
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_googleplay.jpg">
        <div class="company-title">RM10 Apps Rebate</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/lifestyle/brand_icons/Logo_678x430_apple.jpg">
        <div class="company-title">RM10 Apps Rebate</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
