page-delivery-information {
  .content {
    background: url("../assets/img/normal_page_bg.jpg");
    background-size: 100% auto;
  }
  .adressContainer {
    background-color: #fff;
    height: 400px;
  }
  .alternativeTitle {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 15px;
  }
  .adressTitle {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 15px;
  }
  .checkBoxContent {
    .item-inner {
      border-bottom: 0px !important;
    }
  }
  .checkbox {
    margin: 8px 10px 8px 2px !important;
    border-color: #009ade;
    .checkbox-icon {
      border-radius: 3%;
      border-color: rgba(1, 1, 1, 0.54);
      width: 17px;
      height: 17px;
    }
  }
  .postalContent {
    display: inline-block;
    width: 48%;
    float: left;
  }

  .dropdown-cities{
    .postalContent {
        width: 100%;
    } 
  }

  .dropdown-cities {
    display: inline-block;
    float: right;
    width: 48%;
    .select-icon {
      display: none;
    }
    i {
      background-color: #009ADE;
      ;
      position: absolute;
      top: 280px;
      right: 16px;
      z-index: 5;
      width: 15px;
      height: 6px;
    }
    .select-ios {
      padding: 0 !important;
    }
  }
  .dropdown-states {
    padding-bottom: 40px;
    .select-icon {
      display: none;
    }
    i {
      background-color: #009ADE;
      ;
      position: absolute;
      top: 330px;
      right: 16px;
      z-index: 5;
      width: 15px;
      height: 6px;
    }
    .select-ios {
      padding: 0 !important;
    }
  }
  .impTitle {
    font-size: 20px;
    padding-top: 60px;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .impInfoContainer {
    background-color: #fff;
    padding-top: 20px;
  }
  .section1Title {
    padding-left: 15px;
  }
  hr {
    //width: 120%;
    height: 1px !important;
    background: #B5B5B5;
    margin-left: 12px !important;
  }
  .text-container1 {
    padding: 12px;
    padding-left: 15px !important;
    span {
      font-family: $font-familyBold;
      font-size: 14px;
      color: #333333;
    }
    .row {
      display: inline-block;
      width: 100%;
      height: 32px;
      span {
        /* LIST ITEM: */
        font-family: $font-family;
        font-size: 14px;
        color: #333333;
        line-height: 16px;
      }
    }
  }
  .lastRow {
    padding-bottom: 100px !important;
  }
  .proceedBtnContainer {
    z-index: 100;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #FFFFFF;
    .default-button {
      width: calc(100% - 20px);
      margin: 16px 10px;
    }
  }
  .checkbox-ios .checkbox-checked .checkbox-inner {
    left: 4px;
    top: -1px;
  }

  .inputItem {
    padding-right: 16px;
  }

  .item-ios{
    padding-right: 16px;
  }
}
