<!--
  Generated template for the SubInternetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div *ngFor="let subInternetPlanName of subInternetCategoryPlan;">
    <div class="subtitle">
        <!-- {{subInternetPlanName.HEADER_TITLE == "Internet Plans" ? "MAXUP" : subInternetPlanName.HEADER_TITLE}} -->
        <!-- {{subInternetPlanName.HEADER_TITLE}} --> Internet Plans
    </div>

    <ion-scroll class="internet-card-container" scrollX="true">
      <div  *ngFor="let subInternetPlanList of subInternetPlanName?.PLAN; let subInternetPlanList = index" [ngClass]="{'selected': subInternetPlanList==indexValue}" class="internet-card super selected float-left" (click)="goToDetailsPage(subInternetPlanList,'Internet Plans')">
          
          <!-- <div class="most-popular-badge">
              <i class="most-popular-icon"></i>
              <span>
                MOST POPULAR 
                {{subInternetPlanList.HEADER_SUBTITLE}}
              </span>
          </div> -->
              
          <span class="internet-card-title">
            <!-- Monthly 500 MB -->
            <!-- {{subInternetPlanList.PLAN_DESCRIPTION}} -->

              {{subInternetPlanList?.VALIDITY == undefined ? '' : subInternetPlanList?.PLAN_NAME_DISPLAY}}&nbsp;&nbsp;              

              {{
                subInternetPlanList?.VALIDITY != undefined ? '' : (subInternetPlanList?.PRODUCT_QUOTA != undefined ? subInternetPlanList?.PRODUCT_QUOTA : subInternetPlanList?.PRODUCT_VOLUME)
              }}

              {{subInternetPlanList?.VALIDITY == undefined ? ' for ' : '' }}

          </span>
          <span class="internet-card-subtitle">
              <!-- RM 30 --> {{subInternetPlanList?.PRODUCT_PRICE_DISPLAY}}
          </span>
          <span class="internet-card-des">
              <!-- Valid for 28 Days --> 
              {{subInternetPlanList?.VALIDITY == undefined ? '': 'Valid for' }}
              {{subInternetPlanList?.VALIDITY == 'Per day' ? '1 Day' : subInternetPlanList?.VALIDITY}}
          </span>
      </div>    
      <!-- </div>   -->
    </ion-scroll>

  </div>
  <div *ngIf=" subInternetCategoryPlan=='undefined' || subInternetCategoryPlan=='' ">
      <ion-card-content>
      <span>
      Wait a minute, what you're looking for isn't available.
    </span>
    </ion-card-content>
  </div>
</ion-content>