page-notification-tab2 {
    .card-container {
        color: #FFF;
        position: relative;
        max-height: 200px;
        overflow: hidden;
        ion-card-content {
            padding: 50px 11px 20px!important;
            span {
                /* Lorem ipsum dolor si: */
                font-size: 20px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 24px;
                padding-left: 9px;
            }
            .expiry {
                /* Expiry dd/mm/yy hh:m: */
                font-size: 12px !important;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 12px;
                padding-top: 45px;
            }
        }
    }
    .card-content {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 80%;
        div {
            padding-top: 14px;
            padding-left: 20px;
            span {
                /* Lorem ipsum dolor si: */
                /* Promo Title: */
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 14px;
            }
        }
    }
    .img-abs {
        position: relative;
        z-index: 0;
    }
    ion-card {
        .button {
            margin-top: 12px !important;
        }
    }
}

@media (max-width: 360px) {
    page-notification-tab2 {
        .card-container {
            ion-card-content {
                .expiry {
                    padding-top: 25px !important;
                }
            }
        }
    }
}
