<!--
  Generated template for the DetailedUsageInternetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
    </ion-header>
    
    
    <ion-content>
    
      <!-- Internet Slide -->
      <div *ngFor="let cards of cardArray">
      <!-- Card CTA -->
    
      <div class="card" *ngIf="cards.cardType=='Card CTA #1'">
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i [class]="cards.class"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.title)}}</div>
              <div class="sub">{{cards.subtitle}}</div>
            </div>
          </div>
        </div>
    
        <div class="card-content">
          <div class="divider"><hr/></div>
          <div class="content-block-actions">
            <div class="title">
              <a class="action-call-more float-left">Call to Action <span class="arrow-forward-icon"></span></a>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
      
    <!-- Card Toggle/CTA -->
    <div class="card" *ngIf="cards.cardType=='Card Toggle/CTA #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub">{{cards.subtitle}}</div>
          </div>
        </div>
      </div>
    
      <div class="card-content">
        <page-usage-indicator [value]="cards.dataBalance" [minValue]="0" [maxValue]="cards.dataTotal" [expiryDate]="cards.date"
        [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
          <div class="usage-card-data float-left">
            <span class="usage">{{cards.dataBalance}}<span> SMS Available</span></span>
          </div>
    
          <div class="unit-used">
            <div>{{cards.dataUsed}} SMS Used by you</div>
          </div>
        </div>
        <div class="divider"><hr/></div>
    
      </div>
    
      <div class="card-footer">
        <div class="content-block-actions">
          <div class="title">
            <div class="title-main float-left">Unsubscribe</div>
            <div class="title-sub float-left ">Turn off to cancel auto-renewal and unsubscribe from plan</div>
          </div>
          <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
        </div>
      </div>
    
    </div>
    
    <!-- Card Usage with Limit -->
    <div class="card" *ngIf="cards.cardType=='Card Usage with Limit #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
            <div class="sub">{{cards.subtitle}}</div>
          </div>
        </div>
      </div>
    
      <div class="card-content">
        <page-usage-indicator [value]="cards.dataBalance" [minValue]="0" [maxValue]="cards.dataTotal" [expiryDate]="cards.date" [unit]="cards.unit"
                              [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
          <div class="usage-card-data float-left">
            <span class="usage">{{cards.dataBalance}}<span> SMS Available</span></span>
          </div>
    
          <div class="unit-used">
            <div>{{cards.dataUsed}} SMS Used by you</div>
          </div>
        </div>
    
      </div>
    
      <div class="card-footer"></div>
    
    </div>
    
    <!-- Card PPU -->
    
    <div class="card" *ngIf="cards.cardType=='Card PPU #1'">
      <div class="card-header">
        <div class="primary-title">
          <div class="card-img">
            <i [class]="cards.class"></i>
          </div>
          <div class="card-title single-title">
            <div class="main">{{cardTitleChange(cards.title)}}</div>
          </div>
        </div>
      </div>
      
      <div class="card-content">
        <div class="tabular-list with-total">
          <div *ngFor="let dt of cards.data">
          <div class="tabular-row">
            <span class="float-left">{{dt.key}}</span>
            <span class="float-right">{{dt.value}}</span>
          </div>
        </div>
          <!-- <div class="tabular-row">
            <span class="float-left">List Item</span>
            <span class="float-right">Data Unit</span>
          </div>
          <div class="tabular-row">
            <span class="float-left">List Item</span>
            <span class="float-right">Data Unit</span>
          </div>
          <div class="tabular-row">
            <span class="float-left">List Item</span>
            <span class="float-right">Data Unit</span>
          </div> -->
      
          <div class="tabular-list-footer">
            <hr/>
            <span class="float-left">Total Charges</span>
            <span class="float-right">RM{{cards.TotalDataUsage}}</span>
          </div>
      
      
        </div>
      </div>
      
      <div class="card-footer">
      </div>
      
      </div>

      <div class="card" *ngIf="cards.cardType=='Card PPU Kad Ceria #1'">
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i [class]="cards.class"></i>
            </div>
            <div class="card-title single-title">
              <div class="main">{{cardTitleChange(cards.title)}}</div>
            </div>
          </div>
        </div>
      
        <div class="card-content">
          <div class="tabular-list">
            <div class="tabular-row">
              <span class="float-left">{{cards.key}}</span>
              <span class="float-right">RM{{cards.value}}</span>
            </div>            
          </div>
        </div>
      
        <div class="card-footer">
        </div>
      
      </div>
      
      <!-- Card Description+ Toggle -->
      <div class="card" *ngIf="cards.cardType=='Card Description+ Toggle #1'">
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i [class]="cards.class"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.title)}}</div>
              <div class="sub">68 GB Quota</div>
            </div>
          </div>
        </div>  
      
        <div class="card-footer">
          <div class="content-block-actions">
            <div class="title">
              <div class="title-main float-left">Unsubscribe</div>
              <div class="title-sub float-left ">Turn off to cancel auto-renewal and unsubscribe from plan</div>
            </div>
            <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
          </div>
        </div>
      
      </div>
      
      <!-- Card Description -->
      
      <div class="card" *ngIf="cards.cardType=='Card Description #1'">
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i [class]="cards.class"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.title)}}</div>
              <div class="sub">{{cards.subtitle}}</div>
              <div class="sub" *ngIf="cards.date">{{cards.date}}</div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Card Usage with Limit (Kad Ceria) -->
      <div class="card" *ngIf="cards.cardType=='Card Usage with Limit (Kad Ceria) #1'">
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i [class]="cards.class"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.title)}}</div>
              <div class="sub">{{cards.subtitle}}</div>
            </div>
          </div>
        </div>
      
        <div class="card-content"></div>
      
        <div class="card-footer"></div>
      
      </div>
      
      <!-- Card Bundle (with Toggle/CTA) -->
      <div class="card" *ngIf="cards.cardType=='Card Bundle (with Toggle/CTA) #1'">
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i [class]="cards.class"></i>
            </div>
            <div class="card-title">
              <div class="main">{{cardTitleChange(cards.title)}}</div>
              <div class="sub">The subtitle should contain a maximum of two lines of text.</div>
            </div>
          </div>
          <div class="secondary-text">
            <span>Secondary Title Goes Here</span>
          </div>
      
        </div>
      
        <div class="card-content">
          <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                                [hideProgressBar]="false"></page-usage-indicator>
          <div class="availability-and-usage">
            <div class="usage-card-data float-left">
              <span class="usage">999.9<span> SMS Available</span></span>
            </div>
      
            <div class="unit-used">
              <div>999.9 SMS Used by you</div>
            </div>
          </div>
          <div class="divider"><hr/></div>
        </div>
      
        <div class="card-footer">
          <div class="secondary-text">
            <span>Secondary Title Goes Here</span>
          </div>
          <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                                [hideProgressBar]="false"></page-usage-indicator>
          <div class="availability-and-usage">
            <div class="usage-card-data float-left">
              <span class="usage">999.9<span> SMS Available</span></span>
            </div>
      
            <div class="unit-used">
              <div>999.9 SMS Used by you</div>
            </div>
          </div>
      
          <div class="divider"><hr/></div>
      
          <div class="secondary-text">
            <span>Secondary Title Goes Here</span>
          </div>
          <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                                [hideProgressBar]="false"></page-usage-indicator>
          <div class="availability-and-usage">
            <div class="usage-card-data float-left">
              <span class="usage">999.9<span> SMS Available</span></span>
            </div>
      
            <div class="unit-used">
              <div>999.9 SMS Used by you</div>
            </div>
          </div>
      
        </div>
      
      </div>
      
      <!-- Card Info (Roaming) -->
      <div class="card" *ngIf="cards.cardType=='Card Info (Roaming) #1'">
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i [class]="cards.class"></i>
            </div>
            <div class="card-title single-title">
              <div class="main">{{cardTitleChange(cards.title)}}</div>
            </div>
          </div>
        </div>
      
        <div class="card-content">
          <div class="tabular-list">
            <div class="tabular-row">
              <span class="float-left">Visiting Country</span>
              <span class="float-right">Cyprus</span>
            </div>
            <div class="tabular-row">
              <span class="float-left">Preferred Operator</span>
              <span class="float-right">Areeba/MTN</span>
            </div>
          </div>
        </div>
      
        <div class="card-footer">
        </div>
      
      </div>
      
      <!-- Card Info (Plan Activation) -->
      <div class="card" *ngIf="cards.cardType=='Card Info (Plan Activation) #1'">
        <div class="card-header">
          <div class="primary-title">
            <div class="card-img">
              <i [class]="cards.class"></i>
            </div>
            <div class="card-title single-title">
              <div class="main">{{cardTitleChange(cards.title)}}</div>
            </div>
          </div>
        </div>
      
        <div class="card-content">
          <div class="tabular-list">
            <div class="tabular-row">
              <span class="float-left">Visiting Country</span>
              <span class="float-right">Cyprus</span>
            </div>
            <div class="tabular-row">
              <span class="float-left">Preferred Operator</span>
              <span class="float-right">Areeba/MTN</span>
            </div>
          </div>
        </div>
      
        <div class="card-footer">
        </div>
      
      </div>
      
      
        <!--Group Sharing Data-->
        <div class="card" *ngIf="cards.cardType=='Group Sharing Data #1'">
          <div class="card-header">
            <div class="primary-title">
              <div class="card-img">
                <i [class]="cards.class"></i>
              </div>
              <div class="card-title">
                <div class="main">{{cardTitleChange(cards.title)}}</div>
                <div class="sub">{{cards.subtitle}}</div>
              </div>
            </div>
          </div>
      
          <div class="card-content">
            <page-usage-indicator [value]="cards.dataBalance" [minValue]="0" [maxValue]="cards.dataTotal" [expiryDate]="cards.date"
            [hideProgressBar]="false"></page-usage-indicator>
            <div class="availability-and-usage">
              <div class="usage-card-data float-left">
                <span class="usage">{{cards.dataBalance}}<span> SMS Available</span></span>
              </div>
        
              <div class="unit-used">
                <div>{{cards.dataUsed}} SMS Used by you</div>
              </div>
            </div>
            <div class="divider"><hr/></div>  
          </div>
      
          <div class="card-footer">
            <div class="content-block-actions">
              <div class="title">
                <div class="title-main float-left">Unsubscribe</div>
                <div class="title-sub float-left ">Turn off to cancel auto-renewal and unsubscribe from plan</div>
              </div>
              <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
            </div>
          </div>  
        </div>
    </div>
    </ion-content>
    