<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Confirmation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3 class="">Confirm your Purchase</h3>

  <div class="text-container1">
    <div class="row">
      <span class="float-left">Buy with </span>
      <span class="float-right">{{mobileNo}}</span>
    </div>

  </div>


  <div class="text-container2">SIM card will be delivered to this address:</div>
  <div class="text-container2">{{address}}</div>

  <div class="rectCollapseCont" [hidden]="myVar" (click)="toggleList()">
    <div class="rectTitle">
      Cost: RM{{costTotal}}
    </div>
    <img class="float-right imgShape" src="./assets/img/Shape-down.png" />
  </div>

  <div class="rectCollapseCont" [hidden]="!myVar" (click)="toggleList()">
    <div class="rectTitle">
      Cost: RM{{costTotal}}
    </div>

    <img class="float-right imgShape" src="./assets/img/Shape-up.png">

    <div class="text-container1">
      <div class="row row1">
        <span class="float-left">Items</span>
        <span class="float-right">Credit</span>
      </div>
      <div class="row">
          <span class="float-left">
            SIM charges
          </span>
        <span class="float-right">
            RM{{costService}}
          </span>
      </div>
      <div class="row row2">
        <span class="float-left">Delivery Charges</span>
        <span class="float-right">
            RM{{costRegion}}
          </span>
      </div>
      <div class="row row3">
        <span class="float-left">Total</span>
        <span class="float-right">
            RM{{costTotal}}
          </span>
        <div class="row">
          <span *ngIf="(userInfoData.ListOfServices.Services.ServiceType == 'Postpaid' || userInfoData.ListOfServices.Services.Pre_Pos_Indicator
                == 'Postpaid')">*All charges are inclusive of 6% GST</span>
        </div>

      </div>
    </div>

  </div>

  <div class="text-container1">{{ (userInfoData.ListOfServices.Services.ServiceType == "Postpaid" || userInfoData.ListOfServices.Services.Pre_Pos_Indicator
    == "Postpaid") ? "Add to my bill" : "Deduct from credit"}}</div>
  <div class="text-container1">{{ (userInfoData.ListOfServices.Services.ServiceType == "Postpaid" || userInfoData.ListOfServices.Services.Pre_Pos_Indicator
    == "Postpaid") ? "Add to my bill" : "New Credit Balance:" }} RM{{remainingBalance}}</div>
  <div class="row">

  </div>



  <div class="confirmBtn">
    <button ion-button class="default-button" (click)="submitSimReplacement()">
      Confirm
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>


</ion-content>
