<!--
  Generated template for the CountrySubscriptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
        <div class="button-container">
            <button ion-button class="custom-button" (click)="pushBack()">Choose another Country</button>
        </div>
        <!-- <div class="subtitle">
            Thailand
        </div> -->
        <div *ngFor="let roamingPlan of roamingCategoryPlan;" >
            <!-- <ion-scroll class="internet-card-container" scrollX="true"> -->
                <!-- <div *ngFor="let roamingPlan of roamingCategoryPlan;" class="internet-card has-badge float-left" (click)="goToDetailsPage()">
                    <div class="badge">
                        <span>50% More Data</span>
                    </div>
                    <span class="internet-card-title">
                    Monthly 500 MB
                </span>
                    <span class="internet-card-subtitle">
                    RM 30
                </span>
                    <span class="internet-card-title">
                    Valid for 28 Days
                </span>
                </div> -->
    
            <div class="subtitle">
                <h3> {{selectedCountryName.name}} </h3>
            </div>
     
            <div class="subtitle">
                {{roamingPlan.HEADER_TITLE}}
            </div>
     
            <ion-scroll class="internet-card-container" scrollX="true">
                <ng-container *ngFor="let roamingPlanList of roamingPlan.PASS;let roamingPlanList = index" class="internet-card float-left">
    
                <div *ngIf="(selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka') && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' " 
                
                [class.has-badge]="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka')) || (roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99')" class="internet-card float-left" [ngClass]="{'selected': roamingPlanList==indexValue}" (click)="goToDetailsPage(roamingPlanList,roamingPlan?.HEADER_TITLE)">     
                    
                    <!-- 1 -->
                    <div class="badge" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka')">
                        <!-- <i class="most-popular-icon"></i> -->
                        <span>
                            MOST POPULAR
                        </span> 
                    </div>    
                    
                    <div class="badge" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' || roamingPlanList.PASS_ISPROMOAVAILABLE != 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass'">
                        <!-- <i class="most-popular-icon"></i> -->
                        <span>
                            MOST POPULAR
                        </span> 
                    </div> 
    
                    <!-- 2 -->
                        <!-- Internet plan promo true-->
                        <span class="internet-card-title"  *ngIf="roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka')">
                            <!-- Monthly 500 MB -->{{roamingPlanList.PASS_NAME}}
                        </span>
                        <!-- Internet plan promo false-->
                        <span class="internet-card-title"  *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE != 'True' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass'">
                                <!-- Monthly 500 MB -->{{roamingPlanList.PASS_NAME}}
                            </span>
    
                        <span class="internet-card-title" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' || roamingPlanList.PASS_ISPROMOAVAILABLE != 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass'">
                            <!-- Monthly 500 MB -->{{roamingPlanList.PASS_NAME}}
                        </span>
    
                    <!-- 3 -->
                        <!-- Internet plan promo true-->
                        <span class="internet-card-subtitle" *ngIf="roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka')">
                            <!-- RM 30 --> {{roamingPlanList.PASS_PRICE_DISPLAY}}
                        </span>
    
                        <!-- Internet plan promo false-->
                        <span class="internet-card-subtitle" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE != 'True' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass'">
                                <!-- RM 30 --> {{roamingPlanList.PASS_PRICE_DISPLAY}}
                            </span>
    
                        <span class="internet-card-subtitle" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' || roamingPlanList.PASS_ISPROMOAVAILABLE != 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass'">
                            <!-- RM 30 --> {{roamingPlanList.PASS_PRICE_DISPLAY}}
                        </span>
    
    
                    <!-- 4 -->
                        <!-- Internet plan promo true-->
                        <span class="internet-card-des" *ngIf="roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka') && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Postpaid'">
                            <!-- Valid for 28 Days -->Valid for {{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span>
                        <span class="internet-card-des" *ngIf="roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka') && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Prepaid'">
                            <!-- Valid for 28 Days -->{{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span> 
    
                        <!-- Internet plan promo false-->
                        <span class="internet-card-des" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE != 'True' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Postpaid'">
                            <!-- Valid for 28 Days -->Valid for {{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span>
                        <span class="internet-card-des" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE != 'True' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Prepaid'">
                            <!-- Valid for 28 Days -->{{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span>
                    
                        <span class="internet-card-des" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' || roamingPlanList.PASS_ISPROMOAVAILABLE != 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass' && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Postpaid'">
                            <!-- Valid for 28 Days -->Valid for {{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span>
                        <span class="internet-card-des" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' || roamingPlanList.PASS_ISPROMOAVAILABLE != 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass' && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Prepaid'">
                            <!-- Valid for 28 Days -->{{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span> 
                    
                </div> 
    
                <!-- *********************************************************************** -->
                <div *ngIf="(roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass') ||(roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass')" 
                
                [class.has-badge]="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka')) || (roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99')" class="internet-card float-left"  [ngClass]="{'selected': roamingPlanList==indexValue}" (click)="goToDetailsPage(roamingPlanList,roamingPlan?.HEADER_TITLE)">     
                    
                    <!-- 1 -->
                    <div class="badge" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka')">
                        <!-- <i class="most-popular-icon"></i> -->
                        <span>
                            MOST POPULAR 
                        </span> 
                    </div>    
                    
                    <div class="badge" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True'  ) && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass'">
                        <!-- <i class="most-popular-icon"></i> -->
                        <span>
                            MOST POPULAR 
                        </span> 
                    </div> 
    
                    <!-- <div class="badge" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass'">
                      
                            <span>
                                MOST POPULAR 
                            </span> 
                        </div> -->
    
                    <!-- 2 -->
                        <!-- Internet plan promo true-->
                        <span class="internet-card-title"  *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka')">
                            <!-- Monthly 500 MB -->{{roamingPlanList.PASS_NAME}}
                        </span>
                        <!-- Internet plan promo false-->
                        <span class="internet-card-title"  *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE != 'True' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass'">
                                <!-- Monthly 500 MB -->{{roamingPlanList.PASS_NAME}}
                            </span>
    
                        <span class="internet-card-title" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' || roamingPlanList.PASS_ISPROMOAVAILABLE != 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass'">
                            <!-- Monthly 500 MB -->{{roamingPlanList.PASS_NAME}}
                        </span>
    
                    <!-- 3 -->
                        <!-- Internet plan promo true-->
                        <span class="internet-card-subtitle" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka')">
                            <!-- RM 30 --> {{roamingPlanList.PASS_PRICE_DISPLAY}}
                        </span>
    
                        <!-- Internet plan promo false-->
                        <span class="internet-card-subtitle" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE != 'True' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass'">
                                <!-- RM 30 --> {{roamingPlanList.PASS_PRICE_DISPLAY}}
                            </span>
    
                        <span class="internet-card-subtitle" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' || roamingPlanList.PASS_ISPROMOAVAILABLE != 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass'">
                            <!-- RM 30 --> {{roamingPlanList.PASS_PRICE_DISPLAY}}
                        </span>
    
    
                    <!-- 4 -->
                        <!-- Internet plan promo true-->
                        <span class="internet-card-des" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka') && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Postpaid'">
                            <!-- Valid for 28 Days -->Valid for {{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span>
                        <span class="internet-card-des" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' && roamingPlanList.PASS_PRICE_DISPLAY == 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && (selectedCountryName.name == 'Bangladesh' || selectedCountryName.name == 'Cambodia'||selectedCountryName.name == 'Indonesia'||selectedCountryName.name == 'Nepal'||selectedCountryName.name == 'Singapore'||selectedCountryName.name == 'Sri Lanka') && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Prepaid'">
                            <!-- Valid for 28 Days -->{{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span> 
    
                        <!-- Internet plan promo false-->
                        <span class="internet-card-des" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE != 'True' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Postpaid'">
                                <!-- Valid for 28 Days -->Valid for {{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                            </span>
                            <span class="internet-card-des" *ngIf="roamingPlanList.PASS_ISPROMOAVAILABLE != 'True' && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE == '1-Day Internet Pass' && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Prepaid'">
                                <!-- Valid for 28 Days -->{{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                            </span>
                    
                        <span class="internet-card-des" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' || roamingPlanList.PASS_ISPROMOAVAILABLE != 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass' && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Postpaid'">
                            <!-- Valid for 28 Days -->Valid for {{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span>
                        <span class="internet-card-des" *ngIf="(roamingPlanList.PASS_ISPROMOAVAILABLE == 'True' || roamingPlanList.PASS_ISPROMOAVAILABLE != 'True') && roamingPlanList.PASS_PRICE_DISPLAY != 'RM4.99' && roamingPlan.HEADER_TITLE != '1-Day Internet Pass' && userInfo.ListOfServices.Services.Pre_Pos_Indicator == 'Prepaid'">
                            <!-- Valid for 28 Days -->{{roamingPlanList.PASS_VALIDITY == 'Per day' ? '1 Day' : roamingPlanList.PASS_VALIDITY}}
                        </span> 
                    
                </div> 
                </ng-container>    
                   
            </ion-scroll>
          
            <div class="info">
                    Please choose a plan before proceeding
            </div>
        </div> 
        <!-- </ion-scroll> -->
        <!-- <div class="info">
        Please choose a reload amount to move foward -->
    
    </ion-content>