<!--
  Generated template for the PaymentMethodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border no-lines>
    <ion-title>Payment Method</ion-title>
    <ion-buttons end>
      <button ion-button>Edit</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <div item-start>
          <img class="visa-icon" src="./assets/img/visa.png">
        </div>
        <h2>****-1234</h2>
        <div item-end>
          <ion-icon name="checkmark"></ion-icon>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <div item-start>
          <img class="visa-icon" src="./assets/img/master-card.png">
        </div>
        <h2>****-1234</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item no-border no-lines>
      <div padding>
        <small>Add Payment Method</small>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
