<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>FAQ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="isPrepaid">
    <button ion-item (click)="goToFaqCategory('aboutCelcomLifePrepaid')">
      About Celcom Life App
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('usagePrepaid')">
      Usage
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('purchaseInternetPlanPreapid')">
      Purchase Internet Plan
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('manageccPrepaid')">
     Manage Credit/Debit Card
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('servicePrepaid')">
     Services
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('accountPrepaid')">
     Account
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('reloadPrepaid')">
      Reload
      <div class="arrow-forward-icon"></div>
    </button>
  </ion-list>
  <ion-list *ngIf="!isPrepaid">
    <button ion-item (click)="goToFaqCategory('aboutCelcomLifePostpaid')">
      About Celcom Life App
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('usagePostpaid')">
      Usage
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('accountPostpaid')">
      Account
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('manageccPostpaid')">
     Manage Credit/Debit Card
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory('servicePostpaid')">
     Services
      <div class="arrow-forward-icon"></div>
    </button>
  </ion-list>
</ion-content>
