<!--
  Generated template for the LogoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header></ion-header>
<ion-content padding>
  <div class="logout-page-container">
    <div class="logo-title-container text-center">
      <img src="./assets/img/Celcom-Logo-logout.png" class="celcom-logo">
      <div class="welcome-title ">Welcome Back</div>
    </div>
    <div class="login-button-container">
      <button  class=" default-button login-network-btn" (click)="gotoNetWorkLogin()">Login with SIM</button>
      <button class="default-button login-otp-btn" (click)="gotoMobileConnect()">Login with Mobile Connect</button>
    </div>
  </div>
</ion-content>
