page-puk {
  .content {
    background: url("../assets/img/normal_page_bg.jpg");
    background-size: 100% auto;
  }
  .content-container {
    width: 100%;
    background-color: white;
    padding: 16px 0;  
    -webkit-box-shadow: 0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);
  }
.head-msg{
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  line-height: 40px;
  width: 100%;
}
  .content-container .title{
    padding-bottom: 37px;
  }
  .mobile-no{
    color: #666666;
    font-size: 18px;
    line-height: 1.8;
    margin-left: 16px;
  }

    .item-inner {
            border-bottom: 1px solid #c8c7cc !important;
        }
}
.XPAX page-puk {
  .content {
    background-image: url(../assets/img/detailed_usage_card_bg_xpax.png);
    background-size: cover;
  }
}
