<ion-content>
    <ion-card class="call-barred-card" *ngIf="callbarredCss">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <div class="call-barred-icon"></div>
          </ion-col>
          <ion-col col-10>
            <ion-card-header>
              <span>Call Barring is now in effect.</span>
            </ion-card-header>
            <ion-card-content>
              <span>You can only receive calls. Outgoing calls, SMS and Internet are not available until after you've settled your
                bill.
              </span>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <button *ngIf="!disablePromiseToPay" clear ion-button icon-end (click)="updateCreditLimit()">
        <span>Pay Later</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>
      <button class="right-button" clear ion-button icon-end (click)="goToPayBill()">
        <span>Pay Now</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>
    </ion-card>
  
    <ion-card class="cap-zone-card" *ngIf="capZoneCss">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <div class="cap-zone-icon"></div>
          </ion-col>
          <ion-col col-10>
            <ion-card-header>
              <span>You are now in CapZone.</span>
            </ion-card-header>
            <ion-card-content>
              <span>Internet speed is throttled. You have 10 SMS and 10 minutes call-time remaining.</span>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <button clear ion-button icon-end (click)="updateCreditLimit()">
        <span>Pay Later</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>
      <button class="right-button" clear ion-button icon-end (click)="goToPayBill()">
        <span>Pay Now</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>
    </ion-card>
  
    <ion-card *ngIf="showKawKaw">
      <div class="notification-header">
        <ion-icon name="custom-notification-header"></ion-icon>
        <span>Reload Bonus</span>
        <span class="time-stamp float-right"></span>
      </div>
      <ion-card-header>
        <span>Hey, Kaw Kaw Squad is waiting for you</span>
      </ion-card-header>
      <ion-card-content>
        <span>Hurry, join now. Awesome stuff awaits.</span>
      </ion-card-content>
      <hr>
      <button clear ion-button icon-end class="left-align" (click)="redeemKawKawBonus()">
        <span>Join Kaw Kaw Squad</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>
    </ion-card>
  
  <!--validity extension -->

    <ion-card *ngIf="showValidityExtension">
        <div class="alert">
            <ion-icon name="custom-notification-alert"></ion-icon>
            <span>Credit Validity</span>
            <span class="time-stamp float-right"></span>
        </div>
        <ion-card-header>
            <span>Your credit has expired.</span>
        </ion-card-header>
        <ion-card-content>
            <span>No worries, you can easily extend your credit validity.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align" (click)="gotoValidityExtension()">
            <span>Extend Validity</span>
            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>

    <!--validity extension till here -->  


    <!-- <ion-card *ngIf="showCreditAdvanceNotification">
        <div class="alert">
            <ion-icon name="custom-notification-alert"></ion-icon>
            <span>Credit Balance</span>
            <span class="time-stamp float-right"></span>
        </div>
        <ion-card-header>
            <span>Your credit is now less than RM1.</span>
        </ion-card-header>
        <ion-card-content>
            <span>Would you like some Credit Advance?</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align" (click)="gotoCreditAdvance()">
      <span>Advance Credit</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
    </ion-card> -->
 
    <!-- credit limit -->

    <ion-card *ngIf="showCreditLimitNotification">
        <div class="notification-header">
            <ion-icon name="custom-notification-header"></ion-icon>
            <span>Credit Balance</span>
            <span class="time-stamp float-right"></span>
        </div>
        <ion-card-header>
            <span>You've only less than RM5 credit balance left.</span>
        </ion-card-header>
        <ion-card-content>
            <span>Reload now to continue enjoying the Celcom experience.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align" (click)="gotoReload()">
            <span>Reload</span>
            <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>

    <!--credit limit till here -->
  
    <ion-card *ngIf="showInternetUsageNotification">
      <div class="notification-header">
        <ion-icon name="custom-notification-header"></ion-icon>
        <span>Internet Balance</span>
        <span class="time-stamp float-right"></span>
      </div>
      <ion-card-header>
        <span>You've only less than 20% Internet Balance. </span>
      </ion-card-header>
      <ion-card-content>
        <span>Reload now and keep surfing.</span>
      </ion-card-content>
      <hr>
      <button clear ion-button icon-end class="left-align" (click)="gotoReload()">
        <span>Reload</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>
    </ion-card>
  
    <ion-card *ngFor="let mydeals of myDealsList?.offerList | upcomingToLatest: 'expirationDate'">
      <div class="notification-header">
        <ion-icon name="custom-notification-header"></ion-icon>
        <span>{{mydeals.offerCaption}}</span>
        <span class="time-stamp float-right">Expiry Date : {{mydeals.expirationDate}}</span>
      </div>
      <ion-card-content>
        <div class="notification-content-container">
          <div class="notification-content-left">
            <div class="notification-card-title">{{mydeals.planDescription1}}</div>
            <div class="notification-card-content">{{mydeals.planSubDescription1}}</div>
          </div>
          <div class="notification-content-right">
            <img src="./assets/img/mydeals2.png" alt="">
          </div>
        </div>
      </ion-card-content>
      <hr>
      <button clear ion-button icon-end  (click)="presenMydealspageModal(mydeals)">
        <span>Learn more</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>
      <button class="right-button" clear ion-button icon-end (click)="presenMydealspageCinfirmation(mydeals)">
        <span>Subscribe</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>
    </ion-card>
  </ion-content>
  