page-notifications {
    .content {
        background: #434343;
    }
    .card-style {
        margin-bottom: 5px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        border-radius: 0px;
        div {
            padding-left: 29px;
        }
    }
    .head-card {
        background-color: #434343;
        margin-bottom: 0px;
        .white-font {
            color: #FFF;
            font-weight: bolder;
        }
    }
    .red-card {
        background-color: #D0021B;
        .white-font {
            color: #FFF;
        }
        .flat-button {
            border-radius: 0px;
            height: 28px;
            width: 117px;
            font-size: 11px;
        }
        p {
            opacity: .5
        }
    }
    .green-card {
        background-color: #7ED321;
        .gray-button {
            background-color: #4A4A4A;
            border-radius: 0px;
            height: 28px;
            width: 117px;
            font-size: 11px;
        }
    }
    .gray-card {
        background-color: $secondary-color;
        .gray-button {
            background-color: #4A4A4A;
            font-family: $font-family;
            border-radius: 0px;
            height: 28px;
            width: 117px;
            font-size: 11px;
        }
    }
}