<!--
  Generated template for the UpgradeLatestPlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upgrade to latest plan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="page-container">
    <!--postpaid plan -->
    <div class="calcom-plan" *ngIf="plan_type=='postpaid'">
      <div class="plan-title">{{plan_name}}</div>
      <div class="tariff-details" *ngFor="let plan_detail of plan_details; let i = index">
        <div class="tariff-details-title-container">
          <i class="tariff-icon" [ngClass]="{'phone-icon':plan_detail[0].indexOf('Call')!=-1,'icon_video-call':plan_detail[0].indexOf('Video Calls')!=-1,'sms-icon':plan_detail[0].indexOf('SMS')!=-1,'mms-icon':plan_detail[0].indexOf('MMS')!=-1,'addOn-plan-Icon':(plan_detail[0].indexOf('Call')==-1 && plan_detail[0].indexOf('SMS')==-1) && plan_detail[0].indexOf('MMS')==-1}"></i>
          <div class="title">{{plan_detail[0]}}</div>
          <hr/>
        </div>

        <div class="tariff-details-rows" *ngIf="isArray(plan_detail[1]) && (plan_detail[0] != 'Display Name')">
          <div class="row" *ngFor="let pd of plan_detail[1]; let j = index">
            <span class="float-left">{{pd[0]}}</span>
            <span class="float-right" *ngIf="isObject(pd[1])">{{pd[1].Title}}</span>
            <div class="row-sub-label float-right" *ngIf="isObject(pd[1])">{{pd[1].SubTitle}}</div>
            
            <span class="float-right" *ngIf="!isObject(pd[1])">{{pd[1]}}</span>
          </div>
        </div>
        <div class="tariff-details-rows" *ngIf="!isArray(plan_detail[1]) && (plan_detail[0] != 'Display Name')">
          <div class="row">
            <span class="float-left">{{plan_detail[1]}}</span>
          </div>
        </div>

      </div>
    </div>
    <!--postpaid plan till here -->
    <!--prepaid plan -->
    <div class="calcom-plan" *ngIf="plan_type=='prepaid'">
      <div class="plan-title">{{plan_name}}</div>
      <div class="tariff-details" *ngFor="let plan_detail of plan_details; let i = index">
        <div class="tariff-details-title-container" *ngIf="plan_detail[0] != 'Display Name'">
          <i class="tariff-icon" [ngClass]="{'phone-icon':plan_detail[0].indexOf('Call')!=-1,'icon_video-call':plan_detail[0].indexOf('Video Calls')!=-1,'sms-icon':plan_detail[0].indexOf('SMS')!=-1,'mms-icon':plan_detail[0].indexOf('MMS')!=-1,'addOn-plan-Icon':(plan_detail[0].indexOf('Call')==-1 && plan_detail[0].indexOf('SMS')==-1) && plan_detail[0].indexOf('MMS')==-1}"></i>
          <div class="title">{{plan_detail[0]}}</div>
          <hr/>
        </div>
        <div class="tariff-details-rows" *ngIf="isArray(plan_detail[1]) && (plan_detail[0] != 'Display Name')">
          <div class="row" *ngFor="let pd of plan_detail[1]; let j = index">
            <span class="float-left">{{pd[0]}}</span>
            <span class="float-right ">{{pd[1]}}</span>
          </div>
        </div>
        <div class="tariff-details-rows" *ngIf="!isArray(plan_detail[1]) && (plan_detail[0] != 'Display Name')">
          <div class="row">
            <span class="float-left">{{plan_detail[1]}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--prepaid plan till here-->

    <div class="upgradeBtn" ion-fixed>
      <!-- <a class="termsAndCond">Plan Terms &amp; Conditions
        <span class="arrow-forward-icon"></span>
      </a> -->
      <button ion-button class="default-button" (click)="upgrade()">
        Upgrade Available
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>


  </div>


</ion-content>
