page-mobile-connect-account {

  .mca-container {
    position: relative;
    height: 100%;
    padding:22px;
    .mca-logo {
      -webkit-mask-image: url('../assets/img/mobile-account.svg');
      mask-image: url('../assets/img/mobile-account.svg');
      width: 43px;
      height: 64px;
      display: inline-block;
      -webkit-mask-size: 100% 100%;
      background-color: #71668D;
      margin-top: 17px;
    }

    .mca-main-disclaimer {
      padding-top: 39%;
      padding-bottom: 10px;

      span {

        font-size: 24px;
        color: #333333;
        letter-spacing: 0;
        line-height: 24px;
      }

      .sub-title {
        margin-top: 10px;
        span {
          width: 100%;
          font-size: 16px;
          color: #333333;
          letter-spacing: 0;
          line-height: 20px;
        }
      }


    }

    .mca-sub-disclaimer {
      /* By setting up an acc: */
      font-size: 12px;
      color: #333333;
      letter-spacing: 0;
      line-height: 16px;
    }


    .mca-btn-container {
      position: absolute;
      bottom: 15px;
      left: 0;
      text-align: center;
      width: 100%;
      padding: 0px 15px;

      button {
        width: 100%;
        .XPAX-Left-Bubble {
          margin-left : 15px;
        }
        .XPAX-Right-Bubble {
          margin-right:15px;
        }
      }
    }
  }
    
 .arrow-backward-icon {
    margin-top: 39px;
    padding-left: 58px;
}

}
