<!--
  Generated template for the OleoleShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Services</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    
    <super-tabs>
       
        <super-tab [root]="tab1Page" title="Catalogue" [rootParams]="ololeParams"></super-tab>
        <super-tab [root]="tab2Page" title="Gifts Received"></super-tab>
    </super-tabs>

</ion-content>
