<!--
  Generated template for the CreditReloadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<!--
  Generated template for the InternetPlansPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <ion-scroll  *ngIf="!flag"  class="internet-card-container" scrollX="true">
        <div   *ngFor="let item of subTitle;let i = index" (click)="addCssSub(i)" [ngClass]="{'selected': i==subIndexValue}" class="internet-card float-left">
            
            <span class="internet-card-subtitle">
                {{item.name}}
            </span>
        </div>
    </ion-scroll>
    <ion-scroll *ngIf="flag"  class="internet-card-container" scrollX="true">
        <div   *ngFor="let item of subTitle;let i = index" (click)="addCssSub(i)" [ngClass]="{'selected': item.value=='30.00'}" class="internet-card float-left">
           
            <span class="internet-card-subtitle">
                {{item.name}}
            </span>
        </div>
    </ion-scroll>
    <!-- <div class="slider-subtitle">
        please choose a reload amount to move forward
    </div> -->
    <div class="subtitle">
        Payment Method
    </div>
<div class="internet-card-container-payment-visa">
    <ion-scroll  *ngIf="!flag2"  class="internet-card-container payment-container" scrollX="true">
        <div  *ngFor="let item of paymentMethod;let i = index" (click)="addCss(i)" [ngClass]="{'selected': i==indexValue}" class="internet-card payment float-left">
            <span class="internet-card-title">
                <ion-icon name="{{item.icon}}"></ion-icon>
            </span>
            <span class="internet-card-subtitle">
                <span>{{item.type}}</span>
            </span>
        </div>
    </ion-scroll>
    <ion-scroll *ngIf="flag2" class="internet-card-container payment-container" scrollX="true">
        <div  *ngFor="let item of paymentMethod;let i = index" (click)="addCss(i)" [ngClass]="{'selected': item.type=='Credit/Debit Card'}" class="internet-card payment float-left">
            <span class="internet-card-title">
                <ion-icon name="{{item.icon}}"></ion-icon>
            </span>
            <span class="internet-card-subtitle">
                <span>{{item.type}}</span>
            </span>
        </div>
    </ion-scroll>
  <div *ngIf="Cardflag"  class="payment-slider-visa">
        <div>
            <ion-icon name="custom-reload-credit-card"></ion-icon>
            <span>{{selectedCard}}</span>
            <button (click)="presenChangeCreditModal()">
                Edit
              </button>
        </div>
    </div>
</div>

    <div class="button-container" ion-fixed>
        <button (click)="goToPay()" ion-button class="default-button">
        Next
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>
