.mypopup {
    .popover-wrapper {
        .popover-content {
            width: 201px;
            max-height: 281px;
            .item-inner {
                .input-wrapper {
                    .label {
                        font-size: 14px;
                    }
                }
            }
        }
        .radio {
            margin: 0;
        }
        .item {
            .item-inner {
                border: 0;
            }
        }
    }
}

page-reload {
    super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon {
        padding-top: 16px;
    }
    super-tab-button.title-and-icon.selected {
        ion-icon {
            background: $XPAX-primary-Color;
        }
        span {
            color: $XPAX-primary-Color;
        }
    }
    hr {
        display: block;
        height: 1px!important;
        border: 0;
        border-top: 0.1px solid #C6C5C5;
        margin: 0px 0 12px;
        padding: 0;
    }
    .tab-buttons-container {
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        .indicator {
            background: $XPAX-primary-Color;
        }
    }
    .tab-buttons-container {
        background: #fff;
        .tab-buttons {
            span {
                text-transform: none;
            }
        }
    }
    [ion-fixed] {
        width: 100%
    }
    .reload-content>.scroll-content {
        margin-top: 170px!important;
    }
    .content {
        background-image: url(../assets/img/detailed_usage_card_bg_xpax.png);
        background-size: cover;
    }
    .grid-background {
        background-color: #FFF;
    }
    .left-col-title {
        font-family: $font-familyBold;
        padding-left: 0px;
        font-size: 10px;
        letter-spacing: 0;
        line-height: 18px;
    }
    .dropdown-numbers {
        height: 18px;
        float: left;
        width: 100%;
        .dropdown-number-title {
            color: $XPAX-primary-Color;
            font-family: $font-familyBold;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 18px;
            height: 18px;
            float: left;
        }
        .item {
            padding: 0;
            background-color: transparent;
            min-height: auto;
            .item-inner {
                padding: 0;
                border: 0;
                min-height: auto;
            }
        }
        .select {
            padding: 0px;
            margin: 0;
            max-width: 80%;
            width: 80%;
            .select-text {
                font-family: $font-family;
                padding-left: 0px;
                font-size: 10px;
                color: $XPAX-primary-Color;
                letter-spacing: 0;
                line-height: 18px;
            }
            .select-icon {
                display: none;
            }
        }
        i {
            background-color: $XPAX-primary-Color;
            width: 16px;
            height: 16px;
            float: right;
        }
    }
    .vadility-title {
        span {
            /* Line Validity 00/00/: */
            font-size: 10px;
            color: #333333;
            letter-spacing: 0;
            line-height: 18px;
        }
    }
    .vadility-date {
        font-family: $font-familyBold;
        font-size: 13px;
        color: #333333;
        letter-spacing: 0;
        line-height: 18px;
    }
    .balance-container {
        text-align: right;
        border-left: 1px solid #C6C5C5;
    }
    .vadility-container {
        padding-left: 15px;
    }
    .subtitle {
        height: 50px;
        div {
            /* Choose Reload method: */
            padding-left: 17px;
            padding-top: 24px;
            font-size: 18px;
            color: #000000;
        }
    }
}


@media (max-width: 350px) {

    page-reload {
        .dropdown-number-title {
            font-size: 11px!important
        }
    }
}