page-payment-reciept {
    .primary-title{
        .card-title{
            span{
                color: #999999;
                font-size: 14px;
            }
            .main{
                font-size: 24px;
                padding-bottom: 5px;
            }
        }
    }
  .section-container {
    padding: 16px;
    span {
        /* Your Subtitle Goes H: */
        font-family: $font-familyBold;
        font-size: 14px;
        color: #333333;
    }
    .row {
        display: inline-block;
        width: 100%;
        height: 32px;
        span {
            /* LIST ITEM: */
            font-family: $font-family;
            font-size: 16px;
            color: #333333;
            line-height: 16px;
        }
    }
}
.text-container2 {
  font-size: 16px;
  font-family: $font-family;
  color: #333333;
  line-height: 20px;
}
.action-btn-container {
    position: fixed;
    bottom: 0px;
    display: inline-grid;
    width: 100%;
    a {
        width: 100%;
        display: inline-block;
        font-family: $font-familyBold;
        font-size: 14px;
        color: $primary-Color;
        line-height: 14px;
        i {
            width: 13px;
            height: 10px;
            background-color: $primary-Color;
        }
    }
    .default-button {
        margin: 20px 20px;
        width: calc(100% - 40px);
        font-family: $font-familyBold;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 18px;
    }
}
.XPAX .action-btn-container a{
  color: #D1209B;
}
}
