<!--
  Generated template for the PaymentRecieptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Payment Receipt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
  
  
  
      <div class="primary-title">
          <!-- <div class="card-img">
              <img src="./assets/img/Oval.png">
          </div> -->
          <div class="card-title single-title">
              <div class="main">Payment Successful!</div>
              <!-- <span>You have successfully reloaded 15GB Monthly</span> -->
          </div>
      </div>
  
      <div class="section-container">
          <div class="row">
              <span class="float-left">Reference ID</span>
              <span class="float-right"  *ngIf="!is_paybill">{{transactionId}}</span>
              <span class="float-right"  *ngIf="is_paybill">{{transactionId}}</span>
          </div>
  
          <div class="row">
              <span class="float-left">Date</span>
              <span class="float-right"  *ngIf="!is_paybill">{{transactionDate}}</span>
              <span class="float-right"  *ngIf="is_paybill">{{transactionDate}}</span>
          </div>
          <div class="row">
            <span class="float-left">From</span>
            <span class="float-right" *ngIf="!is_paybill">{{mobilePaybill}}</span>
            <span class="float-right" *ngIf="is_paybill">{{mobileReload}}</span>
        </div>

        <div class="row" *ngIf="is_OleOle">
            <span class="float-left" >To (If any)</span>
            <span class="float-right">018-888-8888</span>
        </div>
        <div class="text-container2" *ngIf="is_OleOle">Lorem ipsum dolor sit amet, consectetur adipisci
                ng elit, sed do eiusmod tempor incididunt utlab
                ore et dolore magna aliqua.</div>
      </div>
  
  
      <div class="action-btn-container">
          <!-- <a (click)="openSelectCountryModal()" class="text-center">Secondary Call to Action if Required<i class="arrow-forward-icon"></i></a> -->
  
         <button ion-button class="default-button" (click)="goToConfirmation()">
        Done
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
      <div (click)="goToConfirmation()"></div>
      </div>
  
  </ion-content>
