<!--
  Generated template for the TransactionHistoryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Transaction Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="title-container">
    <span>{{TransactionTitle}}</span>
  </div>

  <div class="sub-title-container">
    <span>{{TYPE_TRANS}}</span>
  </div>


  <div class="transaction-title">
    <span>In-Application transaction</span>
  </div>

  <div class="transaction-table-details">
    <!-- <div class="row">
      <span class="float-left" >Transaction ID</span>
      <span class="float-right">098765432</span>
    </div> -->

    <div class="row">
      <span class="float-left" >Date</span>
      <span class="float-right">{{TransDate}}</span>
    </div>

    <div class="row">
      <span class="float-left" >From</span>
      <span class="float-right">{{MobileNumber}}</span>
    </div>
    <!--
          <div class="row">
            <span class="float-left" >To (If Any)</span>
            <span class="float-right">018-888-888</span>
          </div> -->
  </div>


  <div class="transaction-description">
    <p></p>
  </div>

  <div class="transaction-details-items-container">
    <div class="item-title">
      <span class="float-left" >Item</span>
      <span class="float-right">Credits</span>
    </div>

    <div class="item">
      <span class="float-left" >{{TYPE_TRANS}}</span>
      <span class="float-right">RM{{Amount}}</span>
    </div>

    <hr/>
    <div class="item">
      <span class="float-left" >Total</span>
      <span class="float-right">RM{{Amount}}</span>
    </div>
  </div>

  <!-- <div class="add-to-bill" (click)="goToHistoryDetailsPayBill()">
  Added to Bill -->
  <!-- <a (click)="goToHistoryDetailsPayBill()">Add to Bill</a>-->
  <!-- </div> -->


</ion-content>
