<!--
  Generated template for the ContactUsSocialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="content-container">
    <ion-grid>
        <ion-row>
          <ion-col>
            <a  (click)="openFacebookPage()">
              <i class="icon_facebook"></i>
              <h3>Facebook</h3>
            </a>
          </ion-col>
          <ion-col>
            <a (click)="openInstagramPage()">
              <i class="icon_instagram-filled"></i>
              <h3>Instagram</h3>
            </a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a (click)="openYoutubePage()">
              <i class="icon_youtube"></i>
              <h3>Youtube</h3>
            </a>
          </ion-col>
          <ion-col>
            <a (click)="openTwitterPage()">
              <i class="icon_twitter"></i>
              <h3>Twitter</h3>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
      

</ion-content>
