<ion-header>

  <ion-navbar>
    <ion-title>Delivery Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="adressContainer">

    <div class="alternativeTitle">Alternative Delivery Contact</div>
    <ion-item class="inputItem">
      <ion-input maxlength="10" type="tel" onpaste="return false;" (keyup)="keyUpChecker($event,ContactAlternateNum)" (blur)="blurChecker($event)" (focus)="blurChecker($event)" [(ngModel)]="userInfoData.ContactAlternateNum" placeholder="E.g. 019 199 1919" (keyup.enter)="handleKeyDone($event)"></ion-input>
    </ion-item>

    <div class="adressTitle">Address</div>

    <div class="checkBoxContent">
      <ion-item class="terms_cond">
        <ion-label>Use Current Billing Address</ion-label>
        <ion-checkbox [(ngModel)]="CurrentAddressSelected" [checked]="CurrentAddressSelected" (ionChange)="onChange($event.checked)"
                      type="checkbox"></ion-checkbox>
      </ion-item>

    </div>
    <ion-item class="inputItem">
      <ion-input maxlength="60" [disabled]="CurrentAddressSelected" type="text" [(ngModel)]="userInfoData.addrLine1" placeholder="Line 1 (House number, Jalan)" (keyup.enter)="handleKeyDone($event)"></ion-input>
    </ion-item>
    <ion-item class="inputItem">
      <ion-input maxlength="60" [disabled]="CurrentAddressSelected" type="text" [(ngModel)]="userInfoData.addrLine2" placeholder="Line 2 (Taman)" (keyup.enter)="handleKeyDone($event)"></ion-input>
    </ion-item>
    <ion-item class="inputItem postalContent">
      <ion-input maxlength="10" [disabled]="CurrentAddressSelected" type="tel" [(ngModel)]="userInfoData.PostalCode" placeholder="Postal Code" (keyup.enter)="handleKeyDone($event)"></ion-input>
    </ion-item>

    <div class="dropdown-cities">
      <ion-item class="inputItem postalContent">
        <ion-input maxlength="20" [disabled]="CurrentAddressSelected" type="text" [(ngModel)]="userInfoData.City" placeholder="City"></ion-input>
      </ion-item>
    </div>

    <div class="dropdown-states">
      <ion-item>
        <ion-select interface="popover" [disabled]="CurrentAddressSelected" placeholder="State" [(ngModel)]="userInfoData.State">
          <ion-option value="JH">Johor</ion-option>
          <ion-option value="KD">Kedah</ion-option>
          <ion-option value="KT">Kelantan</ion-option>
          <ion-option value="ML">Melaka</ion-option>
          <ion-option value="NS">Negeri Sembilan</ion-option>
          <ion-option value="PH">Pahang</ion-option>
          <ion-option value="PR">Perak</ion-option>
          <ion-option value="PL">Perlis</ion-option>
          <ion-option value="PN">Pulau Pinang</ion-option>
          <ion-option value="SB">Sabah</ion-option>
          <ion-option value="SW">Sarawak</ion-option>
          <ion-option value="SG">Selangor</ion-option>
          <ion-option value="TR">Terengganu</ion-option>
          <ion-option value="KU">W.P Kuala Lumpur</ion-option>
          <ion-option value="LB">W.P Labuan</ion-option>
        </ion-select>
      </ion-item>
      <i class="arrow-down-icon"></i>
    </div>
  </div>

  <div class="impTitle">Important</div>
  <div class="impInfoContainer">
    <div class="section1Title">Delivery Period</div>
    <hr/>
    <div class="text-container1">
      <div class="row">
        <span class="float-left">Within Klang Valley</span>
        <span class="float-right">1-2 working days</span>
      </div>

      <div class="row">
        <span class="float-left">Peninsular Malaysia</span>
        <span class="float-right">2-3 working days</span>
      </div>

      <div class="row">
        <span class="float-left">East Malaysia</span>
        <span class="float-right">3-5 working days</span>
      </div>

    </div>

    <div class="section1Title">SIM Charges</div>
    <hr/>
    <div class="text-container1">
      <div class="row">
        <span class="float-left">Length of stay
          < 1year</span>
        <span class="float-right">RM5.0</span>
      </div>

      <div class="row">
        <span class="float-left">Length of stay > 1year</span>
        <span class="float-right">Free</span>
      </div>


    </div>

    <div class="section1Title">Delivery Charges</div>
    <hr/>
    <div class="text-container1">
      <div class="row">
        <span class="float-left">Peninsular Malaysia</span>
        <span class="float-right">RM10.60</span>
      </div>

      <div class="row">
        <span class="float-left">Kuching</span>
        <span class="float-right">RM16.70</span>
      </div>

      <div class="row lastRow">
        <span class="float-left">East Malaysia</span>
        <span class="float-right">RM19.70</span>
      </div>


    </div>


  </div>

  <div class="proceedBtnContainer" ion-fixed>

    <button ion-button class="default-button" (click)="submitSimReplacement()">
      Proceed
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>
</ion-content>
