<!--
  Generated template for the NetworkLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="page-networkLogin">

  <ion-img class="logo-login" src="./assets/img/logo.svg"></ion-img>
<div class="btnDivContainer">
  <ion-item class="terms_cond">
    <ion-label>I accept the <a (click)="viewlegalPage(0)">Terms and Conditions</a> and <a (click)="viewlegalPage(1)">Privacy Policy</a></ion-label>
    <ion-checkbox [(ngModel)]="checkboxFlag" type="checkbox"
               (ionChange)="enableLogin()" class = "loginChkBox"></ion-checkbox>
  </ion-item>
  
    <button ion-button class="before-login" (click)="navigatetoMC()" [disabled]="!ischecked">Login</button>
  </div>

</ion-content>
