<ion-header>

  <ion-navbar>
    <ion-title>SIM Replacement</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div class="reasonsTitle">Select Reason for Replacement</div>

    <div class="reasonsContainer">
        <div class="internet-card-container payment" scrollX="true">
            <div class="internet-card" [ngClass]="{'selected': selectedReason == 'damaged'}" (click)="selectReason('damaged')">
                <span class="internet-card-title">
                    <i class="damage-icon"></i>
                </span>
                <span class="internet-card-subtitle">
                    <span>Damaged/ Faulty/ Permanent Block </span>
                </span>
            </div>
            <div class="internet-card" [ngClass]="{'selected': selectedReason == 'upgrade'}" (click)="selectReason('upgrade')">
                <span class="internet-card-title">
                    <i class="change-icon"></i>
                </span>
                <span class="internet-card-subtitle">
                   Change Phone / Upgrade
                </span>
            </div>
        </div>


        <div class="confirmBtn">


            <button ion-button class="default-button" (click)="goToDeliveryOptions()" [disabled]="!selectedReason">
          Next
          <i class="XPAX-Right-Bubble"></i>
          <i class="XPAX-Left-Bubble"></i>
        </button>

        </div>
    </div>
</ion-content>
