page-sim-replacement {
    
    .content {
        background: url("../assets/img/normal_page_bg.jpg");
        background-size: 100% auto;
    }
    
     .reasonsTitle {
        font-family: $font-family;
        font-size: 18px;
        padding: 15px;
    }
    
    .internet-card{
        width: 95% !important;
    }
    
    .internet-card-container{
        height: 220px !important;
    }
    
    .internet-card-subtitle{
        font-size: 16px !important;
    }
    .changeRepairSubTitle{
        color: #000 !important;
    }
    
    .change-icon{
        background-color: #666;
    }
    .damage-icon{
        background-color: #666;
    }
    .selected{
        .change-icon{
            background-color: #fff;
        }
        .damage-icon{
            background-color: #fff;
        }
    }
    .reasonsContainer{
        height:calc( 100% - 52px);
        background-color: #fff;
        padding-top: 5px !important;
          .internet-card{
            margin: 24px auto !important;
        }
    }
     .confirmBtn {
        position: absolute;
        bottom: 15px;
        left: 0;
        text-align: center;
        width: 100%;
        button {
            width: 90%;
            margin: 0 auto;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
            border-radius: 100px;
            outline: none !important;
        }
    }

}
