.ios,
.md {
    notification-drawer {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 11;
    }
}

.zindex9 {
    z-index: 9!important;
}

notification-drawer {
    .content {
        background: url(../assets/img/normal_page_bg.jpg) no-repeat !important;
        background-size: 100% auto !important;
    }
    super-tab-button.icon-only.selected {
        ion-icon {
            background: $primary-Color;
        }
    }
    .tab-buttons-container {
        background: #fff;
        .tab-buttons {
            span {
                text-transform: none;
            }
        }
    }
    ion-card {
        margin: 20px 16px !important;
        width: calc(100% - 32px) !important;
        background: #FFF !important;
        box-shadow: 0 -6px 16px 0 rgba(0, 0, 0, 0.02), 0 6px 16px 0 rgba(0, 0, 0, 0.15) !important;
        border-radius: 12px !important;
        ion-card-header {
            padding: 6px 11px!important;
            text-overflow: unset;
            white-space: normal;
            span {
                font-size: 24px;
            }
        }
        .alert {
            margin-top: 13px;
            margin-right: 16px;
            margin-left: 11px;
            ion-icon {
                background-color: #EA005A;
            }
            span {
                padding-left: 5px;
                color: #EA005A;
            }
        }
        .notification-header {
            margin-top: 13px;
            margin-right: 16px;
            margin-left: 11px;
            ion-icon {
                background-color: #999999;
            }
            span {
                padding-left: 5px;
                color: #999999;
            }
        }
        .time-stamp {
            text-align: right;
            font-size: 12px;
            color: #999999 !important;
            letter-spacing: 0;
            line-height: 12px;
        }
        ion-card-content {
            padding: 0px 11px 20px!important;
            span {
                font-size: 14px;
                line-height: 18px;
                display: inline-block;
            }


          .notification-content-container {
            margin-top: 15px;
            display: inline-flex;

            .notification-card-title {
              /* Title Goes Here: */
              font-family: $font-familyBold;
              font-size: 20px;
              color: #333333;
              letter-spacing: 0;
              line-height: 20px;
            }
            .notification-card-content {
              margin-top: 10px;
              font-family: $font-family;
              font-size: 14px;
              color: #333333;
              letter-spacing: 0;
              line-height: 18px;
            }
            .notification-content-left {
              width: 50%;
            }
            .notification-content-right {
              width: 50%;
            }
          }

        }
        hr {
            display: block;
            height: 1px!important;
            border: 0;
            border-top: 0.1px solid #ccc;
            margin: 0px 0 12px;
            padding: 0;
        }
        .button {
            height: 20px;
            margin: auto;
            padding: 0px;
            text-transform: none;
            font-size: 14px;
            margin-bottom: 12px;
            // margin-left: 11px;
            width: 48%;
            &.left-align{
                .button-inner{
                    justify-content: left;
                    padding-left: 15px;
                
                }
            }
            ion-icon {
                width: 8px;
                height: 14px;
                margin-left: 10px;
                margin-top: 3px;
                margin-bottom: 3px;
                padding: 0;
                background-color: $primary-Color;
            }
        }
        .right-button {
            border-radius: 0px !important;
            border-left: 1px solid #ccc;
        }
    }
    // .content {
    //     background: #434343;
    // }
    // .card-style {
    //     margin-bottom: 5px;
    //     margin-top: 0px;
    //     margin-right: 0px;
    //     margin-left: 0px;
    //     width: 100%;
    //     border-radius: 0px;
    //     div {
    //         padding-left: 29px;
    //     }
    // }
    // .head-card {
    //     background-color: #434343;
    //     margin-bottom: 0px;
    //     .white-font {
    //         color: #FFF;
    //         font-weight: bolder;
    //     }
    // }
    // .red-card {
    //     background-color: #D0021B;
    //     .white-font {
    //         color: #FFF;
    //     }
    //     .flat-button {
    //         border-radius: 0px;
    //         height: 28px;
    //         width: 117px;
    //         font-size: 11px;
    //     }
    //     p {
    //         opacity: .5
    //     }
    // }
    // .green-card {
    //     background-color: #7ED321;
    //     .gray-button {
    //         background-color: #4A4A4A;
    //         border-radius: 0px;
    //         height: 28px;
    //         width: 117px;
    //         font-size: 11px;
    //     }
    // }
    // .gray-card {
    //     background-color: $secondary-color;
    //     .gray-button {
    //         background-color: #4A4A4A;
    //         font-family: $font-family;
    //         border-radius: 0px;
    //         height: 28px;
    //         width: 117px;
    //         font-size: 11px;
    //     }
    // }
}

.XPAX notification-drawer {
    .content {
        background: url("../assets/img/detailed_usage_card_bg_xpax.png") no-repeat center top;
        background-size: cover;
    }
    super-tab-button.icon-only.selected {
        ion-icon {
            background: $XPAX-primary-Color;
        }
    }
    .tab-buttons-container {
        .indicator {
            background: $XPAX-primary-Color;
        }
    }
    ion-card {
        button {
            color: $XPAX-primary-Color;
            ion-icon {
                background-color: $XPAX-primary-Color;
            }
        }
    }
}
