<!--
  Generated template for the NetworkLoginLegalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <div class="float-left header-back-button" (click)="goBack()" >
      <i class="arrow-backward-icon"></i>
    </div>
    <ion-title>Legal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <super-tabs [selectedTabIndex]="selectedTab" id="TandCTabs">
    <super-tab title="Terms & Conditions" [root]="termsTab"></super-tab>
    <super-tab title="Privacy Policy" [root]="policyTab" ></super-tab>
  </super-tabs>
</ion-content>
