page-product-details {
  .page-container {
    padding-bottom: 75px;
    .product-details-content-container {
      padding: 10px 0;
      hr {
        margin-left: 16px;
        height: 1px;
        color: #CCCCCC;
      }


      .company-grid {
        width: 100%;
        .company-row {
          width: 100%;
          margin-top: 16px;
          margin-bottom: 16px;

          display: inline-flex;
          .company-item {
            width: 144px;
            padding: 16px;
            .company-logo {
              max-height: 48px;
              max-width: 55%;
              margin: 0 auto;
            }
            .company-title {
              margin-top: 10px;

              font-size: 16px;
              color: #333333;
              line-height: 20px;
            }

          }

        }

      }

    }

    .product-detail-section-header {
      width: 100%;
      padding: 5px 16px;
      font-size: 16px;
      color: rgba(51, 51, 51, 0.87);
      line-height: 20px;
      &.bold {
        font-family: $font-familyBold;
        font-size: 18px;
        color: rgba(51,51,51,0.87);
        line-height: 20px;
      }
    }


    .product-detail-img-container {
      width: 100%;
      height: 211px;
      display: inline-block;
      img {
        width: 100%;
      }
    }
    .product-detail-title {
      width: 100%;
      padding: 10px 16px;
      font-family: $font-familyBold;
      font-size: 24px;
      color: #333333;
      letter-spacing: 0;
      line-height: 24px;
    }
    .product-details-sub-title {
      width: 100%;
      padding: 0 16px;
      font-size: 14px;
      color: #999999;
      letter-spacing: 0;
      line-height: 14px;
    }
    .product-detail-supporting-text {
      width: 100%;
      padding: 10px 16px;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0;
      line-height: 20px;
    }
    .voucher-code {
      margin: 16px;
      width: calc(100% - 32px);
      height: 36px;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      line-height: 36px;
    }
    .product-detail-section-header-bold {
      width: 100%;
      padding: 5px 16px;
      font-family: $font-familyBold;
      font-size: 18px;
      color: rgba(51, 51, 51, 0.87);
      line-height: 20px;
    }
    .tabular-list {
      display: inline-block;
      padding: 8px 16px;
      width: 100%;
      .tabular-row {
        //height: 32px;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
        width: 100%;
        display: inline-block;
        span {
          //padding: 8px 0px;
        }
      }
    }
    .bounce-cards-container {
      width: 100%;
      padding: 10px 0px;
      .bounce-card {
        margin: 16px;
        padding: 16px;

        height: 96px;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        line-height: 20px;
        border: 1px solid #CCCCCC;
        border-radius: 4px;

        &.selected {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          background: $primary-Color;
          font-family: $font-familyBold;
          color: #FFFFFF;
          i {
            background-color: #fff;
          }
        }

        i {
          height: 32px;
          width: 32px;
          background-color: #797878;
        }

      }
    }
    .voucher-code-copy {
      display: inline-flex;
      width: 100%;
      .voucher-code {
        display: inline-block;
        width: 50%;
        height: 36px;
      }
      .voucher-code-copy-btn {
        margin: 16px;
        display: inline-block;
        width: 50%;
        height: 36px;
        font-family: $font-familyBold;
        button {
          height: 36px;
          margin: 0px;
          background: $primary-Color none;
        }
      }
    }
    .internet-card-container {
      .internet-card {
        span.internet-card-subtitle {
          font-family: $font-familyBold;
          font-size: 20px;
          color: $primary-Color;
          line-height: 24px;
          margin: 22px 0;
          height: 24px;
        }
        &.selected {
          span {
            color: #FFFFFF;
          }
        }
      }
    }
    .product-details-call-action-toggle {
      border-top: 1px #CCCCCC solid;
      border-bottom: 1px #CCCCCC solid;
      padding: 16px 16px 12px 16px;
      width: 100%;
      min-height: 70px;
      display: inline-block;
      .title {
        float: left;
        width: calc(100% - 80px);
        text-align: left;
        font-size: 16px;
        color: #333333;
        line-height: 40px;
        .action-call-more {
          font-family: $font-familyBold;
          font-size: 14px;
          color: $primary-Color;
          line-height: 14px;
          .arrow-forward-icon {
            display: inline-block;
            background-color: #009ADD;
            float: right;
            margin-top: 3px;
            margin-left: 15px;
            width: 6px;
            height: 11px;
          }
        }
      }
      .default-toggle {
        margin-top: 7px;
      }
      .buy-gift-container {
        .buyGift {
          width: 100%;
          color: $primary-Color;

          .full-width-select {
            width: 100%;
            max-width: 100%;
          }

          ion-select {
            .select-text {
              font-size: 16px;
              color: $primary-Color;
              line-height: 17px;
            }

            .select-icon {
              width: 20px !important;
              height: 20px !important;

              .select-icon-inner {
                width: 16px !important;
                height: 10px !important;

                -webkit-mask-image: url('../assets/img/arrow-down.svg');
                mask-image: url('../assets/img/arrow-down.svg');

                background: $primary-Color;

              }
            }
          }

        }
        .contact-folder-icon {
          height: 15px;
          width: 20px;
          background: $primary-Color;
        }
        .buy-gift-text-area {
          margin-top: 20px;
          height: 90px;
          border: 1px solid #999999;
          border-radius: 8px;
          font-size: 16px;
          letter-spacing: 0;
        }
        .inform-message {
          margin-top: 10px;
          width: 100%;
          font-size: 12px;
          color: #333333;
          letter-spacing: 0;
          line-height: 16px;
        }
      }
    }

    .product-details-terms-container {

      padding: 10px 0;

      .terms_cond {
        display: inline-flex;
        width: 60%;

        margin: 0 20%;

        color: #333;
        font-size: 12px;
        .checkbox {
          margin: 8px 10px 8px 2px !important;
          border-color: #009ade;
          .checkbox-icon {
            border-radius: 3%;
            border-color: rgba(1, 1, 1, 0.54);
            width: 17px;
            height: 17px;
          }
        }
        .item-cover {
          width: 12%;
        }
        .item-inner {
          border-bottom: none !important;
          a {
            color: #009ADE;
          }
        }
      }

      .checkbox-ios .checkbox-checked .checkbox-inner {
        left: 4.3px;
        top: 0px;
        width: 7px;
        height: 13px;
        border-width: 2px;
        border-top-width: 0;
        border-left-width: 0;
      }

      ion-label {
        white-space: normal;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0;
        line-height: 16px;

        a {
          padding: 0px;
        }
      }

      a {
        width: 100%;
        display: inline-block;
        font-family: $font-familyBold;
        font-size: 14px;
        color: $primary-Color;
        line-height: 14px;
        padding: 10px 0 5px;
        i {
          width: 13px;
          height: 10px;
          background-color: $primary-Color;
        }
      }

      .accept-terms {
        width: auto !important;
      }
    }

    .custom-section {
      margin-top: 100px;
      padding: 16px;

      .title {
        font-family: $font-familyBold;
        font-size: 18px;
        color: #333333;
        letter-spacing: 0;
        line-height: 24px;
      }
      p {
        font-size: 14px;
        color: #999999;
        letter-spacing: 0;
        line-height: 18px;
      }
    }
  }
  .button-container {
    z-index: 100;
    position: fixed;
    bottom: 0px;
    width: 100%;
    opacity: 0.96;
    background: #FFFFFF;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.20);

    .default-button {
      width: calc(100% - 20px);
      margin: 16px 10px;
    }
  }
}

.XPAX {
  page-product-details {
    .product-details-call-action-toggle {
      .buy-gift-container {
        .buyGift {
          .select-text {
            color: $XPAX-primary-Color !important;
          }

          .select-icon {
            .select-icon-inner {
              background: $XPAX-primary-Color !important;
            }

          }
        }
      }
    }
    .contact-folder-icon {
      background: $XPAX-primary-Color !important;
    }
    .internet-card-container {
      .internet-card {
        span.internet-card-subtitle {
          color: $XPAX-primary-Color;
        }
        &.selected {
          span {
            color: #FFFFFF;
          }
        }
      }
    }
    .bounce-cards-container {
      .bounce-card {
        &.selected {
          background: $XPAX-primary-Color;
        }
      }
    }
    .voucher-code-copy {
      .voucher-code-copy-btn {
        button {
          background: $XPAX-primary-Color none;
        }
      }
    }

    .product-details-terms-container {
      a {
        color: $XPAX-primary-Color;
      }
      i {
        background-color: $XPAX-primary-Color !important;
      }

    }
    .button-container {
      a {
        color: $XPAX-primary-Color;
      }
      i {
        background-color: $XPAX-primary-Color;
      }
    }
  }
}
