<!--
  Generated template for the OfferingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <div class="offering-header">
        <span>Find a wide range of deals every month, brought to you by our exclusive partnering merchants. </span>
    </div>

    <div>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-card (click)="openDetails()">
                        <img src="./assets/img/rewards/offering1.png" />
                        <div class="offering-content">
                            <span class="offering-card-title">
                                A long title breaks into two line at 14-pt
                            </span>
                            <p>
                            </p>
                        </div>


                    </ion-card>
                </ion-col>
                <ion-col col-6>
                    <ion-card (click)="openDetails()">
                        <img src="./assets/img/rewards/offering2.png" />
                        <div class="offering-content">
                            <span class="offering-card-title">
                                Title Goes Here
                            </span>
                            <p>
                                Lorem ipsum dolor sitamet

                            </p>
                        </div>
                    </ion-card>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-card (click)="openDetails()">
                        <img src="./assets/img/rewards/offering3.png" />
                        <div class="offering-content">
                            <span class="offering-card-title">
                                A long title breaks into two line at 14-pt
                            </span>
                            <p>
                            </p>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col col-6>
                    <ion-card (click)="openDetails()">
                        <img src="./assets/img/rewards/offering4.png" />
                        <div class="offering-content">
                            <span class="offering-card-title">
                                Title Goes Here
                            </span>
                            <p>
                                Lorem ipsum dolor sitamet

                            </p>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-card (click)="openDetails()">
                        <img src="./assets/img/rewards/offering5.png" />
                        <div class="offering-content">
                            <span class="offering-card-title">
                                A long title breaks into two line at 14-pt
                            </span>
                            <p>
                            </p>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col col-6>
                    <ion-card (click)="openDetails()">
                        <img src="./assets/img/rewards/offering6.png" />
                        <div class="offering-content">
                            <span class="offering-card-title">
                                Title Goes Here
                            </span>
                            <p>
                                Lorem ipsum dolor sitamet

                            </p>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>