<!--
  Generated template for the ProductDetailsDesignGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Product Details Master Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <!--Product Detail_Image Container-->
  <div class="product-detail-img-container" *ngIf="false">
    <img src="./assets/img/16_9_blank_img.png">
  </div>

  <div class="page-container">
    
    

    <!--Product Detail_Call to Action_Toggle-->
    <div class="product-details-content-container">

      <div class="product-details-call-action-toggle">
        <div class="title">Ole Ole (Gifting Service)</div>
        <!-- <ion-toggle [(ngModel)]="showGiftContainer" class="default-toggle float-right"></ion-toggle> -->

        
          <div class="buy-gift-container" [hidden]="!showGiftContainer">
            <form #gbShareAdmin="ngForm" >
              <div class="buyGift">
                <ion-item no-padding>
                  <ion-select  [(ngModel)]="gift_request" class="full-width-select" select interface="popover" placeholder="Phone Numbers" required name="gift_request" id="gift_request" ngModel [ngModelOptions]="{standalone: true}">
                    <!-- <ion-option value="" selected disabled>Select Industry</ion-option>
                    <ion-option selected value="buy_gift_for">Send e-Gift</ion-option>
                    <ion-option value="request_gift_from">Request e-Gift</ion-option> -->
                    <ion-option value="buy_for_self">Buy for Myself</ion-option>
                  </ion-select>
                </ion-item>
              </div>
              <!-- industryType - {{gbShareAdmin.controls.gift_request?.valid}} -->
              <!-- industryType - {{gbShareAdmin.controls.gift_request?.valid}} -->
              <ion-item no-padding>
                <ion-input  [disabled]="isSelf" [(ngModel)]="numberToSend" type="text" placeholder="019 199 1919" value="" [ngModelOptions]="{standalone: true}"></ion-input>
                <!-- <i item-end class="contact-folder-icon"> </i> -->
              </ion-item>
            </form>
          <ion-item class="buy-gift-text-area" no-padding>
            <ion-textarea placeholder="“Type your personalized message here”" value=""></ion-textarea>
          </ion-item>

          <!-- <div class="inform-message">*RMX.XX will be charged for this transaction.</div> -->
        </div>
      </div>

    </div>

   

  </div>

  <!-- *ngIf="showGiftContainer" -->
  <div class="button-container" ion-fixed>
    <!-- [disabled]="!gbShareAdmin.controls.gift_request?.valid" -->
    <button ion-button class="default-button"  (click)="SubscribeToGbShareAdminPostpaid()">
      Subscribe
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>


</ion-content>
