
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Store Locator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>



  <div class="page-container">
    <div class="select-region">
      <ion-select interface="popover" placeholder="Select Region" [(ngModel)]="selected_filter.region[0]" class="full-width-select">
        <ion-option *ngFor="let region of storeRegion" value="{{region.value}}">{{region.label}}</ion-option>
      </ion-select>
    </div>


    <ion-list no-lines>
      <button ion-item *ngFor="let store of storeArray | StoreFilter:selected_filter" (click)="openStoreDetail(store)">{{store.store_name}}<i item-end class="arrow-forward-icon"></i></button>
    </ion-list>


  </div>

  <div class="button-container">
    <button ion-button class="custom-button" (click)="openStoreLocatorFilterModal()" >Filter</button>


  </div>

</ion-content>
