<!--
  Generated template for the ConnectTacPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header class="otpHeader">
      <span class="arrow-backward-icon" (click)="goBack()" ></span>

</ion-header>

<ion-content padding class="page-connectTac">

  <h3 class="headerDiv">Enter One Time PIN (OTP)</h3>
  <ion-label class="msgLbl">Your OTP has been sent via SMS</ion-label>

  <div class="dashedInput">
<div class="dashedInputCont">
    <ion-input [(ngModel)]="otpInput1" maxlength="1" type="tel" class="inputDigit"
                #focus1  (keyup)="handlePin($event,1,focus2,noele)"></ion-input>
      <ion-input [(ngModel)]="otpInput2" maxlength="1" type="tel" class="inputDigit"
                #focus2  (keyup)="handlePin($event,2,focus3,focus1)"></ion-input>
      <ion-input [(ngModel)]="otpInput3" maxlength="1" type="tel"  class="inputDigit"
                #focus3  (keyup)="handlePin($event,3,focus4,focus2)"></ion-input>
      <ion-input [(ngModel)]="otpInput4" maxlength="1" type="tel" class="inputDigit"
                #focus4 (keyup)="handlePin($event,4,noele,focus3)"></ion-input>
      <div class="resendTacDiv" >Your OTP will expire in 2 mins</div>
    </div>
  </div>

  
  
  <div class="tcDivContainer">
      <ion-buttons  >

           <span><a href="#" tabIndex="-1" (click)="resendOTP()">Resend OTP</a></span>
            <div class="arrow-forward-icon"></div>

      </ion-buttons>

      <div class="otpResent">Limited to 5 resend attempts, after which please wait 10 mins before trying again</div>

  </div>


<div class="loginBtnContainer">
<button type="submit" class="default-button before-login" ion-button #connectSubmit (click)="gotoNetworkLogin()" [disabled]="!isenabled">Login</button>
</div>
</ion-content>





















